extends ../../../templates/navbarclient.pug
block content
    link(rel="stylesheet", href="/custom/alerts/css/popup.css")
    script(src="/sweetalert/dist/sweetalert.min.js")
    section#services
        .right_col.wow.fadeInDown(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                            .x_panel
                                .x_title
                                    h1
                                        b  Add Household Worker 
                                .x_title
                                    .clearfix
                                    .x_panel.alert-success(style='background-color:')
                                        h3(style="font-size:18px;")(align='center')
                                            b   &nbsp&nbsp&nbsp&nbsp&nbspDisclaimer !!!
                                                br
                                                br
                                            li
                                                |   To add household worker, you must create first a list of your service/s that you want to request.
                                            li
                                                |   Click the view button of the list you created to see the services that you requested.
                                    br
                                
                                .x_content
                                    br
                                    //- a(href='/request_add/createlist_services')
                                    button.btn.btn-success.btn-lg(type='button', data-toggle='modal', data-target='#Add')
                                        i.fa.fa-plus
                                        | &nbspCreate New List
                                    br
                                .x_panel(style='background-color:rgba(38,185,154,0.2)')
                                    each list in listtab
                                        if list.strRequestStatus != 'Finished' && list.strRequestStatus != 'Deleted'
                                            .col-md-4.col-sm-4.col-xs-12.profile_details
                                                .well.profile_view
                                                    .col-sm-6(align='right')(style='padding-right:10px')
                                                    |   #{list.datRequestDate}  
                                                    .col-sm-12
                                                        .right.col-sm-12
                                                        h3.brief    
                                                            b   " #{list.strRequestName} "
                                                        .left.col-sm-12
                                                            br
                                                            ul.list-unstyled
                                                                li
                                                                    strong List no: 
                                                                    |  #{list.intRequestID}
                                                                li
                                                                    strong Date needed: 
                                                                    |  #{list.datRequestNeedDate}
                                                                li
                                                                    strong Status: 
                                                                    |  #{list.strRequestStatus}
                                                    .col-xs-12.bottom.text-center
                                                        if list.strRequestStatus == 'Draft'
                                                            a(href='/request_add/mylist_'+list.intRequestID)
                                                                button.btn.btn-primary(type='button') View
                                                            button.btn.btn-danger(type='button', data-toggle='modal', data-target='#delete_draftlist', data-id=list.intRequestID) Delete
                                                        else if list.strRequestStatus =='On process'
                                                            a(href='/request_add/mylist_'+list.intRequestID)
                                                                button.btn.btn-primary(type='button') View
                                                            button.btn.btn-danger(type='button', data-toggle='modal', data-target='#cancel_onprocesslist', data-id=list.intRequestID) Cancel
                                                        else if list.strRequestStatus == 'Pending' 
                                                            a(href='/request_add/invoice_'+list.intRequestID)
                                                                button.btn.btn-info(type='button') View Invoice
                                                            a(href='/request_add/mylist_'+list.intRequestID)
                                                                button.btn.btn-primary(type='button') View
                                                            button.btn.btn-danger(type='button', data-toggle='modal', data-target='#Delete3') Cancel
                                                        else if list.strRequestStatus == 'Approved' 
                                                            a(href='/request_add/invoice_'+list.intRequestID)
                                                                button.btn.btn-info(type='button') View Invoice
                                                            a(href='/request_add/mylist_'+list.intRequestID)
                                                                button.btn.btn-primary(type='button') View
                                                            button.btn.btn-danger(type='button', data-toggle='modal', data-target='#Delete3') Cancel
                                                        else if list.strRequestStatus == 'Rejected'
                                                            a(href='/request_add/mylist_'+list.intRequestID)
                                                                button.btn.btn-primary(type='button') View
                                                            button.btn.btn-danger(type='button', data-toggle='modal', data-target='#D') Delete
                                                        else if list.strRequestStatus == 'Cancelled'
                                                            a(href='/request_add/mylist_'+list.intRequestID)
                                                                button.btn.btn-primary(type='button') View
                                                            button.btn.btn-danger(type='button', data-toggle='modal', data-target='#remove_list', data-id=list.intRequestID) Remove
                                        else


    //- modal
    #delete_draftlist.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header(style="background-color:#2A3F54; color:white")
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Delete List
                .modal-body
                    form#delete(method='POST' action='/request_add/delete_draftlist')
                        br
                        input(id='listid' type='text' name='transid', value='' , style="display:none;")  
                        .form-group
                            center 
                                h3 Are you sure you want to delete
                                    |
                                    p this list?
                        .ln_solid
                        .form-group.pull-right
                            .col-md-12.col-sm-9.col-xs-12.pull-right
                                button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
                                button.btn.btn-danger(type='submit' name='btn1' value='delete') Delete
    #cancel_onprocesslist.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header(style="background-color:#2A3F54; color:white")
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Cancel List
                .modal-body
                    form#cancel(method='POST' action='/request_add/cancel_onprocesslist')
                        br
                        input(id='listid' type='text' name='transid', value='' , style="display:none;")  
                        .form-group
                            center 
                                h3 Are you sure you want to cancel
                                    |
                                    p this list?
                        .ln_solid
                        .form-group.pull-right
                            .col-md-12.col-sm-9.col-xs-12.pull-right
                                button.btn.btn-primary(type='button', data-dismiss='modal') No
                                button.btn.btn-danger(type='submit' name='btn1' value='cancel') Yes
    #remove_list.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header(style="background-color:#2A3F54; color:white")
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Remove List
                .modal-body
                    form#remove(method='POST' action='/request_add/remove_list')
                        br
                        input(id='listid' type='text' name='transid' hidden)  
                        .form-group
                            center 
                                h3 Are you sure you want to Remove
                                    |
                                    p this list?
                        .ln_solid
                        .form-group.pull-right
                            .col-md-12.col-sm-9.col-xs-12.pull-right
                                button.btn.btn-primary(type='button', data-dismiss='modal') No
                                button.btn.btn-danger(type='submit' name='btn1' value='permdelete') Yes
   
    #Add.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-md
            form#add(method='POST' action='/request_add/createlist_services/createlist')
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h2#myModalLabel.modal-title(align='center')(style='color:white') 
                            p(style="text-align:center; font-weight:bold; font-size:28px") Create List
                    br
                    .modal-body
                        .row
                            .col-md-1
                                .form-group
                            .row
                                .col-md-5
                                    .form-group
                                        b   Name of List
                                        input.form-control(type='text', name='reqname', required)
                                        input.form-control(id='thedate' type='date', name='reqdate' style='display:none;')
                                .col-md-5
                                    .form-group
                                        b   Date Needed
                                        input.form-control(type='date', name='dateneed' required)
                        .row
                            .col-md-1
                                .form-group     
                            .row
                                .col-md-10
                                    .form-group
                                        b   Other Details
                                        textarea.form-control.AddMessage(rows='10' name='reqdesc')
                    .modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
                        button#add.btn.btn-success.btn-md(type='submit',  onCLick='time();') Create
    
    //- scripts
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script.
        $(document).ready(function(){
            $('form#add').submit(function(){
                swal({
                    type: 'success',
                    title: 'Success!',
                    text:  'List successfully created.',
                    showConfirmButton: false,
                    timer: 2000
                    }),
                $('#Add').modal('hide').then(
                    $(function(){
                        location.reload();
                        })
                );
            });
        });
    script.
        function time(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            var x= document.getElementById("thedate");
            
            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = yyyy + '-' + mm + '-' + dd ;
            //- document.write(today);
           document.getElementById("thedate").value=today;
        }