extends ../../../templates/navbarclient.pug
block content
    section#services
        .right_col(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_panel
                                .x_content
                                    section.content.invoice
                                        // title row
                                        .row
                                            .col-xs-12.invoice-header
                                                each dc in dctab
                                                    h1
                                                        i.fa.fa-globe
                                                        |  Invoice.
                                                        small.pull-right Date: #{dc.datDateRequested}
                                            // /.col
                                        // info row
                                        .row.invoice-info
                                            .col-sm-4.invoice-col
                                                each agency in agencytab
                                                    | From
                                                    address
                                                        strong #{agency.strName}
                                                        br
                                                        | #{agency.strAddress}
                                                        br
                                                        | #{agency.strTelNum}
                                                        br
                                                        | #{agency.strEmail}
                                            // /.col
                                            .col-sm-4.invoice-col
                                                each client in clienttab
                                                    | To
                                                    address
                                                        strong #{client.strFName} #{client.strLName}
                                                        br
                                                        | #{client.strPAddress}
                                                        br
                                                        | Phone: #{client.strContact}
                                                        br
                                                        | Email: #{client.strEmail}
                                            // /.col
                                            .col-sm-4.invoice-col
                                                br
                                                h3
                                                    each dc in dctab
                                                        big
                                                            b Invoice:
                                                        |  #{dc.strInvoiceNum}
                                                br
                                            // /.col
                                        // /.row
                                        // Table row
                                        .row
                                            br
                                            .col-xs-12.table
                                                table.table.table-striped
                                                    thead
                                                        tr
                                                            th Service
                                                            th Qty
                                                            th Rate	
                                                            th Subtotal
                                                    tbody
                                                        each item in itemtab
                                                            //- each agencyf in agencyftab
                                                            tr
                                                                td #{item.strName}
                                                                td #{item.service}
                                                                td P #{item.fltFee}
                                                                td P #{item.subtotal}
                                            // /.col
                                        // /.row
                                        .row
                                            // accepted payments column
                                            .col-xs-6
                                            // /.col
                                            .col-xs-5
                                                //- p.lead Amount Due 2/22/2014
                                                .table-responsive
                                                    table.table
                                                        tbody
                                                            tr
                                                                th Subtotal:
                                                                each subtotal in subtotaltab
                                                                    td(align='right') P #{subtotal.subtotal}
                                                                    input(id='subtot' type="number", value=subtotal.subtotal style="display:none;")
                                                            tr
                                                                each otherfee in otherfeetab 
                                                                    th #{otherfee.strName} Fee:
                                                                    td(align='right') P #{otherfee.fltFee}
                                                                    input(id='othfee' type="number", value=otherfee.fltFee style="display:none;")
                                                            tr
                                                                th Total:
                                                                td(align='right')
                                                                    p#tots
                                                                //- input(id = 'tots' type="number", name="")
                                            // /.col
                                        // /.row
                                        br
                                        // this row will not appear when printing
                                        .row.no-print
                                            .col-xs-12
                                                //- button.btn.btn-success.pull-right(onclick='window.print();')
                                                //-     i.fa.fa-print
                                                //-     |  Print
                                                //- // button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button
                                                //- button.btn.btn-primary.pull-right(style='margin-right: 5px;')
                                                //-     i.fa.fa-download
                                                //-     |  Generate PDF
                                                br
                                                br
                                                a(href='/request_add')
                                                    button.btn.btn-primary.btn-lg.pull-right(type='button') Back to List

        script.
            function total(){
                 var subtot=parseInt(document.getElementById("subtot").value)
                 var othfee=parseInt(document.getElementById("othfee").value)
                 var total;

                 total = subtot+othfee;

                 document.getElementById("tots").innerHTML = 'P '+total;
            }
