extends ../../../templates/navbarclient.pug
block content
    section#services
        .right_col.wow.fadeInDown(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_title
                                h1 
                                    b   Household Worker List
                                .clearfix
                            br
                            br
                            div(role='tabpanel', data-example-id='togglable-tabs')
                                ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                    li.active(role='presentation')
                                        a#current-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') Current Household Worker
                                    //- li(role='presentation')
                                        a#replaced-tab(href='#tab_content2', role='tab', data-toggle='tab', aria-expanded='false') Replaced Household Worker
                                    li(role='presentation')
                                        a#reported-tab(href='#tab_content3', role='tab', data-toggle='tab', aria-expanded='false') Previous Household Worker
                                #myTabContent.tab-content
                                    #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='current-tab')
                                        table#datatable-responsive.table.jambo_table.table-bordered
                                            thead
                                                tr
                                                    th NAME
                                                    th SERVICE
                                                    th STATUS
                                                    th ACTION
                                            tbody
                                                each myhw in myhwtab
                                                    if myhw.strCurStatus =='Current' || myhw.strCurStatus =='Reliever' || myhw.strCurStatus =='On Leave' || myhw.strCurStatus =='To be replaced'
                                                        tr
                                                            td #{myhw.strFName} #{myhw.strLName}
                                                            td #{myhw.strName}
                                                            td #{myhw.strCurStatus}
                                                            td
                                                                a(href="/home_client/hw_profile_"+myhw.intConHWID)
                                                                    button.btn.btn-sm.btn-primary(type='button') View Profile
                                                                    

                                    //- #tab_content2.tab-pane.fade.in(role='tabpanel', aria-labelledby='replaced-tab')
                                    //-     table#datatable-responsive.table.jambo_table.table-bordered
                                    //-         thead
                                    //-             tr
                                    //-                 th NAME
                                    //-                 th SERVICE
                                    //-                 th STATUS
                                    //-                 th ACTION
                                    //-         tbody
                                    //-             each myhw in myhwtab
                                    //-                 if myhw.strCurStatus =='Replaced' || myhw.strCurStatus =='To be replaced'
                                    //-                     tr
                                    //-                         td #{myhw.strFName} #{myhw.strLName}
                                    //-                         td #{myhw.strName}
                                    //-                         td #{myhw.strCurStatus}
                                    //-                         td
                                    //-                             a(href="/home_client/hw_profile_"+myhw.intConHWID)
                                                                    button.btn.btn-sm.btn-primary(type='button') View Profile
                                    #tab_content3.tab-pane.fade.in(role='tabpanel', aria-labelledby='reported-tab')
                                        table#datatable-responsive.table.jambo_table.table-bordered
                                            thead
                                                tr
                                                    th NAME
                                                    th SERVICE
                                                    th STATUS
                                                    th ACTION
                                            tbody
                                                each myhw in myhwtab
                                                    if myhw.strCurStatus == 'Terminated' || myhw.strCurStatus =='Replaced'
                                                        tr
                                                            td #{myhw.strFName} #{myhw.strLName}
                                                            td #{myhw.strName}
                                                            td #{myhw.strCurStatus}
                                                            td
                                                                a(href="/home_client/hw_profile_"+myhw.intConHWID)
                                                                    button.btn.btn-sm.btn-primary(type='button') View Profile
                                                    
   
    //- scripts
    script.
        function time(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            var x= document.getElementById("thedate");
            
            if(dd<10) {
                dd = '0'+dd
            } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd ;
                //- document.write(today);
               document.getElementById("thedate").value=today;
            }
            
