extends ../../../templates/navbarclient.pug

block content
    .right_col(role='main')
        .page-title
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_panel
                            .x_title
                                h1 Household Worker List
                                .clearfix
                            br
                            br
                            div(role='tabpanel', data-example-id='togglable-tabs')
                                ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                    li.active(role='presentation')
                                        a#current-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') Current Household Worker
                                    li(role='presentation')
                                        a#replaced-tab(href='#tab_content2', role='tab', data-toggle='tab', aria-expanded='false') Replaced Household Worker
                                    li(role='presentation')
                                        a#reported-tab(href='#tab_content3', role='tab', data-toggle='tab', aria-expanded='false') Reported Household Worker
                                #myTabContent.tab-content
                                    #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='current-tab')
                                        table#datatable-responsive.table.table-striped.table-bordered
                                            thead
                                                tr
                                                    th NAME
                                                    th SERVICE
                                                    th ACTION
                                    #tab_content2.tab-pane.fade.in(role='tabpanel', aria-labelledby='replaced-tab')
                                        table#datatable2-responsive.table.table-striped.table-bordered
                                            thead
                                                tr
                                                    th NAME
                                                    th SERVICE
                                                    th ACTION
                                    #tab_content3.tab-pane.fade.in(role='tabpanel', aria-labelledby='reported-tab')
                                        table#datatable3-responsive.table.table-striped.table-bordered
                                            thead
                                                tr
                                                    th NAME
                                                    th SERVICE
                                                    th ACTION
                            //- h3 Current Household Workers
                            //- table#datatable-responsive.table.table-striped.table-bordered
                            //-     thead
                            //-         tr
                            //-             th NAME
                            //-             th SERVICE
                            //-             th REPLACEMENT LEFT
                            //-             th STATUS
                            //-             th ACTION
                            //-     tbody
                            //-         each currenthw in currenthwtab
                            //-             tr
                            //-                 //- td #{currenthw.}
                            //-                 td #{currenthw.strFName} #{currenthw.strLName}
                            //-                 td #{currenthw.strName}
                            //-                 td #{currenthw.intConReplacementLeft}
                            //-                 td #{currenthw.strCurStatus}
                            //-                 td
                            //-                     button.btn.btn-primary.btn-md(type='button') View Profile
                            //-                     if currenthw.strCurStatus == 'Current'
                            //-                         if currenthw.intConReplacementLeft !=0
                            //-                             button.btn.btn-danger.btn-md(type='button' data-toggle='modal', data-target='#replace', data-transid=currenthw.intConTransID, data-transno=currenthw.intConReqNo, data-hwid=currenthw.intConHWID,
                            //-                                                         data-hwfname=currenthw.strFName, data-hwlname=currenthw.strLName) Replace
                            //-                         else
                            //-                             button.btn.btn-danger.btn-md(type='button') Terminate Contract
                                                //- else if currenthw.strCurStatus == 'To be replaced'
                                                //-     a(href='/request_replacement/replace_list_'+currenthw.intConTransID+currenthw.intConHWID)
                                                //-         button.btn.btn-info.btn-md(type='button') View Details
                                                    button.btn.btn-danger.btn-md(type='button') Cancel
                                                    
   
    //- scripts
    script.
        function time(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            var x= document.getElementById("thedate");
            
            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = yyyy + '-' + mm + '-' + dd ;
            //- document.write(today);
           document.getElementById("thedate").value=today;
        }
        