extends ../../../templates/navbarclient
block content
    section#services
        .right_col(role='main' style="background-color:transparent;")
            .page-title
                .title_left
                    each user in usertab
                        h1
                            b Welcome, #{user.strFName}.          
            .clearfix        
                .row
                    .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_title
                        h2 Home  
                        .clearfix
                        .x_content
                        br
                        .col-md-12.col-sm-12.col-xs-12
                            .x_panel
                            div(role='tabpanel', data-example-id='togglable-tabs')
                                        ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                            li.active(role='presentation')
                                                a#home-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') My Request
                                            li(role='presentation')
                                                a#profile-tab(href='#tab_content2', role='tab', data-toggle='tab', aria-expanded='false') Incoming Request
                                            li(role='presentation')
                                                a#history-tab(href='#tab_content3', role='tab', data-toggle='tab', aria-expanded='false') History	
                                        #myTabContent.tab-content
                                            #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
                                                // My Request
                                                .row
                                                    .col-md-12
                                                        br
                                                        .x_content
                                                            .row
                                                                .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                    .well.profile_view(style='width:100%')
                                                                        .col-xs-12
                                                                            center
                                                                                h2
                                                                                    br
                                                                                    | Type of Request:
                                                                                    b &nbsp&nbspAdd Household Worker
                                                                                    br
                                                                            .col-xs-12.text-center
                                                                                p
                                                                                h2 You have successfully sent this request. This request is awaiting for approval.
                                                                                p
                                                                                br
                                                                        .col-xs-12.bottom.text-center
                                                                            a(href='createlist')
                                                                                button.btn.btn-primary(type='button')
                                                                                    | View
                                            // END My Request
                                            #tab_content2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                                                // Incoming Request
                                                each lr in leaveReq
                                                    if lr.strLeaveStatus == 'For Client Approval'
                                                        .row
                                                            .col-md-12
                                                                br
                                                                .x_content
                                                                    .row
                                                                        .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                            .well.profile_view(style='width:100%')
                                                                                .col-xs-12
                                                                                    center
                                                                                        h2
                                                                                            br
                                                                                            | Type of Request:
                                                                                            b &nbsp&nbspLeave
                                                                                            br
                                                                                    .col-xs-12.text-center
                                                                                        p
                                                                                        h2
                                                                                            | #{lr.strFName} #{lr.strLName} sent you request. This request is awaiting for your approval.
                                                                                        p
                                                                                        br
                                                                                -var fullname = lr.strLName + " " + lr.strFName + " " + lr.strMName
                                                                                .col-xs-12.bottom.text-center
                                                                                    button.btn.btn-info.btn-sm(data-toggle='modal', data-target='#viewLeave',
                                                                                        data-name=fullname, data-image=`../images/${lr.strPicture}`, data-ty=lr.strName, data-na=lr.intHouseholdID, data-id=lr.intLeaveRequestID,
                                                                                        data-start=lr.datDateFrom, data-end=lr.datDateTo, data-add=lr.strAddressOnLeave, data-reason=lr.strReason) View
                                                    else if lr.strLeaveStatus == 'On-going'
                                                        .row
                                                            .col-md-12
                                                                br
                                                                .x_content
                                                                    .row
                                                                        .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                            .well.profile_view(style='width:100%')
                                                                                .col-xs-12
                                                                                    center
                                                                                        h2
                                                                                            br
                                                                                            | Type of Request:
                                                                                            b &nbsp&nbspLeave
                                                                                            br
                                                                                    .col-xs-12.text-center
                                                                                        p
                                                                                        h2
                                                                                            |  You may choose a reliever while #{lr.strFName} #{lr.strLName} is on Leave. #{lr.strFName} #{lr.strLName} will be on leave on #{lr.datDateFrom}.
                                                                                        p
                                                                                        br
                                                                                -var fullname = lr.strLName + " " + lr.strFName + " " + lr.strMName
                                                                                .col-xs-12.bottom.text-center
                                                                                    button.btn.btn-info.btn-sm(data-toggle='modal', data-target='#viewLeave',
                                                                                        data-name=fullname, data-image=`../images/${lr.strPicture}`, data-ty=lr.strName, data-na=lr.intHouseholdID, data-id=lr.intLeaveRequestID,
                                                                                        data-start=lr.datDateFrom, data-end=lr.datDateTo, data-add=lr.strAddressOnLeave, data-reason=lr.strReason) View Leave Details
                                                                                    button.btn.btn-primary-sm(type='button') Choose a Reliver
                                                    else if lr.strLeaveStatus == 'Approved'
                                                        .row
                                                            .col-md-12
                                                                br
                                                                .x_content
                                                                    .row
                                                                        .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                            .well.profile_view(style='width:100%')
                                                                                .col-xs-12
                                                                                    center
                                                                                        h2
                                                                                            br
                                                                                            | Type of Request:
                                                                                            b &nbsp&nbspLeave
                                                                                            br
                                                                                    .col-xs-12.text-center
                                                                                        p
                                                                                        h2
                                                                                            | #{lr.strFName} #{lr.strLName} will be on leave on #{lr.datDateFrom}. You did not choose a reliver.
                                                                                        p
                                                                                        br
                                                                                -var fullname = lr.strLName + " " + lr.strFName + " " + lr.strMName
                                                                                .col-xs-12.bottom.text-center
                                                                                    button.btn.btn-info.btn-sm(data-toggle='modal', data-target='#viewLeave',
                                                                                        data-name=fullname, data-image=`../images/${lr.strPicture}`, data-ty=lr.strName, data-na=lr.intHouseholdID, data-id=lr.intLeaveRequestID,
                                                                                        data-start=lr.datDateFrom, data-end=lr.datDateTo, data-add=lr.strAddressOnLeave, data-reason=lr.strReason) View Leave Details
                                                                                    button.btn.btn-primary-sm(type='button') Choose a Reliver
                                                each replace in replacetab
                                                    .row
                                                        .col-md-12
                                                            br
                                                            .x_content
                                                                .row
                                                                    .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                        .well.profile_view(style='width:100%')
                                                                            .col-xs-12
                                                                                center
                                                                                    h2     
                                                                                        br
                                                                                        | Type of Request:
                                                                                        b &nbsp&nbsp Replacement of Client
                                                                                        br
                                                                                .col-xs-12.text-center
                                                                                    if replace.strRequestStatus == 'Draft'
                                                                                        p
                                                                                        h2
                                                                                            | Your household worker wants you to replace him/her. Your reamaining replacement will not decrease when you search for a replacement because this is not your request. This is a valid request and was validated by the agency. Failure to find a replacement for the household worker 
                                                                                            | will result to termination of his/her contract.
                                                                                        p
                                                                                        br
                                                                                    else if replace.strRequestStatus == 'On process'
                                                                                        p
                                                                                        h2
                                                                                            | You can monitor your list for replacement for #{replace.hwfname} here.
                                                                                        p
                                                                                        br
                                                                                    else if replace.strRequestStatus == 'Pending'
                                                                                        p
                                                                                        h2
                                                                                            | Your request for replacement for replacement for #{replace.hwfname} is now awaiting for the approval of the admin. You can monitor your list for replacement here.
                                                                                        p
                                                                                        br

                                                                            .col-xs-12.bottom.text-center
                                                                                if replace.strRequestStatus == 'Draft'
                                                                                    a(href='/request_replacement/replace_list_'+replace.intRequestID+replace.hwid)
                                                                                        button.btn.btn-primary(type='button') Find Replacement
                                                                                else if replace.strRequestStatus == 'On process'
                                                                                    a(href='/request_replacement/replace_list_'+replace.intRequestID+replace.hwid)
                                                                                        button.btn.btn-primary(type='button') Monitor List
                                                                                else if replace.strRequestStatus == 'Pending'
                                                                                    a(href='/request_replacement/replace_list_'+replace.intRequestID+replace.hwid)
                                                                                        button.btn.btn-primary(type='button') Monitor List
                                                                                    button.btn.btn-primary(type='button') View Invoice             
                                            // END Incoming Request
                                            #tab_content3.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                                                // History
                                                each finreq in finreqtab
                                                    .row
                                                        .col-md-12
                                                            br
                                                            .x_content
                                                                .row
                                                                    .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                        .well.profile_view(style='width:100%')
                                                                            .col-xs-12
                                                                                center
                                                                                    h2
                                                                                        br
                                                                                        | Ttype of Request: #{finreq.strRequestType}
                                                                                .col-xs-12.text-center
                                                                                    p
                                                                                    h2
                                                                                        h2
                                                                                            p This request is #{finreq.strRequestStatus}.  Date requested: #{finreq.datRequestDate} 
                                                                                            br
                                                                            .col-xs-12.bottom.text-center
                                                                                button.btn.btn-primary(type='button') View Details

        #viewLeave.modal.fade.bs-add-modal-xs(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-xs
                form(method="POST"  action="/home_client")
                    .modal-content
                        .modal-header(style="background-color:#2A3F54; color:white")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                            h4#myModalLabel.modal-title Leave Request Info
                        .modal-body
                            input#id(type="number" name="id" hidden)
                            input#hwID(type="number" name="hwid" hidden)
                            .row.lg-12
                                .col-md-5
                                    .profile_img
                                        img#imagepre(src="" style=' height: 220px; width:100%;')
                                        h4(style="margin-left:40px")#fullname
                                .col-md-7
                                    .row
                                        .col-md-12
                                            b Do you need a Reliever?
                                            select.form-control(name='reliever')
                                                option(value='Yes') Yes
                                                option(value='No') No
                                    .row
                                        h5
                                            b Type of Leave: 
                                            l#type
                                    .row
                                        .col-md-6
                                            h5
                                                b From: 
                                                l#start
                                        .col-md-6
                                            h5
                                                b To: 
                                                l#end
                                    .row
                                        h5
                                            b Address: 
                                            l#add
                                    .row
                                        .form-group
                                            h5
                                                b Reason:
                                            textarea#exampleTextarea.form-control(rows='3' readonly)
                        .modal-footer
                            button.btn.btn-primary(type='submit') Approve
            //- scripts
        script.
            function time(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                var hh = today.getHours();
                var min = today.getMinutes();
                var sec = today.getSeconds();
                var x= document.getElementById("thedate");
                
                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd ;
                //- document.write(today);
            document.getElementById("thedate").value=today;
            }