extends ../../../templates/navbarclient.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                                    .x_title

                                        .pull-right
                                            each list in listtab
                                                each oldhwservice in oldhwservicetab
                                                    a(href='/request_replacement/replace_list_/-/'+list.intRequestID+'/-/'+oldhwservice.intHWID)
                                                        button.btn.btn-primary.btn-lg(type='button') Back
                                        center
                                            h3
                                                b Results
                                    br
                                
                                
                                    .x_panel(style='background-color:#394D5F')
                                        h2(style="font-weight:bold; color:white") Suggested service/s from the Admin:
                                    br
                                    br
                                    table#datatable-responsive.table.table-striped.table-bordered
                                        thead
                                            tr
                                                //- th ID
                                                th(style="text-align:center") NAME
                                                th(style="text-align:center") SERVICE
                                                th(style="text-align:center") AGE
                                                th(style="text-align:center") Gender
                                                th(style="text-align:center") EDUCATION
                                                th(style="text-align:center") WORK EXPERIENCE
                                                th(style="text-align:center") ACTION
                                            tbody
                                                each hw in hwtab
                                                    each list in listtab
                                                        if hw.strRClientStatus == 'Waiting'
                                                            tr(style="text-align:center")
                                                            form#demo-form2.form-horizontal.form-label-left(method="POST" action="/request_replacement/decision_"+hw.intRRequest_No)
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='hwid', value=''+hw.intRHWID, style="display:none;")
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transid', value=''+hw.intRRequestID, style="display:none;")
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='reqno', value=''+hw.intRRequest_No, style="display:none;")
                                                                each oldhwservice in oldhwservicetab
                                                                    input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='oldhwid', value=''+oldhwservice.intHWID, style="display:none;")                                    
                                                                //- td #{hw.intRHWID}
                                                                    //- input(type="number" name= 'hwid' style='visibility:hidden;', value=''+resulta.intHWID)
                                                                td(style="text-align:center") #{hw.stFName} #{hw.strLName}
                                                                td(style="text-align:center") #{hw.strName}
                                                                td(style="text-align:center") #{hw.age}
                                                                td(style="text-align:center") #{hw.strGender}
                                                                td(style="text-align:center") 
                                                                td(style="text-align:center") 
                                                                td(style="text-align:center")
                                                                    a(href='/home_client/hw_profile_'+hw.intRHWID)
                                                                        button.btn.btn-primary(type='button') View Profile
                                                                    button.btn.btn-success#approveHW(type='submit' name='btn1' value='approve') Approve
                                                                    button.btn.btn-danger#rejectHW(type='submit' name='btn1' value='reject') Reject

                    .col-md-12.col-sm-12.col-xs-12
                        br
                        .x_panel(style='background-color:rgba(38,185,154,0.3)')
                                    br
                                    .x_title
                                        .x_panel(style='background-color:#394D5F; border-color:#394D5F')
                                            h2(style="font-weight:bold; color:white") Service/s you approved:
                                    table#datatable2.table.table-striped.table-bordered
                                        thead
                                            tr
                                                //- th ID
                                                th(style="text-align:center") NAME
                                                th(style="text-align:center") SERVICE
                                                th(style="text-align:center") AGE
                                                th(style="text-align:center") Gender
                                                th(style="text-align:center") EDUCATION
                                                th(style="text-align:center") WORK EXPERIENCE
                                                th(style="text-align:center") ACTION
                                            tbody
                                                each hw in hwtab
                                                    each list in listtab
                                                        if hw.strRClientStatus == 'Approved'
                                                            tr(style="text-align:center")
                                                            form#demo-form2.form-horizontal.form-label-left(method="POST" action="/request_replacement/decision_"+hw.intRRequest_No)
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='hwid', value=''+hw.intRHWID, style="display:none;")
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transid', value=''+hw.intRRequestID, style="display:none;")
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='reqno', value=''+hw.intRRequest_No, style="display:none;")
                                                                each oldhwservice in oldhwservicetab
                                                                    input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='oldhwid', value=''+oldhwservice.intHWID, style="display:none;")                                    
                                                                //- td #{hw.intRHWID}
                                                                    //- input(type="number" name= 'hwid' style='visibility:hidden;', value=''+resulta.intHWID)
                                                                td(style="text-align:center") #{hw.stFName} #{hw.strLName}
                                                                td(style="text-align:center") #{hw.strName}
                                                                td(style="text-align:center") #{hw.age}
                                                                td(style="text-align:center") #{hw.strGender}
                                                                td(style="text-align:center") 
                                                                td(style="text-align:center") 
                                                                td(style="text-align:center")
                                                                    a(href='/home_client/hw_profile_'+hw.intRHWID)
                                                                        button.btn.btn-primary(type='button') View Profile
                                                                    button.btn.btn-danger.btn-md.revertHW(type='submit'  name='btn1' value='revert') Remove

                    .col-md-12.col-sm-12.col-xs-12
                        br
                        .x_panel(style='background-color:rgba(231,76,60,0.3)')
                                    br
                                    .x_title
                                        .x_panel(style='background-color:#394D5F; border-color:#394D5F')
                                            h2(style="font-weight:bold; color:white") Service/s you rejected:
                                    table#datatable3.table.table-striped.table-bordered
                                        thead
                                            tr
                                                //- th ID
                                                th(style="text-align:center") NAME
                                                th(style="text-align:center") SERVICE
                                                th(style="text-align:center") AGE
                                                th(style="text-align:center") Gender
                                                th(style="text-align:center") EDUCATION
                                                th(style="text-align:center") WORK EXPERIENCE
                                                th(style="text-align:center") ACTION
                                            tbody
                                                each hw in hwtab
                                                    each list in listtab
                                                        if hw.strRClientStatus == 'Rejected'
                                                            tr(style="text-align:center")
                                                            form#demo-form2.form-horizontal.form-label-left(method="POST" action="/request_replacement/decision_"+hw.intRRequest_No)
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='hwid', value=''+hw.intRHWID, style="display:none;")
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transid', value=''+hw.intRRequestID, style="display:none;")
                                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='reqno', value=''+hw.intRRequest_No, style="display:none;")
                                                                each oldhwservice in oldhwservicetab
                                                                    input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='oldhwid', value=''+oldhwservice.intHWID, style="display:none;")                                    
                                                                //- td #{hw.intRHWID}
                                                                    //- input(type="number" name= 'hwid' style='visibility:hidden;', value=''+resulta.intHWID)
                                                                td(style="text-align:center") #{hw.stFName} #{hw.strLName}
                                                                td(style="text-align:center") #{hw.strName}
                                                                td(style="text-align:center") #{hw.age}
                                                                td(style="text-align:center") #{hw.strGender}
                                                                td(style="text-align:center") 
                                                                td(style="text-align:center") 
                                                                td(style="text-align:center")
                                                                    a(href='/home_client/hw_profile_'+hw.intRHWID)
                                                                        button.btn.btn-primary(type='button') View Profile
                                                                    button.btn.btn-danger.btn-md.revertHW(type='submit'  name='btn1' value='revert') Remove
                                    
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script.
        $(document).ready(function(){
            $('#approveHW').click(function(){
                swal({
                    type: 'success',
                    title: 'Approved!',
                    text: 'Household worker approved',
                    showConfirmButton: false,
                    },
                    $(function(){
                        location.reload();
                        }, 6000));
            });
            $('#rejectHW').click(function(){
                swal({
                    type: 'warning',
                    title: 'Rejected!',
                    text: 'Household worker rejected.',
                    showConfirmButton: false,
                    },
                    $(function(){
                        location.reload();
                        }, 6000));
            });
            $('.revertHW').click(function(){
                swal({
                    type: 'info',
                    title: 'Reverted!',
                    text: 'Household Worker Removed.',
                    showConfirmButton: false,
                    },
                    $(function(){
                        location.reload();
                        }, 6000));
            });
        });