extends ../../../templates/navbarclient.pug
block content
    section#services
        .right_col(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_panel
                                .x_title
                                    .pull-right
                                        a(href='/request_replacement')
                                                button.btn.btn-primary.btn-lg(type='button') Back
                                    h1
                                        b  Replacement List 
                                .x_title
                                    .clearfix
                                    .x_panel.alert-success(style='background-color:')
                                        h3(style="font-size:18px;")(align='center')
                                            b   &nbsp&nbsp&nbsp&nbsp&nbspDisclaimer !!!
                                                br
                                                br
                                            <li> Set the attributes of the Household Worker that you want to be replace.
                                br
                                .x_panel(style='background-color:#f1f1f1')
                                    h3 To be replaced:
                                    table.table.jambo_table.table-bordered
                                        thead
                                            tr
                                                th(style="text-align:center") NAME
                                                th(style="text-align:center") SERVICE
                                                th(style="text-align:center") REPLACEMENT LEFT
                                                th(style="text-align:center") STATUS
                                                th(style="text-align:center") ACTION
                                        tbody
                                            each currenthwtobereplaced in currenthwtobereplacedtab
                                                tr(style="text-align:center") 
                                                    //- td #{currenthwtobereplaced.}
                                                    td #{currenthwtobereplaced.strFName} #{currenthwtobereplaced.strLName}
                                                    td #{currenthwtobereplaced.strName}
                                                    td #{currenthwtobereplaced.intConReplacementLeft}
                                                    td #{currenthwtobereplaced.strCurStatus}
                                                    td
                                                        button.btn.btn-primary.btn-md(type='button') View Profile
                                                        if currenthwtobereplaced.strRequestStatus == 'Draft'
                                                            button.btn.btn-danger.btn-md(type='button' data-toggle='modal' data-target='#cancel_replacement_draft', data-id=currenthwtobereplaced.intReplaceReqID, data-hwid=currenthwtobereplaced.intConHWID) Cancel
                                                        else if currenthwtobereplaced.strRequestStatus == 'On process'
                                                            button.btn.btn-danger.btn-md(type='button' data-toggle='modal' data-target='#cancel_replacement_onprocess', data-id=currenthwtobereplaced.intReplaceReqID, data-hwid=currenthwtobereplaced.intConHWID) Cancel
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel(style='background-color:rgba(38,185,154,0.3)') 
                            .x_panel             
                                each list in listtab
                                    each item in itemtab
                                        if list.strRequestStatus == 'Draft' && item.itemnum == 0
                                            button.btn.btn-success.btn-lg(type='button' data-toggle="modal" data-target="#setattritbutes")
                                                i.fa.fa-plus
                                                | &nbsp Set Attributes
                                        else if list.strRequestStatus == 'Draft' && item.itemnum == 1
                                each count in counttab
                                    each list in listtab
                                        each oldhwservice in oldhwservicetab
                                            if (list.strRequestStatus == 'Draft' && count.count != 0)
                                                //- a(href='/request_replacement/submit_request_'+list.intRequestID+ oldhwservice.intHWID)
                                                form#sendAttri(action="/request_replacement/submit_request_/-/"+list.intRequestID+'/-/' +oldhwservice.intHWID, method="post")
                                                    button.btn.pull-right.btn-success.btn-lg(type='submit')
                                                        i.fa.fa-envelope
                                                        |   Submit List
                                            //- if (list.strRequestStatus == 'Draft' && count.count != 0 && list.strRequestType =='Replace Client')
                                            //-     //- a(href='/request_replacement/submit_request_replaceclient_'+list.intRequestID+ oldhwservice.intHWID)
                                            //-     form(action="/request_replacement/submit_replaceclient_/-/"+list.intRequestID+'/-/'+oldhwservice.intHWID, method="post")
                                            //-         button.btn.pull-right.btn-success.btn-lg(type='submit')
                                            //-             i.fa.fa-envelope
                                            //-             |   Submit List
                                            else if list.strRequestStatus == 'On process' || list.strRequestStatus == 'Pending'

                                
                                h3 Requested Service/s :
                                table.table.jambo_table.table-bordered
                                    thead
                                        tr
                                            th(style="text-align:center") Number
                                            th(style="text-align:center") Service
                                            th(style="text-align:center") Quantity
                                            th(style="text-align:center") Results
                                            th(style="text-align:center") Action
                                    tbody
                                    each item in itemtab
                                        each list in listtab  
                                            tr(style="text-align:center")
                                                td #{item.intIRequest_No}
                                                td #{item.strName}
                                                td #{item.intIQuantity}
                                                td #{item.forapproval}
                                                td
                                                    button.btn.btn-info.btn-xs(type='button' data-toggle="modal" data-target="#view_item"
                                                                            , data-requestno=item.intIRequest_No, data-servicename=item.strName, data-quantity=item.intIQuantity, data-gender=item.strIRequestGender, data-educ=item.strIRequestEduc, data-exp=item.intIRequestExp
                                                                            , data-sal= item.deciRequestSalary, data-age=item.intIRequestAge1 , data-ages=item.intIRequestAge2) View
                                                        if list.strRequestStatus == 'Draft'
                                                            button.btn.btn-warning.btn-xs(type='button' data-toggle="modal" data-target="#edit_item") Edit
                                                            
                                                        else if list.strRequestStatus == 'On process'
                                                            each oldhwservice in oldhwservicetab
                                                                a(href='/request_replacement/result_/-/'+item.intIRequestID+'/-/'+item.intIRequest_No+'/-/'+oldhwservice.intHWID)
                                                                    button.btn.btn-primary.btn-xs(type='button') View Result
                                                                
                                each list in listtab
                                    if list.strRequestStatus == 'Pending' || list.strRequestStatus == 'Approved' || list.strRequestStatus == 'Rejected' || list.strRequestStatus == 'Finished'
                                        each transdetails in transdetailstab
                                            h2 Deployment Details:
                                            table.table.jambo_table.bulk_action
                                                thead
                                                    tr
                                                        th(style="text-align:center") Date of Deployment
                                                        th(style="text-align:center") Time of Deployment
                                                        th(style="text-align:center") Type of Deployment
                                                        th(style="text-align:center") Invoice
                                                tbody
                                                    tr(style="text-align:center")
                                                        td #{transdetails.datDateofDeployment}
                                                        td #{transdetails.timTimeofDeployment}
                                                        if transdetails.intTypeofDeployment == '2'
                                                            td Drop-off
                                                        else if transdetails.intTypeofDeployment == '3'
                                                            td Pick-up
                                                        td
                                                            each currenthwtobereplaced in currenthwtobereplacedtab
                                                                a(href="/request_replacement/invoice_/-/"+transdetails.intTRequestID+'/-/'+currenthwtobereplaced.intConHWID)
                                                                    button.btn.btn-primary.btn-xs(type='button') View

                    .col-md-12.col-sm-12.col-xs-12
                        br
                        .x_panel(style='background-color:rgba(38,185,154,0.3)')
                                .x_title
                                    .x_panel(style='background-color:#394D5F; border-color:#394D5F')
                                        h2(style="font-weight:bold; color:white") List of service/s you approved:
                                .x_panel
                            
                                .clearfix
                                    each hw in hwtab
                                        .col-md-4.col-sm-4.col-xs-12.profile_details
                                            form#demo-form2.form-horizontal.form-label-left(method="POST" action="/request_add/decision_"+hw.intRRequest_No)
                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='hwid', value=''+hw.intRHWID, style="display:none;")
                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transid', value=''+hw.intRRequestID, style="display:none;")                              
                                                .well.profile_view
                                                    .col-sm-12
                                                        h4.brief
                                                            i #{hw.strName}
                                                        .left.col-xs-7
                                                            h2 #{hw.strFName} #{hw.strLName}
                                                            p
                                                                | Age:
                                                                strong  #{hw.age} 
                                                            ul.list-unstyled
                                                                li
                                                                    | Gender: 
                                                                    b #{hw.strGender}
                                                                li
                                                                    | Working Experience: 
                                                                    b 
                                                                li
                                                                    | Education: 
                                                                    b 
                                                        .right.col-xs-5.text-center
                                                            img.img-circle.img-responsive(src='../images/'+hw.strPicture, alt='', style='width:100px; height:100px')
                                                        .col-xs-12.col-sm-8.emphasis
                                                            a(href='/request_add/hw_profile_'+hw.intRRequestID+hw.intRHWID)
                                                                button.btn.btn-primary(type='button')
                                                                    i.fa.fa-user  
                                                                    |  View Profile
                                .form-group.pull-right
                                    .col-md-12.col-sm-9.col-xs-12.pull-right
                                        
                                        //-a(href='/request_replacement')
                                            button.btn.btn-primary.btn-lg(type='button') Back
                                        each noofapprove in noofapprovetab
                                            each list in listtab
                                                if noofapprove.NOOFapprove > 0 && list.strRequestStatus=='On process'
                                                    button.btn.btn-success.btn-lg(type='button' data-toggle="modal" data-target="#deployment") Proceed to Deployment
                                                else

        // /modals
        #cancel_replacement_draft.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-md
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Cancel List
                    .modal-body
                        form#cancel(method='POST' action='/request_replacement/cancel')
                            br
                            input(id='listid' type='text' name='transid', value='' style='display: none;')
                            input(id='hwid' type='text' name='hwid', value='' style='display: none;')  
                            .form-group
                                center 
                                    h3 Are you sure you want to cancel
                                        |
                                        p this Request?
                            .ln_solid
                            .form-group.pull-right
                                .col-md-12.col-sm-9.col-xs-12.pull-right
                                    button.btn.btn-primary(type='button', data-dismiss='modal') No
                                    button.btn.btn-danger#c(type='submit' name='btn1' value='cancel_draft') Yes
        #cancel_replacement_onprocess.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-md
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Cancel List
                    .modal-body
                        form#cancel(method='POST' action='/request_replacement/cancel')
                            br
                            input(id='listid' type='text' name='transid', value='' style='display: none;')
                            input(id='hwid' type='text' name='hwid', value='' style='display: none;')  
                            .form-group
                                center 
                                    h3 Are you sure you want to cancel
                                        |
                                        p this Request?
                            .ln_solid
                            .form-group.pull-right
                                .col-md-12.col-sm-9.col-xs-12.pull-right
                                    button.btn.btn-primary(type='button', data-dismiss='modal') No
                                    button.btn.btn-danger(type='submit' name='btn1' value='cancel_onprocess') Yes

        // Set attributes Modal
        #setattritbutes.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog(role='document')
                each list in listtab
                    each oldhwservice in oldhwservicetab
                        form#SetAttri(method='POST', action='/request_replacement/set_attributes_/-/'+list.intRequestID+'/-/'+oldhwservice.intHWID).form-horizontal
                            .modal-content
                                .modal-header(style="background-color:#2A3F54; color:white")
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                    h3#myModalLabel.modal-title 
                                        p(style="text-align:center; font-weight:bold") Set Attributes
                                .modal-body
                                    .row
                                        .col-md-6
                                            .form-group
                                                b Service:
                                                select#skil(name='service').form-control
                                                    each oldhwservice in oldhwservicetab
                                                        option(value=''+ oldhwservice.intServiceID) #{oldhwservice.strName}
                                    .row
                                        .col-md-3
                                            .form-group
                                                b No. of Person Needed
                                                span.required
                                                input.form-control(type='number' name='quantity' min='1', max='10' value='1' required readonly)
                                        br
                                        .col-md-4
                                            .form-group
                                                b Gender:
                                                span.required
                                                select(name='gender').form-control
                                                    option(value='Any') Any
                                                    option(value='Male') Male
                                                    option(value='Female') Female
                                        .form-group 
                                            b &nbsp&nbsp&nbspAge (From - To):
                                            .row
                                                .col-md-2
                                                    .form-group
                                                        input.form-control(type='number' name='age1' min='18', max='100' value='18' required)
                                                .col-md-2
                                                    .form-group
                                                        input.form-control(type='number' name='age2' min='18', max='100' value='18' required)  
                                        
                                    .row
                                        .col-md-6
                                            .form-group
                                                b Highest Educational Attainment:
                                                span.required
                                                select.form-control(name='educ')
                                                    option(value='Elementary') Elementary
                                                    option(value='High School') High School
                                                    option(value='College') College
                                                    option(value='Vocational') Vocational
                                        .col-md-4
                                            .form-group
                                                b Work Experience
                                                span.required
                                                input#first-name.form-control.col-md-7.col-xs-12(type='number' name='workexp' value='0')
                                    .row
                                        .col-md-4
                                            .form-group
                                                b Monthly Salary*
                                                input#first-name.form-control.col-md-7.col-xs-12(type='number' name='salary' required, min='2500')     
                                        .col-md-8
                                            .x_panel
                                                .x_title
                                                    h5
                                                        b Recommended Salary
                                                    .clearfix
                                                .x_content
                                                    .row
                                                        .col-md-4
                                                            p(style="font-weight:bold") Housemaids
                                                        .col-md-8
                                                            |Php 6000 (Negotiable)
                                                    .row
                                                        .col-md-4
                                                            p(style="font-weight:bold") Yaya
                                                        .col-md-8
                                                            |Php 6000 (Negotiable)
                                                    .row
                                                        .col-md-4
                                                            p(style="font-weight:bold") Cook
                                                        .col-md-8
                                                            |Php 8000 (Negotiable)
                                                    .row
                                                        .col-md-4
                                                            p(style="font-weight:bold") Driver
                                                        .col-md-8
                                                            |Php 13k (Stay-in)
                                .modal-footer
                                    button.btn.btn-primary.btn-md(type='button'  data-dismiss='modal') Cancel
                                    button.btn.btn-success.btn-md(type='submit') Submit



        #view_item.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4.modal-title#a
                    .modal-body
                        .row
                            .col-md-3
                                .form-group
                                    | No. of Person Needed
                                    span.required
                                    input.form-control#c(type='number' readonly)
                            br
                            .col-md-4
                                .form-group
                                    | Gender:
                                    span.required
                                    input.form-control#d(type='text' readonly)
                            .form-group &nbsp&nbsp&nbspAge (From - To):
                                .row
                                    .col-md-2
                                        .form-group
                                            input.form-control#age1(type='number' readonly)
                                    .col-md-2
                                        .form-group
                                            input.form-control#age2(type='number' readonly)  
                            
                        .row
                            .col-md-6
                                .form-group
                                    | Highest Educational Attainment:
                                    span.required
                                    input.form-control#e(type='text' readonly)
                            .col-md-4
                                .form-group
                                    | Work Experience (at least):
                                    span.required
                                    input#f.form-control.col-md-7.col-xs-12(type='number' name='workexp' readonly)
                        .row
                            .col-md-7
                                .form-group
                                    | Willing to work for a monthly salary of (minimum): PHP
                                    span.required
                                    input.form-control.col-md-7.col-xs-12#sal(type='number' name='salary' readonly)     

                    .modal-footer
                        button.btn.btn-primary.btn-md(type='button'  data-dismiss='modal') Close
            
            // Deployment Modal
        #deployment.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-sm(style="width:400px;")
                .modal-content
                    form.form-horizontal.form-label-center(method="POST" action='/request_replacement/contract') 
                        .modal-header
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                            h4
                                b Deployment Details
                        .modal-body
                            each list in listtab
                                each nooftrans in nooftranstab
                                    if nooftrans.nooftrans == 0
                                        input(id = 'idtrans' type='text', required='required', name='transid', value=''+list.intRequestID, style='display:none;')  
                                        input(id='thedate' type='date', name='reqdate' style='display:none;')
                                        input(id='invo' type='text', name='invnum' style='display:none;')
                                        each oldhwservice in oldhwservicetab
                                            input(id='' type='text', name='hwid' value=''+oldhwservice.intHWID style='display:none;')
                                        br
                                        .row
                                            .col-md-2
                                                .form-group
                                            .col-md-8
                                                .form-group
                                                    label Type of Deployment
                                                    select.form-control(name='dep')
                                                        each fee in feetab
                                                            option(value=''+fee.intID) #{fee.strName} &nbsp&nbsp  + P #{fee.fltFee}
                                        .row
                                            .col-md-2
                                                .form-group
                                            .col-md-8
                                                .form-group
                                                    label Preferred Date For Deployment
                                                    input.form-control.has-feedback-left(type='date', name='datedep')
                                                    span#inputSuccess2Status4.sr-only (success)
                                        .row
                                            .col-md-2
                                                .form-group
                                            .col-md-8
                                                .form-group
                                                    label Preferred Time For Deployment
                                                    .input-group.date
                                                        input.form-control(type='time' name='timedep')
                                                        span.input-group-addon
                                                            span.glyphicon.glyphicon-time 
                                        
                                    else
                                        each prevtransdetails in prevtransdetailstab
                                            input(id = 'idtrans' type='text', required='required', name='transid', value=''+list.intRequestID, style="display:none;")  
                                            input(id='thedate' type='date', name='reqdate' style='display:none;')
                                            input(id='invo' type='text', name='invnum' style='display:none;')
                                            each oldhwservice in oldhwservicetab
                                                input(id='' type='text', name='hwid' value=''+oldhwservice.intHWID style='display:none;')
                                            br
                                            .row
                                                .col-md-2
                                                    .form-group
                                                .col-md-8
                                                    .form-group
                                                        label Type of Deployment
                                                        select.form-control(name='dep')
                                                            option(value=''+prevtransdetails.intTypeofDeployment selected) #{prevtransdetails.strName} &nbsp&nbsp + P #{prevtransdetails.fltFee}
                                                            each fee in feetab
                                                                option(value=''+fee.intID) #{fee.strName} &nbsp&nbsp  + P #{fee.fltFee}
                                            .row
                                                .col-md-2
                                                    .form-group
                                                .col-md-8
                                                    .form-group
                                                        label Preferred Date For Deployment
                                                        .input-group.date
                                                            input.form-control.has-feedback-left(type='date', aria-describedby='inputSuccess2Status4'  name='datedep' value=''+prevtransdetails.datDateofDeployment required)
                                                            span.input-group-addon
                                                                span.fa.fa-calendar
                                            .row
                                                .col-md-2
                                                    .form-group
                                                .col-md-8
                                                    .form-group
                                                        label Preferred Time For Deployment
                                                        .input-group.date
                                                            input.form-control.has-feedback-left(type='time' name='timedep' value=''+prevtransdetails.timTimeofDeployment required)
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                        .modal-footer
                            button.btn.btn-primary(type='button', data-dismiss='modal') Close
                            button.btn.btn-success.btn-md(type='submit',  onCLick='time();') Next
            
            script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
            script.
                $(document).ready(function(){
                    $('form#SetAttri').submit(function(e){
                        e.preventDefault();
                        var ur = $(this).attr('action');
                        console.log(ur);
                        $.ajax({
                            url: $(this).attr('action'),
                            method: 'post',
                            data: $('form#SetAttri').serialize(),
                            success: function(response){
                                console.log(response);
                                if(response == 'success'){
                                    $('#setattritbutes').modal('hide');
                                    swal({
                                        type: 'success',
                                        title: 'Attributes Set!',
                                        text: 'You may now submit your request to the admin',
                                        showConfirmButton: true,
                                        },
                                    function(isConfirm){
                                        if(isConfirm){
                                            location.reload();
                                        }
                                    });
                                }
                            }
                        })
                    });
                    $("form#sendAttri").submit(function(e){
                        e.preventDefault();
                        $.ajax({
                            url: $(this).attr('action'),
                            method: 'post',
                            data: $('form#sendAttri').serialize(),
                            success: function(data, status){
                                console.log(status);
                                if(status == 'success'){
                                    swal({
                                        type: 'success',
                                        title: 'Submitted!',
                                        text: 'List submitted to admin',
                                        showConfirmButton: true,
                                        timer: 5000,
                                    },
                                    function(isConfirm){
                                        if(isConfirm){
                                            location.reload();
                                        }
                                    });
                                }
                            }
                            
                        })
                    });
                });
            script.
                function time(){
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth()+1; //January is 0!
                    var yyyy = today.getFullYear();
                    var hh = today.getHours();
                    var min = today.getMinutes();
                    var sec = today.getSeconds();
                    var x= document.getElementById("thedate");
                    var y=document.getElementById("idtrans").value
                    var inv;
                    
                    if(dd<10) {
                        dd = '0'+dd
                    } 

                    if(mm<10) {
                        mm = '0'+mm
                    } 

                    today = yyyy + '-' + mm + '-' + dd ;
                    //- document.write(today);
                document.getElementById("thedate").value=today;
                inv = yyyy+y;
                document.getElementById("invo").value=inv;
                }