extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent;")
                .title_left
                  h1
                    b Dashboard
                .x_panel.wow.fadeInRight(style='background-color:rgba(52,152,219,.3); width:49% ')
                  .x_panel
                      .x_panel.alert-info
                          h3(style="font-weight:bold; text-align:center ") Registration
                      table.table.table-striped.table-bordered
                        thead
                          tr
                            th(style="text-align:center") &nbsp
                            th(style="text-align:center") PENDING REGISTRATIONS
                            th(style="text-align:center") ACTION
                        tbody
                            tr(style="")
                              each pending in clPending
                                td Client
                                td #{pending.CNT}
                              td   
                                a(href='/admin/transactions/clients/pending')
                                  button.btn.btn-info(type='button')
                                    i.fa.fa-eye
                                    |   view
                            tr(style="")
                              each hhwpen in hwPending
                                td Household Worker
                                td #{hhwpen.CNT}
                              td 
                                a(href='/admin/transactions/household_workers/pending')  
                                  button.btn.btn-info(type='button')
                                    i.fa.fa-eye
                                    |   view
                | &nbsp&nbsp&nbsp
                .x_panel.wow.fadeInUp(style='background-color:rgba(52,152,219,.3); width:49%')
                  .x_panel
                      .x_panel.alert-info
                          h3(style="font-weight:bold; text-align:center ") Requests
                      table.table.table-striped.table-bordered
                        thead
                          tr
                            th(style="text-align:center") &nbsp
                            th(style="text-align:center") REQUESTS
                            th(style="text-align:center") ACTION
                        tbody
                            tr(style="")
                              each req in clReq
                                td Client
                                td #{req.CNT}
                              td
                                a(href='/admin/transaction_client_request')   
                                  button.btn.btn-info(type='button')
                                    i.fa.fa-eye
                                    |   view
                            tr(style="")
                              td Household Worker
                              td 0
                              td   
                                button.btn.btn-info(type='button')
                                  i.fa.fa-eye
                                  |   view

                .x_panel.wow.fadeInDown(style='background-color:rgba(52,152,219,.3); width:49% ')
                  .x_panel
                      .x_panel.alert-info
                          h3(style="font-weight:bold; text-align:center ") New Incident Report
                      table.table.table-striped.table-bordered
                        thead
                          tr
                            th(style="text-align:center") &nbsp
                            th(style="text-align:center") INCOMING REQUEST
                            th(style="text-align:center") ACTION
                        tbody
                            tr(style="")
                              each inci in clIr
                                td Client
                                td #{inci.CNT}
                              td
                                a(href='/admin/transaction_ir_client')     
                                  button.btn.btn-info(type='button')
                                    i.fa.fa-eye
                                    |   view
                            tr(style="")
                              each hwinci in hwIr
                                td Household Worker
                                td #{hwinci.CNT}
                              td
                                a(href='/admin/transaction_ir_hw')    
                                  button.btn.btn-info(type='button')
                                    i.fa.fa-eye
                                    |   view
                | &nbsp&nbsp&nbsp
                .x_panel.wow.fadeInLeft(style='background-color:rgba(52,152,219,.3); width:49% ')
                  .x_panel
                      .x_panel.alert-info
                          h3(style="font-weight:bold; text-align:center ") Finished Transaction
                      table.table.table-striped.table-bordered
                        thead
                          tr
                            th(style="text-align:center") &nbsp
                            th(style="text-align:center") FINISHED TRANSACTIONS
                            th(style="text-align:center") ACTION
                        tbody
                            tr(style="")
                              each set in clSet
                                td Client
                                td #{set.CNT}
                              td 
                                a(href='/admin/transaction_settled')    
                                  button.btn.btn-info(type='button')
                                    i.fa.fa-eye
                                    |   view
                            tr(style="")
                              td Household Worker
                              td 0
                              td
                                a(href='/admin/transaction_settled')      
                                  button.btn.btn-info(type='button')
                                    i.fa.fa-eye
                                    |   view

                