extends ../../../templates/navbaradmin.pug
block content
    section#services
        .right_col(role='main' style="background-color:transparent;" window.onLoad="total();")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_panel
                                .x_content
                                    section.content.invoice
                                        // title row
                                        .row
                                            .col-xs-12.invoice-header
                                                each dc in dctab
                                                    h1
                                                        i.fa.fa-globe
                                                        |  Invoice.
                                                        small.pull-right#dateReq Date: #{dc.datDateRequested}
                                            // /.col
                                        // info row
                                        br
                                        .row.invoice-info
                                            .col-sm-4.invoice-col
                                                each agency in agencytab
                                                    | From
                                                    address
                                                        p
                                                            strong#agency #{agency.strName}
                                                        p#agenAdd #{agency.strAddress}
                                                        p#agenTel(style="margin-top:-10px") #{agency.strTelNum}
                                                        p#agenEmail(style="margin-top:-10px") #{agency.strEmail}
                                            // /.col
                                            .col-sm-4.invoice-col
                                                each client in clienttab
                                                    | To
                                                    address
                                                        p
                                                            strong#clientName #{client.strFName} #{client.strLName}
                                                        p#cAdd #{client.strPAddress}
                                                        p#cPhone(style="margin-top:-10px") #{client.strContact}
                                                        p#cEmail(style="margin-top:-10px")  #{client.strEmail}
                                            // /.col
                                            .col-sm-4.invoice-col
                                                br
                                                h3
                                                    each dc in dctab
                                                        big
                                                            b Invoice:
                                                                span#invNo #{dc.strInvoiceNum}
                                                br
                                            // /.col
                                        // /.row
                                        // Table row
                                        .row
                                            br
                                            .col-xs-12.table
                                                table.table.table-striped.table-bordered
                                                    thead
                                                        tr
                                                            th Service
                                                            th Qty
                                                            th Rate	
                                                            th Subtotal
                                                    tbody
                                                        each item in itemtab
                                                            //- each agencyf in agencyftab
                                                            tr
                                                                td#servName #{item.strName}
                                                                td#servQty #{item.service}
                                                                td#servRate &#8369; #{item.fltFee}
                                                                td#servSub &#8369; #{item.subtotal}
                                            // /.col
                                        // /.row
                                        br
                                        br
                                        .row
                                            // accepted payments column
                                            .col-xs-6
                                            // /.col
                                            .col-xs-5
                                                //- p.lead Amount Due 2/22/2014
                                                .table-responsive
                                                    table.table
                                                        tbody
                                                            tr
                                                                th Subtotal:
                                                                each subtotal in subtotaltab
                                                                    td#subsum(align='right') &#8369; #{subtotal.subtotal}
                                                                    input(id='subtot' type="number", value=subtotal.subtotal style="display:none;")
                                                            tr
                                                                each otherfee in otherfeetab 
                                                                    th#otherfee #{otherfee.strName} Fee:
                                                                    td#price(align='right') &#8369; #{otherfee.fltFee}
                                                                    input(id='othfee' type="number", value=otherfee.fltFee style="display:none;")
                                                            tr
                                                                th Total:
                                                                td(align='right')
                                                                    p#tots
                                                                //- input(id = 'tots' type="number", name="")
                                            // /.col
                                        // /.row
                                        br
                                        // this row will not appear when printing
                                        .row.no-print
                                            .col-xs-12
                                                //- a(href='/request_add')
                                                //-     button.btn.btn-primary.pull-right(type='button') Back to List
                                                button.btn.btn-success.pull-right#printInv
                                                    i.fa.fa-print
                                                    |  Print
                                                button.btn.btn-primary.pull-right#generateButton(style='margin-right: 5px;')
                                                    i.fa.fa-download
                                                    |  Generate PDF
                                        //- button.btn.btn-primary#generateButton Pdfs
        
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script.
        $(document).ready(function(){
            var subtot=parseInt(document.getElementById("subtot").value);
            var othfee=parseInt(document.getElementById("othfee").value);
            console.log(subtot);
            var total;

            total = subtot+othfee;

            document.getElementById("tots").innerHTML = 'P '+total;
        });
    script(type='text/javascript').
        $(document).ready(function(){
            $(document).on(	'click', '#generateButton', function(){
                var invoiceNo = "Invoice:"+" "+ document.getElementById('invNo').innerHTML;
                // Agency
                var date = document.getElementById('dateReq').innerHTML;
                var agency = document.getElementById('agency').innerHTML;
                var agentAdd= document.getElementById('agenAdd').innerHTML;
                var agentTel = document.getElementById('agenTel').innerHTML;
                var agentEmail = document.getElementById('agenEmail').innerHTML;
                //CLient
                var clientName = document.getElementById('clientName').innerHTML;
                var clientAdd = document.getElementById('cAdd').innerHTML;
                var clientPhone = document.getElementById('cPhone').innerHTML;
                var clientEmail = document.getElementById('cEmail').innerHTML;
                //service
                var servName = document.getElementById('servName').innerHTML;
                //- console.log(servName);
                //- var len = $('#servName').length;
                //- console.log(len);
                //-     for (var i = 0; i < len; i++) {
                //-         $("#servName").innerHTML = "text";
                //-     };
                //------------------------
                var servQty = document.getElementById('servQty').innerHTML;
                var servRate = document.getElementById('servRate').innerHTML;
                var servSub = document.getElementById('servSub').innerHTML;
                //total
                var subTotal = document.getElementById('subsum').innerHTML;
                var otherFee = document.getElementById('otherfee').innerHTML;
                var otherPrice = document.getElementById('price').innerHTML;
                var total = document.getElementById('tots').innerHTML;
                
                //- var servName = document.getElementByClassName('servName').innerHTML;
                var docDefinition = {
                        //- pageOrientation: 'landscape',
                        pageSize: 'A5',
                        pageOrientation: 'landscape',
                        content: [
                            {
                                width: '*',
                                columns:[
                                    { text: invoiceNo , style: 'header', fontSize: 20, bold: true},
                                    { text: date , style: 'header', fontSize: 15, bold: true, alignment: 'right'},
                                ],
                            },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "From" , fontSize: 12
                                        },
                                        {
                                            text: "To" , fontSize: 12
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agency, fontSize: 10,
                                        },
                                        {
                                            text: clientName , fontSize: 10
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agentAdd, fontSize: 10,
                                        },
                                        {
                                            text: clientAdd , fontSize: 10
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agentTel, fontSize: 10,
                                        },
                                        {
                                            text: clientPhone , fontSize: 10
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agentEmail, fontSize: 10,
                                        },
                                        {
                                            text: clientEmail , fontSize: 10
                                        },
                                    ],
                                },
                            
                            { text: " " },
                            { text: " " },
                            { text: "-------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Service" , fontSize: 10
                                        },
                                        {
                                            text: "Quantity" , fontSize: 10
                                        },
                                        {
                                            text: "Rate" , fontSize: 10
                                        },
                                        {
                                            text: "Subtotal" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "-------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "\u200B\t\t" +servName , fontSize: 10
                                        },
                                        {
                                            text: servQty , fontSize: 10
                                        },
                                        {
                                            text: servRate , fontSize: 10
                                        },
                                        {
                                            text: servSub , fontSize: 10
                                        },
                                    ],
                                },
                            {text: "" },
                            {text: "" },
                                {
                                    margin:[325, 50, 0, 0],
                                    width: "*",
                                        columns:[
                                            {
                                                text: "Subtotal:" , fontSize: 12, bold: true
                                            },
                                            {
                                                text: "\u200B\t\t"+"\u200B\t\t"+subTotal, fontSize: 10, alignment: 'right',
                                            },
                                        ],
                                },
                            {text: "----------------------------------------------------------", margin: [ 250, 0, 0, 0 ], alignment: 'right' },
                                {
                                    margin:[325, 0, 0, 0],
                                    width: "*",
                                        columns:[
                                            {
                                                text: otherFee , fontSize: 12, bold: true
                                            },
                                            {
                                                text: "\u200B\t\t"+"\u200B\t\t"+otherPrice, fontSize: 10, alignment: 'right',
                                            },
                                        ],
                                },
                            {text: "----------------------------------------------------------", margin: [ 250, 0, 0, 0 ], alignment: 'right' },
                                {
                                    margin:[325, 0, 0, 0],
                                    width: "*",
                                        columns:[
                                            {
                                                text: "Total" , fontSize: 13, bold: true
                                            },
                                            {
                                                text: "\u200B\t\t"+"\u200B\t\t"+total, fontSize: 10, alignment: 'right', bold: true,
                                            },
                                        ],
                                },

                        ],
                            pageBreakBefore: function(currentNode, followingNodesOnPage, nodesOnNextPage, previousNodesOnPage) {
                                return currentNode.headlineLevel === 1 && followingNodesOnPage.length === 0;
                                },
                    };
                    pdfMake.createPdf(docDefinition).open();
                });    
        });
    script(type='text/javascript').
        $(document).ready(function(){
            $(document).on(	'click', '#printInv', function(){
                var invoiceNo = "Invoice:"+" "+ document.getElementById('invNo').innerHTML;
                // Agency
                var date = document.getElementById('dateReq').innerHTML;
                var agency = document.getElementById('agency').innerHTML;
                var agentAdd= document.getElementById('agenAdd').innerHTML;
                var agentTel = document.getElementById('agenTel').innerHTML;
                var agentEmail = document.getElementById('agenEmail').innerHTML;
                //CLient
                var clientName = document.getElementById('clientName').innerHTML;
                var clientAdd = document.getElementById('cAdd').innerHTML;
                var clientPhone = document.getElementById('cPhone').innerHTML;
                var clientEmail = document.getElementById('cEmail').innerHTML;
                //service
                var servName = document.getElementById('servName').innerHTML;
                //- console.log(servName);
                //- var len = $('#servName').length;
                //- console.log(len);
                //-     for (var i = 0; i < len; i++) {
                //-         $("#servName").innerHTML = "text";
                //-     };
                //------------------------
                var servQty = document.getElementById('servQty').innerHTML;
                var servRate = document.getElementById('servRate').innerHTML;
                var servSub = document.getElementById('servSub').innerHTML;
                //total
                var subTotal = document.getElementById('subsum').innerHTML;
                var otherFee = document.getElementById('otherfee').innerHTML;
                var otherPrice = document.getElementById('price').innerHTML;
                var total = document.getElementById('tots').innerHTML;
                
                //- var servName = document.getElementByClassName('servName').innerHTML;
                var docDefinition = {
                        //- pageOrientation: 'landscape',
                        pageSize: 'A5',
                        pageOrientation: 'landscape',
                        content: [
                            {
                                width: '*',
                                columns:[
                                    { text: invoiceNo , style: 'header', fontSize: 20, bold: true},
                                    { text: date , style: 'header', fontSize: 15, bold: true, alignment: 'right'},
                                ],
                            },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "From" , fontSize: 12
                                        },
                                        {
                                            text: "To" , fontSize: 12
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agency, fontSize: 10,
                                        },
                                        {
                                            text: clientName , fontSize: 10
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agentAdd, fontSize: 10,
                                        },
                                        {
                                            text: clientAdd , fontSize: 10
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agentTel, fontSize: 10,
                                        },
                                        {
                                            text: clientPhone , fontSize: 10
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: agentEmail, fontSize: 10,
                                        },
                                        {
                                            text: clientEmail , fontSize: 10
                                        },
                                    ],
                                },
                            
                            { text: " " },
                            { text: " " },
                            { text: "-------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Service" , fontSize: 10
                                        },
                                        {
                                            text: "Quantity" , fontSize: 10
                                        },
                                        {
                                            text: "Rate" , fontSize: 10
                                        },
                                        {
                                            text: "Subtotal" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "-------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "\u200B\t\t" +servName , fontSize: 10
                                        },
                                        {
                                            text: servQty , fontSize: 10
                                        },
                                        {
                                            text: servRate , fontSize: 10
                                        },
                                        {
                                            text: servSub , fontSize: 10
                                        },
                                    ],
                                },
                            {text: "" },
                            {text: "" },
                                {
                                    margin:[325, 50, 0, 0],
                                    width: "*",
                                        columns:[
                                            {
                                                text: "Subtotal:" , fontSize: 12, bold: true
                                            },
                                            {
                                                text: "\u200B\t\t"+"\u200B\t\t"+subTotal, fontSize: 10, alignment: 'right',
                                            },
                                        ],
                                },
                            {text: "----------------------------------------------------------", margin: [ 250, 0, 0, 0 ], alignment: 'right' },
                                {
                                    margin:[325, 0, 0, 0],
                                    width: "*",
                                        columns:[
                                            {
                                                text: otherFee , fontSize: 12, bold: true
                                            },
                                            {
                                                text: "\u200B\t\t"+"\u200B\t\t"+otherPrice, fontSize: 10, alignment: 'right',
                                            },
                                        ],
                                },
                            {text: "----------------------------------------------------------", margin: [ 250, 0, 0, 0 ], alignment: 'right' },
                                {
                                    margin:[325, 0, 0, 0],
                                    width: "*",
                                        columns:[
                                            {
                                                text: "Total" , fontSize: 13, bold: true
                                            },
                                            {
                                                text: "\u200B\t\t"+"\u200B\t\t"+total, fontSize: 10, alignment: 'right', bold: true,
                                            },
                                        ],
                                },

                        ],
                            pageBreakBefore: function(currentNode, followingNodesOnPage, nodesOnNextPage, previousNodesOnPage) {
                                return currentNode.headlineLevel === 1 && followingNodesOnPage.length === 0;
                                },
                    };
                    pdfMake.createPdf(docDefinition).print();
                });    
        });