
extends ../../../templates/navbaradmin.pug

block content
    // page content
    //- link(rel="stylesheet", href="/cutsom/switch.css")
    .right_col(role='main')
        div
            .page-title
                .title_left
                    h5
                        | Maintenance /&nbsp
                        b Requirements
                //- button(type='button' onclick='test();') error   
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_content
                            button.btn.btn-success.btn-lg(type='button', data-toggle='modal', data-target='.bs-add-modal-xs')
                                i.fa.fa-plus
                                | &nbspAdd
                            br
                            br
                            table#datatable.table.table-striped.table-bordered
                                thead
                                    tr
                                        //- th ID NO.
                                        th(style="text-align:center")  REQUIREMENTS AND CLEARANCES
                                        th(style="text-align:center")  FOR
                                        th(style="text-align:center")  STATUS
                                        th(style="text-align:center")  ACTION
                                tbody
                                    each item in itemtab
                                        tr(style="text-align:center") 
                                        
                                            //- td #{item.intID}
                                            td #{item.strName}
                                            td #{item.strType}
                                            td
                                                if item.strStatus=='Active'
                                                    p(hidden="") active
                                                    a(href="disable_requirement/"+item.intID)
                                                        input.js-switch(type='checkbox' checked)
                                                else if item.strStatus=='Inactive'
                                                    p(hidden="") inactive
                                                    a(href="enable_requirement/"+item.intID)
                                                        input.is-danger.js-switch(type='checkbox')
                                                //- input.js-switch(type='checkbox', checked='') #{item.strStatus}
                                            td
                                                //- button.btn.btn-info(type='button')
                                                    i.fa.fa-eye
                                                    |   View
                                                button.btn.btn-warning(type='button', data-toggle='modal', data-target='#edit_requirement', data-id=item.intID, data-name=item.strName, data-type=item.strType)
                                                    i.fa.fa-edit
                                                    |   Edit
                                                

                //- Add
                .modal.fade.bs-add-modal-xs(tabindex='-1', role='dialog', aria-hidden='true')
                    .modal-dialog.modal-xs
                        .modal-content
                            .modal-header(style="background-color:#EDEDED;")
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') ×
                                h4#myModalLabel.modal-title Add a Requirement
                            .modal-body
                               form#form1.form-horizontal.form-label-left(method="POST" action="add_requirement")
                                .form-group
                                    label.control-label.col-md-3.col-sm-3.col-xs-12(for='requirement-name')
                                        | Requirement Name*
                                    .col-md-6.col-sm-6.col-xs-12
                                        input#requirementname.form-control.col-md-7.col-xs-12(type='text', required='required', name='requirementname')
                                .form-group
                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Requirement For*:
                                    .col-md-6.col-sm-6.col-xs-12
                                        select(name='reqtype').form-control
                                            option(value='Client') Client
                                            option(value='Household Worker') Household Worker
                                .ln_solid
                                .form-group.pull-right
                                    button.btn.btn-success(type='submit' onsubmit = 'sendform(this.id);') Add
                                    button.btn.btn-info(type='button', data-dismiss='modal') Cancel
                //- Edit
                #edit_requirement.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                    .modal-dialog.modal-xs
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') ×
                                h4#myModalLabel.modal-title Edit Requirement
                            .modal-body
                                form#demo-form2.form-horizontal.form-label-left(method="POST" action="edit_requirement")
                                    input.form-control.col-md-7.col-xs-12(type='number', id='_id', required='required', name='requirementID' style="display:none;")                          
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12
                                            | Requirement Name
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='text', id='_name', required='required', name='requirementname')
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12 Requirement For*:
                                        .col-md-6.col-sm-6.col-xs-12
                                            select(name='reqtype').form-control
                                                option(id='_type') 
                                                    |
                                                    i same as before
                                                option(value='Client') Client
                                                option(value='Household Worker') Household Worker
                                    .ln_solid
                                    .form-group.pull-right
                                        button.btn.btn-success(type='submit') Update
                                        button.btn.btn-danger(type='button', data-dismiss='modal') Cancel
    script.
        function submitform(formid){
            var form = $('#'+formid);
            $.ajax({
                type: 'POST',
                url: $(form).attr('action'),
                data: $(form).serialize(),
                success: function() {
                    swal("Oops!", "Something went wrong!", "error");
                }
            });
        }
        function test(){
            swal("Oops!", "Something went wrong!", "error");
        }
            

        //-     $.ajax({
        //-         url: "add_requirement",
        //-         method: "POST",
        //-         data: { id : menuId },
        //-         dataType: "html"
        //-     });
        //- function addrequirement(){
        //-     var xhttp = new XMLHttpRequest();
        //-     xhttp.onreadystatechange = function() {
        //-         if (this.readyState == 4 && this.status == 200) {
        //-         //- document.getElementById("txtHint").innerHTML = this.responseText;
        //-         }
        //-     };
        //-     xhttp.open("POST", "add_requirement", true);
        //-     xhttp.send();
        //- }   