extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel(style='background-color:rgba(52,152,219,.3)')
                            .x_title
                                button.btn.btn-primary.btn-lg(onclick="goBack()" style="float:right") 
                                    | Back
                                script.
                                    function goBack() {
                                        window.history.back();
                                    }
                                center
                                    h3(style='color:')
                                        b Client's Profile
                            .x_panel.wow.fadeInRight(style='background-color:#3E5367')
                                .x_content
                                    br
                                    each client in clienttab
                                        .col-md-3.col-sm-3.col-xs-12.profile_left
                                            center
                                                .profile_img
                                                    #crop-avatar
                                                        // Current avatar
                                                        img.img-responsive.avatar-view(src='../images/'+client.strPicture, alt='Avatar', title='Change the avatar' style='widht:175px; height:200px')
                                                h2(style="text-transform: capitalize; color:white") 
                                                    b   #{client.strLName}, #{client.strFName} #{client.strMName}
                                                button.btn.btn-success(type='button' data-toggle='modal' data-target='#editpic1'  data-id= client.intClientID, data-image=`../images/${client.strPicture}`)
                                                    i.fa.fa-camera 
                                                    | &nbsp Upload
                                                
                                                if client.strStatus == 'Registered'
                                                    button.btn.btn-danger(type='button' data-toggle='modal' data-target='#ban' data-id=client.intID) 
                                                        i.fa.fa-exclamation-circle
                                                        | &nbsp Ban
                                                else if client.strStatus =='Banned'
                                                    button.btn.btn-warning(type='button' data-toggle='modal' data-target='#reinstate' data-id=client.intID) 
                                                        i.fa.fa-mail-reply
                                                        | &nbsp Reinstate
                                    .col-md-9.col-sm-9.col-xs-12
                                        .x_panel
                                            div(role='tabpanel', data-example-id='togglable-tabs')
                                                ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                                    li.active(role='presentation')
                                                        a#profile-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') Profile
                                                    li(role='presentation')
                                                        a#educ-tab(href='#tab_content2', role='tab', data-toggle='tab', aria-expanded='false') Household Worker
                                                    li(role='presentation')
                                                        a#reports-tab(href='#tab_content3', role='tab', data-toggle='tab', aria-expanded='false') Reports
                                                #myTabContent.tab-content
                                                    #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='profile-tab')
                                                        // Profile
                                                        br
                                                        .col-md-12.col-sm-12.col-xs-12
                                                            .x_panel
                                                                table.table.table-striped
                                                                    each client in clienttab
                                                                        br
                                                                        tbody
                                                                            tr
                                                                                th(scope='row')
                                                                                td
                                                                                    b Current Address:
                                                                                -var curAdd = client.strCAHouseNo + " " + client.strCAStreet + " " + client.strCAProvince + ", " + client.strCity
                                                                                td #{curAdd}
                                                                                td
                                                                                td
                                                                            tr
                                                                                th(scope='row')
                                                                                td
                                                                                    b Permanent Address:
                                                                                td #{client.strPAddress}
                                                                                td
                                                                                td
                                                                            tr
                                                                                th(scope='row')
                                                                                td
                                                                                    b Email:
                                                                                td #{client.strEmail}
                                                                                td
                                                                                td
                                                                            tr
                                                                                th(scope='row')
                                                                                td
                                                                                    b Contact Details:
                                                                                td #{client.strContact} / #{client.strOContact}
                                                                                td
                                                                                td
                                                                            tr
                                                                                th(scope='row')
                                                                                td
                                                                                    b Office Address:
                                                                                td #{client.strOAddress}
                                                                                td
                                                                                td
                                                                            tr
                                                                                th(scope='row')
                                                                                td
                                                                                    b Office Contact Number:
                                                                                td #{client.strOContact}
                                                                                td
                                                                                td
                                                    #tab_content2.tab-pane.fade(role='tabpanel', aria-labelledby='educ-tab')
                                                        .x_content
                                                            .col-md-12.col-sm-12.col-xs-12
                                                                .x_panel
                                                                    table.table.table-striped
                                                                        thead
                                                                            tr
                                                                                th Name
                                                                                th Date Deployed
                                                                                th End of Contract Date
                                                                                th Action
                                                                        tbody
                                                                            each hw in hwtab
                                                                                tr
                                                                                    td #{hw.strFName} #{hw.strLName}
                                                                                    td #{hw.datDateSettled} 
                                                                                    td #{hw.datDateExpiry}
                                                                                    td
                                                                                        a(href="/admin/profile_hw_"+ hw.intID)
                                                                                            button.btn.btn-primary.btn-xs(type='button') 
                                                                                                i.fa.fa-eye
                                                                                                | &nbsp View Profile
                                                            .clearfix
                                                    #tab_content3.tab-pane.fade(role='tabpanel', aria-labelledby='reports-tab')
                                                        br
                                                        .col-md-12.col-sm-12.col-xs-12
                                                            .x_panel
                                                                table.table.table-striped
                                                                    thead
                                                                        th Date of the Report
                                                                        th Household Worker
                                                                        th Type of Incident
                                                                        th Reason
                                                                        th Action
                                                                    tbody
                                                                        each hw2 in hw2tab
                                                                            tr
                                                                                td #{hw2.datDateReported}
                                                                                td #{hw2.RFName} #{hw2.RLName}
                                                                                td #{hw2.strName}
                                                                                td #{hw2.strReason}
                                                                                td #{hw2.strActionTaken}

        #editpic1.modal.fade.modal-icon(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                form(method="POST"  action="/admin/profile_client_:userid/updatePic" enctype='multipart/form-data')
                    .modal-content
                        .modal-header(style="background-color:#EDEDED")
                            h2.modal-title Update Profile Picture
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                        .modal-body
                            input#id(type='number' name='id' hidden)
                            .row
                                .col-md-12.text-center
                                    img#uploadPreview2(src="" style='width: 50%; height: 200px;')
                                    br
                                    br
                                    input.form-control.file-input(id="uploadImage2" type='file', name='postimage', accept='image/*' onchange="PreviewImage2();" style='width: 50%; margin-left:142px;')
                            //- .row
                            //-     .col-md-12.text-center
                            //-         img#pic(src='../images/'+ , alt='User-Profile-Image')
                        .modal-footer
                            button.btn.btn-primary(type='button', data-dismiss='modal') Close
                            button.btn.btn-success(type='submit') Update
        #ban.modal.fade.modal-icon(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                form(method="POST"  action="/admin/profile_client_banreinstate")
                    .modal-content
                        .modal-header(style="background-color:#EDEDED")
                            h2.modal-title Ban Client
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                        .modal-body
                            input#thedate(type='text' name='thedate' hidden)
                            input#id(type='text' name='id' hidden)
                            center
                                h1 Are you sure you want to ban this user?
                        .modal-footer
                            button.btn.btn-danger(type='submit' name='btn1' value='ban' onclick='time();') Yes
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
        #reinstate.modal.fade.modal-icon(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                form(method="POST"  action="/admin/profile_client_banreinstate")
                    .modal-content
                        .modal-header(style="background-color:#EDEDED")
                            h2.modal-title Reinstate Client
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                        .modal-body
                            input#thedate2(type='text' name='thedate' hidden)
                            input#id(type='text' name='id' hidden)
                            center
                                h1 Are you sure you want to reinstate this user?
                        .modal-footer
                            button.btn.btn-warning(type='submit' name='btn1' value='reinstate' onclick='time();') Yes
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
        script.
            function PreviewImage() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
                oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
                };
            };
            function time(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                
                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd ;

                document.getElementById("thedate").value=today;
                document.getElementById("thedate2").value=today;
            }
