extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
            div
                .page-title
                    .row
                        .col-md-12.col-sm-12.col-xs-12
                            .x_panel(style='background-color:rgba(52,152,219,.3)')
                                .x_panel
                                    .x_title
                                        h1
                                            
                                        br
                                        .row
                                            .col-md-12.col-sm-12.col-xs-12
                                                form(method='POST' action='queries_hw').form-inline
                                                    .form-group 
                                                        label Date From:
                                                            |&nbsp
                                                            |&nbsp
                                                            input.form-control(type='date', required='required', name='datefrom')
                                                        |&nbsp
                                                        |&nbsp
                                                        |&nbsp
                                                        label To:
                                                            |&nbsp
                                                            |&nbsp
                                                            input.form-control(type='date', required='required', name='dateto')
                                                        |&nbsp
                                                        |&nbsp
                                                        |&nbsp
                                                        label Status:
                                                            |&nbsp
                                                            |&nbsp
                                                            select.form-control(id='status' name='thestatus')
                                                                option(value='Registered') Registered
                                                                option(value='Deployed') Deployed
                                                                option(value='Banned') Banned
                                                        |&nbsp
                                                        |&nbsp
                                                        |&nbsp
                                                        label Location:
                                                            |&nbsp
                                                            |&nbsp
                                                            select.form-control(id='residence' name='residence')
                                                                option(value='All') All
                                                                option(value='In Metro Manila') Metro Manila
                                                                option(value='Outside Metro Manila') Outside Metro Manila
                                                        |&nbsp
                                                        |&nbsp
                                                        |&nbsp
                                                        label(id='NCRcities' style='display:none;') City:
                                                            |&nbsp
                                                            |&nbsp
                                                            select.form-control(name='city')
                                                                option(value='All') All
                                                                each item in itemtab
                                                                    option(value=''+item.strName) #{item.strName}
                                                        
                                                    br
                                                    br
                                                    center
                                                        .form-group
                                                            |&nbsp
                                                            |&nbsp
                                                            |&nbsp
                                                            button.btn.btn-info(type='submit')
                                                                i.fa.fa-eye
                                                                |  Filter
                                        hr
                                        br
                                        each resultdates in resultdateslist
                                            i
                                                h4 Displaying results from "#{resultdates.date1}" to "#{resultdates.date2}". Status: "#{resultdates.status}". Location: "#{resultdates.location}". City: "#{resultdates.city}".
                                        br
                                        br
                                        .col-md-12.col-sm-12.col-xs-12
                                            .table-responsive
                                                table#datatable.table.table-striped.jambo_table.table-bordered
                                                    thead
                                                        tr.headings
                                                        tr
                                                            th NAME
                                                            th DATE
                                                            th CITY
                                                            th ACTION
                                                    tbody
                                                        each theresults in theresultstab
                                                            if theresults == undefined
                                                            else if theresults.strStatus != 'Deployed'
                                                                tr.even.pointer
                                                                    td #{theresults.strFName} #{theresults.strLName}
                                                                    td #{theresults.datDateRegistered}
                                                                    td #{theresults.strCity}
                                                                    td
                                                                        a(href='/admin/profile_client_'+theresults.intHWID)
                                                                            button.btn.btn-info(type='button')
                                                                                i.fa.fa-eye
                                                                                |  view
                                                            else
                                                                tr.even.pointer
                                                                    td #{theresults.strFName} #{theresults.strLName}
                                                                    td #{theresults.datDateSettled}
                                                                    td #{theresults.strCity}
                                                                    td
                                                                        a(href='/admin/profile_client_'+theresults.intHWID)
                                                                            button.btn.btn-info(type='button')
                                                                                i.fa.fa-eye
                                                                                |  view

                                        .clearfix
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script(src='/admin/gentelella/vendors/moment/min/moment.min.js')
    script.
        $('#residence').change(function(){
            if($(this).val() == 'In Metro Manila'){ 
                $('#NCRcities').show();
            }
            else{
                $('#NCRcities').hide();
            }
        });
        //- $('#status').change(function(){
        //-     if($(this).val() == 'Deployed'){ 
        //-         $('#Deployedcity').show();
        //-     }
        //-     else{
        //-         $('#Deployedcity').hide();
        //-     }
        //- });