extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
                    .title_left
                    h5
                        | Queries /&nbsp
                        b Household Worker
                
                    .row
                        .col-md-12.col-sm-12.col-xs-12
                                                .x_panel(style='background-color:rgba(52,152,219,.3)')
                                                    
                                                        .x_panel
                                                            h1
                                                            .x_panel(style='background-color:')
                                                                form(method='POST' action='queries_hw').form-inline
                                                                    br
                                                                    br
                                                                    .row
                                                                        .col-md-4
                                                                            .form-group 
                                                                                label Date From:
                                                                                    |&nbsp
                                                                                    |&nbsp
                                                                                    input.form-control(type='date', required='required', name='datefrom')
                                                                        .col-md-3
                                                                            .form-group
                                                                                label Status: &nbsp
                                                                                        select.form-control(id='status' name='thestatus')
                                                                                            option(value='Registered') Registered
                                                                                            option(value='Deployed') Deployed
                                                                                            option(value='Banned') Banned
                                                                        .col-md-4
                                                                            .form-group
                                                                                label Location: &nbsp
                                                                                    select.form-control(id='residence' name='residence')
                                                                                        option(value='All') All
                                                                                        option(value='In Metro Manila') Metro Manila
                                                                                        option(value='Outside Metro Manila') Outside Metro Manila
                                                                    br
                                                                    .row
                                                                        .col-md-4
                                                                            label(style="margin-left:49px;")  To:
                                                                                |&nbsp
                                                                                |&nbsp
                                                                                input.form-control(type='date', required='required', name='dateto')
                                                                        .col-md-4
                                                                            label(id='NCRcities' style='display:none;') City:
                                                                                |&nbsp
                                                                                |&nbsp
                                                                                select.form-control(name='city')
                                                                                    option(value='All') All
                                                                                    each item in itemtab
                                                                                        option(value=''+item.strName) #{item.strName}
                                                                            
                                                                    .row(style="float:right; margin-bottom:10px")
                                                                        .form-group
                                                                            button.btn.btn-info(type='submit')
                                                                                i.fa.fa-search
                                                                                |  Filter
                                            
                                                        //-.x_panel.alert-info(style='color:white')
                                                            each resultdates in resultdateslist
                                                                i
                                                                    h4 
                                                                        b   Displaying results;
                                                                        br
                                                                        br
                                                                        b &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspfrom 
                                                                        |   #{resultdates.date1} 
                                                                        b   to 
                                                                        |   #{resultdates.date2}
                                                                        b   &nbsp&nbsp&nbsp&nbspStatus: 
                                                                        |   #{resultdates.status} 
                                                                        b   &nbsp&nbsp&nbsp&nbspLocation: 
                                                                        |   #{resultdates.location} 
                                                                        b   &nbsp&nbsp&nbsp&nbspCity: 
                                                                        |   #{resultdates.city}
                                                br
                                                br
                                                .x_panel(style='background-color:rgba(52,152,219,.3)')
                                                    .x_panel.alert-info(style='color:white')
                                                            each resultdates in resultdateslist
                                                                i
                                                                    h4 
                                                                        b   Displaying results;
                                                                        br
                                                                        br
                                                                        b &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspfrom 
                                                                            l#from #{resultdates.date1} 
                                                                        b   to 
                                                                           l#to #{resultdates.date2}
                                                                        b   &nbsp&nbsp&nbsp&nbspStatus: 
                                                                        |   #{resultdates.status} 
                                                                        b   &nbsp&nbsp&nbsp&nbspLocation: 
                                                                        |   #{resultdates.location} 
                                                                        b   &nbsp&nbsp&nbsp&nbspCity: 
                                                                        |   #{resultdates.city}
                                                    .x_panel
                                                        br
                                                        .no-print.pull-left
                                                            .col-xs-12
                                                                //- a(href='/request_add')
                                                                //-     button.btn.btn-primary.pull-right(type='button') Back to List
            
                                                                button.btn.btn-success.pull-right#printInv2
                                                                    i.fa.fa-print
                                                                    |  Print
                                                                button.btn.btn-primary.pull-right#generateButton2(style='margin-right: 5px;')
                                                                    i.fa.fa-download
                                                                    |  Generate PDF
                                                        .col-md-12.col-sm-12.col-xs-12
                                                            br
                                                            .table-responsive
                                                                br
                                                                table#datatable.table.table-striped.jambo_table.table-bordered
                                                                    thead
                                                                        tr.headings
                                                                        tr
                                                                            th(style="text-align:center") NAME
                                                                            th(style="text-align:center") SERVICE
                                                                            th(style="text-align:center") AGE
                                                                            th(style="text-align:center") CITY
                                                                            th(style="text-align:center") CONTACT NO.
                                                                            th(style="text-align:center") EMAIL
                                                                            th(style="text-align:center") DATE
                                                                            //- th(style="text-align:center") ACTION
                                                                    tbody
                                                                        each theresults in theresultstab
                                                                            if theresults == undefined
                                                                            else
                                                                                tr.even.pointer(style="text-align:center")
                                                                                    td#qName #{theresults.strFName} #{theresults.strLName}
                                                                                    td#qService #{theresults.strName}
                                                                                    td#qAge #{theresults.age}
                                                                                    td#qCity #{theresults.strCity}
                                                                                    td#qContact #{theresults.strCellNum}
                                                                                    td#qEmail #{theresults.strEmail}
                                                                                    td#qDate #{theresults.datDateRegistered}
                                                                                    
                                                                            //- else
                                                                            //-     tr.even.pointer
                                                                            //-         td#qName #{theresults.strFName} #{theresults.strLName}
                                                                            //-         td#qName #{theresults.datDateSettled}
                                                                            //-         td#qName #{theresults.strCity}
                                                                                    

                                    
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script(src='/admin/gentelella/vendors/moment/min/moment.min.js')

    script.
        $('#residence').change(function(){
            if($(this).val() == 'In Metro Manila'){ 
                $('#NCRcities').show();
            }
            else{
                $('#NCRcities').hide();
            }
        });
        //- $('#status').change(function(){
        //-     if($(this).val() == 'Deployed'){ 
        //-         $('#Deployedcity').show();
        //-     }
        //-     else{
        //-         $('#Deployedcity').hide();
        //-     }
        //- });
    script(type='text/javascript').
        $(document).ready(function(){
            $("#d1").change(function(){
                var minimum = $("#d1").val();
                console.log(minimum);
                console.log($("#d2").attr("min", minimum));
                $("#d2").attr("min", minimum);
                $("#d2").val(minimum);
            });
            $(document).on(	'click', '#generateButton2', function(){
                function toDataURL(url, callback) {
                        var xhr = new XMLHttpRequest();
                        xhr.onload = function() {
                            var reader = new FileReader();
                            reader.onloadend = function() {
                            callback(reader.result);
                            }
                            reader.readAsDataURL(xhr.response);
                        };
                        xhr.open('GET', url);
                        xhr.responseType = 'blob';
                        xhr.send();
                }
                toDataURL('/admin/gentelella/production/images/mega.png', function(imageko) {
                var from = document.getElementById('from').innerHTML;
                var to = document.getElementById('to').innerHTML;
                var date = "[ " + from +" - "+ to + "]" 
                // Query Result
                var qqName = document.getElementById('qName').innerHTML;
                var qqService = document.getElementById('qService').innerHTML;
                var qqAge = document.getElementById('qAge').innerHTML;
                var qqCity = document.getElementById('qCity').innerHTML;
                var qqContact = document.getElementById('qContact').innerHTML;
                var qqEmail = document.getElementById('qEmail').innerHTML;
                var qqDate = document.getElementById('qDate').innerHTML;
                
                var docDefinition = {
                        //- pageOrientation: 'landscape',
                        pageSize: 'A5',
                        pageOrientation: 'landscape',
                        info: {
                            title: date,
                            author: 'CHMS Team',
                            subject: 'Query for Household Worker',
                        },
                        content: [
                            {
                                image: imageko,
                                width: 250,
                                height: 70, 
                                alignment: 'center'
                            },
                            { text: " " },
                            { text: "__________________________________________________________________________________________", alignment: 'center', },
                            { text: " " },   
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "NAME" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "SERVICE" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "AGE" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "RESIDENCE" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "CONTACT NO." , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "EMAIL" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "DATE" , fontSize: 10, bold: true
                                        },
                                    ],
                                },
                            { text: "__________________________________________________________________________________________", alignment: 'center', },
                            { text: " " }, 
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: qqName , fontSize: 10
                                        },
                                        {
                                            text: qqService , fontSize: 10
                                        },
                                        {
                                            text: qqAge , fontSize: 10
                                        },
                                        {
                                            text: qqCity , fontSize: 10
                                        },
                                        {
                                            text: qqContact , fontSize: 10
                                        },
                                        {
                                            text: qqEmail , fontSize: 10
                                        },
                                        {
                                            text: qqDate , fontSize: 10
                                        },
                                    ],
                                },

                        ],
                            pageBreakBefore: function(currentNode, followingNodesOnPage, nodesOnNextPage, previousNodesOnPage) {
                                return currentNode.headlineLevel === 1 && followingNodesOnPage.length === 0;
                                },
                    };
                    pdfMake.createPdf(docDefinition).open();
                }); 
            });    
        });
    script(type='text/javascript').
        $(document).ready(function(){
            $(document).on(	'click', '#printInv2', function(){
                function toDataURL(url, callback) {
                        var xhr = new XMLHttpRequest();
                        xhr.onload = function() {
                            var reader = new FileReader();
                            reader.onloadend = function() {
                            callback(reader.result);
                            }
                            reader.readAsDataURL(xhr.response);
                        };
                        xhr.open('GET', url);
                        xhr.responseType = 'blob';
                        xhr.send();
                }
                toDataURL('/admin/gentelella/production/images/mega.png', function(imageko) {
                // Query Result
                var from = document.getElementById('from').innerHTML;
                var to = document.getElementById('to').innerHTML;
                var date = "[ " + from +" - "+ to + "]" 
                var qqName = document.getElementById('qName').innerHTML;
                var qqService = document.getElementById('qService').innerHTML;
                var qqAge = document.getElementById('qAge').innerHTML;
                var qqCity = document.getElementById('qCity').innerHTML;
                var qqContact = document.getElementById('qContact').innerHTML;
                var qqEmail = document.getElementById('qEmail').innerHTML;
                var qqDate = document.getElementById('qDate').innerHTML;
                
                var docDefinition = {
                        //- pageOrientation: 'landscape',
                        pageSize: 'A5',
                        pageOrientation: 'landscape',
                        info: {
                            title: date,
                            author: 'CHMS Team',
                            subject: 'Query for Household Worker',
                        },
                        content: [
                            { 
                                image: imageko,
                                width: 250,
                                height: 70, 
                                alignment: 'center'
                            },
                            { text: " " },
                            { text: "__________________________________________________________________________________________", alignment: 'center', },
                            { text: " " },   
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "NAME" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "SERVICE" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "AGE" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "RESIDENCE" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "CONTACT NO." , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "EMAIL" , fontSize: 10, bold: true
                                        },
                                        {
                                            text: "DATE" , fontSize: 10, bold: true
                                        },
                                    ],
                                },
                            { text: "__________________________________________________________________________________________", alignment: 'center', },
                            { text: " " }, 
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: qqName , fontSize: 10
                                        },
                                        {
                                            text: qqService , fontSize: 10
                                        },
                                        {
                                            text: qqAge , fontSize: 10
                                        },
                                        {
                                            text: qqCity , fontSize: 10
                                        },
                                        {
                                            text: qqContact , fontSize: 10
                                        },
                                        {
                                            text: qqEmail , fontSize: 10
                                        },
                                        {
                                            text: qqDate , fontSize: 10
                                        },
                                    ],
                                },

                        ],
                            pageBreakBefore: function(currentNode, followingNodesOnPage, nodesOnNextPage, previousNodesOnPage) {
                                return currentNode.headlineLevel === 1 && followingNodesOnPage.length === 0;
                                },
                    };
                    pdfMake.createPdf(docDefinition).print();
                });   
            });  
        });