extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
            .title_left
                h5
                    b Reports
            .x_panel
                form.form-inline(method='POST' action='reports')
                    each thequery in thequerytab
                        br
                        .row
                            .col-md-4
                                .form-group 
                                    label Date From:
                                        |&nbsp
                                        |&nbsp
                                        input.form-control(type='date', required='required', value=''+thequery.date1 name='datefrom')
                            .col-md-3  
                                .form-group           
                                    label(style="margin-left:49px;") To:
                                        |&nbsp
                                        |&nbsp
                                        input.form-control(type='date', required='required', value=''+thequery.date2 name='dateto')
                        .row 
                            .form-group
                                button.btn.btn-info(type='submit')
                                    i.fa.fa-eye
                                    |  Filter
            .col-md-6.col-sm-6.col-xs-12
                //hhowrkers
                each cn in hwCount
                    p(hidden)#RegiC #{cn.CNT}
                each cnr in hwRCount
                    p(hidden)#DepC #{cnr.CNT}
                //- each hwpcount in hwPCount
                //-     p(hidden)#PenC #{hwpcount.CNT}
                each hwbcount in hwBCount
                    p(hidden)#BanC #{hwbcount.CNT}
                .x_panel
                    .x_title
                        h2
                            | Household Worker
                            h2#HW(style="float:right") 
                        .clearfix
                    .x_content
                        canvas#myChart                
            .col-md-6.col-sm-6.col-xs-12
                //clients
                //- each clP in clPCount
                //-     p(hidden)#Pencl #{clP.CNT}
                each clR in clRCount
                    p(hidden)#Regcl #{clR.CNT}
                each clB in clBCount
                    p(hidden)#Bancl #{clB.CNT}
                .x_panel
                    .x_title
                        h2
                            | Client
                            h2#CL(style="float:right") 
                        .clearfix
                    .x_content
                        canvas#myChart2
            .col-md-6.col-sm-6.col-xs-12
                each hwleavereq in hwleavereqtab
                    p(hidden)#hwleavereq #{hwleavereq.CNT}
                each hwreplacereq in hwreplacereqtab
                    p(hidden)#hwreplacereq #{hwreplacereq.CNT}
                .x_panel
                    .x_title
                        h2
                            | Household Worker Requests
                            h2#hwreq(style="float:right") 
                        .clearfix
                    .x_content
                        canvas#myChart4
            .col-md-6.col-sm-6.col-xs-12
                each clientaddreq in clientaddreqtab
                    p(hidden)#clientaddreq #{clientaddreq.CNT}
                each clientreplacereq in clientreplacereqtab
                    p(hidden)#clientreplacereq #{clientreplacereq.CNT}
                each clientrelieverreq in clientrelieverreqtab
                    p(hidden)#clientrelieverreq #{clientrelieverreq.CNT}
                .x_panel
                    .x_title
                        h2
                            | Client Requests
                            h2#clientreq(style="float:right") 
                        .clearfix
                    .x_content
                        canvas#myChart3
            .col-md-6.col-sm-6.col-xs-12
                .x_panel
                    each irclient in irclienttab
                        p(hidden)#irclient #{irclient.CNT}
                    each irhw in irhwtab
                        p(hidden)#irhw #{irhw.CNT}
                    .x_title
                        h2
                            | Incident Report
                            h2#ir(style="float:right") 
                        .clearfix
                    .x_content
                        canvas#myChart5
            .col-md-6.col-sm-6.col-xs-12
                //- each transpending in transpendingtab
                //-     p(hidden)#transpending #{transpending.CNT}
                each transapproved in transapprovedtab
                    p(hidden)#transapproved #{transapproved.CNT}
                each transrejected in transrejectedtab
                    p(hidden)#transrejected #{transrejected.CNT}
                each transongoing in transongoingtab
                    p(hidden)#transongoing #{transongoing.CNT}
                each transfinished in transfinishedtab
                    p(hidden)#transfinished #{transfinished.CNT}
                each transterminated in transterminatedtab
                    p(hidden)#transterminated #{transterminated.CNT}
                .x_panel
                    .x_title
                        h2
                            | Transactions
                            h2#trans(style="float:right") 
                        .clearfix
                    .x_content
                        canvas#myChart6

    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script.
        $(document).ready(function(){
            var regCn=parseInt(document.getElementById("RegiC").innerHTML);
            var depCn=parseInt(document.getElementById("DepC").innerHTML);
            //- var penCn=parseInt(document.getElementById("PenC").innerHTML);
            var banCn=parseInt(document.getElementById("BanC").innerHTML);
            var totalHW = regCn + depCn + banCn;
            var totalhwdisp = 'Total: '+ totalHW
            document.getElementById("HW").innerHTML = totalhwdisp;

            //- var pencL=parseInt(document.getElementById("Pencl").innerHTML);
            var regcL=parseInt(document.getElementById("Regcl").innerHTML);
            var bancL=parseInt(document.getElementById("Bancl").innerHTML);
            var totalCl = regcL + bancL;
            var totalCldisp = 'Total: '+ totalCl
            document.getElementById("CL").innerHTML = totalCldisp;

            var hwleavereq=parseInt(document.getElementById("hwleavereq").innerHTML);
            var hwreplacereq=parseInt(document.getElementById("hwreplacereq").innerHTML);
            var totalhwreq = hwleavereq + hwreplacereq;
            var totalhwreqdisp = 'Total: '+ totalhwreq;
            document.getElementById("hwreq").innerHTML = totalhwreqdisp;

            var clientaddreq=parseInt(document.getElementById("clientaddreq").innerHTML);
            var clientreplacereq=parseInt(document.getElementById("clientreplacereq").innerHTML);
            var clientrelieverreq=parseInt(document.getElementById("clientrelieverreq").innerHTML);
            var totalclientreq = clientaddreq + clientreplacereq + clientrelieverreq ;
            var totalclientreqdisp = 'Total: '+totalclientreq;
            document.getElementById("clientreq").innerHTML = totalclientreqdisp;

            var irclient=parseInt(document.getElementById("irclient").innerHTML);
            var irhw=parseInt(document.getElementById("irhw").innerHTML);
            var totalir = irclient + irhw;
            var totalirdisp = 'Total: '+totalir;
            document.getElementById("ir").innerHTML = totalirdisp;

            //- var transpending=parseInt(document.getElementById("transpending").innerHTML);
            var transapproved=parseInt(document.getElementById("transapproved").innerHTML);
            var transrejected=parseInt(document.getElementById("transrejected").innerHTML);
            var transongoing=parseInt(document.getElementById("transongoing").innerHTML);
            var transfinished=parseInt(document.getElementById("transfinished").innerHTML);
            var transterminated=parseInt(document.getElementById("transterminated").innerHTML);
            var totaltrans = transapproved + transrejected + transongoing + transfinished +  transterminated;
            var totaltransdisp = 'Total: '+ totaltrans;
            document.getElementById("trans").innerHTML = totaltransdisp;
            console.log('??totaltrans: '+ totaltransdisp);
            
        });
    // Chart.js
    script(src='/admin/gentelella/vendors/Chart.js/dist/Chart.js')
    script.
        var ctx = document.getElementById("myChart");
        var regiC = document.getElementById("RegiC").innerHTML;
        var depC = document.getElementById("DepC").innerHTML;
        //- var penC = document.getElementById("PenC").innerHTML;
        var banC = document.getElementById("BanC").innerHTML;
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Registered: "+regiC, "Deployed: "+depC, "Banned: "+banC],
                datasets: [{
                    label: 'Household Worker',
                    data: [regiC, depC,banC],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx2 = document.getElementById("myChart2");
        //- var penCl = document.getElementById("Pencl").innerHTML;
        var regCl = document.getElementById("Regcl").innerHTML;
        var banCl = document.getElementById("Bancl").innerHTML;
        var myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ["Registered: "+regCl, "Banned: "+banCl],
                datasets: [{
                    label: 'Client',
                    data: [regCl, banCl],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx3 = document.getElementById("myChart3");
        var clientaddreq = document.getElementById("clientaddreq").innerHTML;
        var clientreplacereq = document.getElementById("clientreplacereq").innerHTML;
        var clientrelieverreq = document.getElementById("clientrelieverreq").innerHTML;
        var myChart3 = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: ["Add: "+clientaddreq,"Replacement: "+clientreplacereq, "Reliever: "+clientrelieverreq],
                datasets: [{
                    label: 'Client Request',
                    data: [clientaddreq, clientreplacereq, clientrelieverreq],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(54, 162, 235, 0.60)',

                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx4 = document.getElementById("myChart4");
        var hwleavereq = document.getElementById("hwleavereq").innerHTML;
        var hwreplacereq = document.getElementById("hwreplacereq").innerHTML;
        var myChart4 = new Chart(ctx4, {
            type: 'pie',
            data: {
                labels: ["Leave: "+hwleavereq,"Replacement: "+hwreplacereq],
                datasets: [{
                    label: 'Household Worker requests',
                    data: [hwleavereq, hwreplacereq],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',


                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx5 = document.getElementById("myChart5");
        var irclient = document.getElementById("irclient").innerHTML;
        var irhw = document.getElementById("irhw").innerHTML;
        var myChart5 = new Chart(ctx5, {
            type: 'pie',
            data: {
                labels: ["Client: "+irclient,"Household Worker: "+irhw],
                datasets: [{
                    label: 'Incident Report',
                    data: [irclient, irhw],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx6 = document.getElementById("myChart6");
        //- var transpending = document.getElementById("transpending").innerHTML;
        var transapproved = document.getElementById("transapproved").innerHTML;
        var transrejected = document.getElementById("transrejected").innerHTML;
        var transongoing = document.getElementById("transongoing").innerHTML;
        var transfinished = document.getElementById("transfinished").innerHTML;
        var transterminated = document.getElementById("transterminated").innerHTML;
        var myChart6 = new Chart(ctx6, {
            type: 'pie',
            data: {
                labels: ["Approved","Rejected","On-going","Finished","Terminated"],
                datasets: [{
                    label: 'Household Worker',
                    data: [transapproved, transrejected, transongoing, transfinished, transterminated],
                    backgroundColor: [
                        
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(243, 156, 18, 0.65)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(52, 73, 94, 0.60)',
                        
                    ],
                    borderColor: [
                        
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(243, 156, 18, 0.65)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(52, 73, 94, 0.60)',


                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            });
