extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
            .title_left
                h5
                    b Reports
            .x_panel(style='background-color:rgba(52,152,219,.3)')
                .x_panel
                    .col-md-12.col-sm-12.col-xs-12
                        form.form-inline(method='POST' action='reports')
                            each thequery in thequerytab
                                br
                                .row
                                    .col-md-1
                                        .form-group 

                                    .col-md-4
                                        .form-group 
                                            label Date&nbsp&nbsp From:
                                                |&nbsp
                                                |&nbsp
                                                input.form-control(type='date', required='required', value=''+thequery.date1 name='datefrom')
                                    
                                    .col-md-4
                                        .form-group           
                                            label(style="margin-left:49px;") To:
                                                |&nbsp
                                                |&nbsp
                                                input.form-control(type='date', required='required', value=''+thequery.date2 name='dateto')
                                .row(style="float:right; margin-bottom:10px")
                                    .form-group
                                        button.btn.btn-info(type='submit')
                                            i.fa.fa-filter
                                            |  Filter

            
            
                
            
                //-.col-xs-12
                    button.btn.btn-primary.pull-left#generateButtonReport(style='margin-right: 5px;')
                        i.fa.fa-download
                        |  Generate PDF
                    button.btn.btn-success.pull-left#printReport
                        i.fa.fa-print
                        |  Print
                


            br
            br
            .x_panel(style='background-color:rgba(52,152,219,.3)')
                .col-md-6.col-sm-6.col-xs-12
                    //- each transpending in transpendingtab
                    //-     p(hidden)#transpending #{transpending.CNT}
                    each transapproved in transapprovedtab
                        p(hidden)#transapproved #{transapproved.CNT}
                    each transrejected in transrejectedtab
                        p(hidden)#transrejected #{transrejected.CNT}
                    each transongoing in transongoingtab
                        p(hidden)#transongoing #{transongoing.CNT}
                    each transfinished in transfinishedtab
                        p(hidden)#transfinished #{transfinished.CNT}
                    each transterminated in transterminatedtab
                        p(hidden)#transterminated #{transterminated.CNT}
                    .x_panel
                        .x_title
                            h2
                                | Transactions
                                h2
                                b#trans(style="float:right") 
                            .clearfix
                        .x_content
                            canvas#myChart6
                .col-md-6.col-sm-6.col-xs-12
                    //hhowrkers
                    each cn in hwCount
                        p(hidden)#RegiC #{cn.CNT}
                    each cnr in hwRCount
                        p(hidden)#DepC #{cnr.CNT}
                    //- each hwpcount in hwPCount
                    //-     p(hidden)#PenC #{hwpcount.CNT}
                    each hwbcount in hwBCount
                        p(hidden)#BanC #{hwbcount.CNT}
                    .x_panel
                        .x_title
                            h2
                                | Household Worker
                                h2
                                b#HW(style="float:right") 
                            .clearfix
                        .x_content
                            canvas#myChart                
                .col-md-6.col-sm-6.col-xs-12
                    //clients
                    //- each clP in clPCount
                    //-     p(hidden)#Pencl #{clP.CNT}
                    each clR in clRCount
                        p(hidden)#Regcl #{clR.CNT}
                    each clB in clBCount
                        p(hidden)#Bancl #{clB.CNT}
                    .x_panel
                        .x_title
                            h2
                                | Client
                                h2
                                b#CL(style="float:right") 
                            .clearfix
                        .x_content
                            canvas#myChart2
                .col-md-6.col-sm-6.col-xs-12
                    each hwleavereq in hwleavereqtab
                        p(hidden)#hwleavereq #{hwleavereq.CNT}
                    each hwreplacereq in hwreplacereqtab
                        p(hidden)#hwreplacereq #{hwreplacereq.CNT}
                    .x_panel
                        .x_title
                            h2
                                | Household Worker Requests
                                h2
                                b#hwreq(style="float:right") 
                            .clearfix
                        .x_content
                            canvas#myChart4
                .col-md-6.col-sm-6.col-xs-12
                    each clientaddreq in clientaddreqtab
                        p(hidden)#clientaddreq #{clientaddreq.CNT}
                    each clientreplacereq in clientreplacereqtab
                        p(hidden)#clientreplacereq #{clientreplacereq.CNT}
                    each clientrelieverreq in clientrelieverreqtab
                        p(hidden)#clientrelieverreq #{clientrelieverreq.CNT}
                    .x_panel
                        .x_title
                            h2
                                | Client Requests
                                h2
                                b#clientreq(style="float:right") 
                            .clearfix
                        .x_content
                            canvas#myChart3
                .col-md-6.col-sm-6.col-xs-12
                    .x_panel
                        each irclient in irclienttab
                            p(hidden)#irclient #{irclient.CNT}
                        each irhw in irhwtab
                            p(hidden)#irhw #{irhw.CNT}
                        .x_title
                            h2
                                | Incident Report
                                h2
                                b#ir(style="float:right") 
                            .clearfix
                        .x_content
                            canvas#myChart5
                
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script.
        $(document).ready(function(){
            var regCn=parseInt(document.getElementById("RegiC").innerHTML);
            var depCn=parseInt(document.getElementById("DepC").innerHTML);
            //- var penCn=parseInt(document.getElementById("PenC").innerHTML);
            var banCn=parseInt(document.getElementById("BanC").innerHTML);
            var totalHW = regCn + depCn + banCn;
            var totalhwdisp = 'Total: '+ totalHW
            document.getElementById("HW").innerHTML = totalhwdisp;

            //- var pencL=parseInt(document.getElementById("Pencl").innerHTML);
            var regcL=parseInt(document.getElementById("Regcl").innerHTML);
            var bancL=parseInt(document.getElementById("Bancl").innerHTML);
            var totalCl = regcL + bancL;
            var totalCldisp = 'Total: '+ totalCl
            document.getElementById("CL").innerHTML = totalCldisp;

            var hwleavereq=parseInt(document.getElementById("hwleavereq").innerHTML);
            var hwreplacereq=parseInt(document.getElementById("hwreplacereq").innerHTML);
            var totalhwreq = hwleavereq + hwreplacereq;
            var totalhwreqdisp = 'Total: '+ totalhwreq;
            document.getElementById("hwreq").innerHTML = totalhwreqdisp;

            var clientaddreq=parseInt(document.getElementById("clientaddreq").innerHTML);
            var clientreplacereq=parseInt(document.getElementById("clientreplacereq").innerHTML);
            var clientrelieverreq=parseInt(document.getElementById("clientrelieverreq").innerHTML);
            var totalclientreq = clientaddreq + clientreplacereq + clientrelieverreq ;
            var totalclientreqdisp = 'Total: '+totalclientreq;
            document.getElementById("clientreq").innerHTML = totalclientreqdisp;

            var irclient=parseInt(document.getElementById("irclient").innerHTML);
            var irhw=parseInt(document.getElementById("irhw").innerHTML);
            var totalir = irclient + irhw;
            var totalirdisp = 'Total: '+totalir;
            document.getElementById("ir").innerHTML = totalirdisp;

            //- var transpending=parseInt(document.getElementById("transpending").innerHTML);
            var transapproved=parseInt(document.getElementById("transapproved").innerHTML);
            var transrejected=parseInt(document.getElementById("transrejected").innerHTML);
            var transongoing=parseInt(document.getElementById("transongoing").innerHTML);
            var transfinished=parseInt(document.getElementById("transfinished").innerHTML);
            var transterminated=parseInt(document.getElementById("transterminated").innerHTML);
            var totaltrans = transapproved + transrejected + transongoing + transfinished +  transterminated;
            var totaltransdisp = 'Total: '+ totaltrans;
            document.getElementById("trans").innerHTML = totaltransdisp;
            console.log('??totaltrans: '+ totaltransdisp);
            
        });
    // Chart.js
    script(src='/admin/gentelella/vendors/Chart.js/dist/Chart.js')
    script.
        var ctx = document.getElementById("myChart");
        var regiC = document.getElementById("RegiC").innerHTML;
        var depC = document.getElementById("DepC").innerHTML;
        //- var penC = document.getElementById("PenC").innerHTML;
        var banC = document.getElementById("BanC").innerHTML;
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Registered: "+regiC, "Deployed: "+depC, "Banned: "+banC],
                datasets: [{
                    label: ' Status',
                    data: [regiC, depC,banC],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx2 = document.getElementById("myChart2");
        //- var penCl = document.getElementById("Pencl").innerHTML;
        var regCl = document.getElementById("Regcl").innerHTML;
        var banCl = document.getElementById("Bancl").innerHTML;
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: ["Registered: "+regCl, "Banned: "+banCl],
                datasets: [{
                    label: ' Status',
                    data: [regCl, banCl],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx3 = document.getElementById("myChart3");
        var clientaddreq = document.getElementById("clientaddreq").innerHTML;
        var clientreplacereq = document.getElementById("clientreplacereq").innerHTML;
        var clientrelieverreq = document.getElementById("clientrelieverreq").innerHTML;
        var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: ["Add: "+clientaddreq,"Replacement: "+clientreplacereq, "Reliever: "+clientrelieverreq],
                datasets: [{
                    label: ' Status',
                    data: [clientaddreq, clientreplacereq, clientrelieverreq],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(54, 162, 235, 0.60)',

                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx4 = document.getElementById("myChart4");
        var hwleavereq = document.getElementById("hwleavereq").innerHTML;
        var hwreplacereq = document.getElementById("hwreplacereq").innerHTML;
        var myChart4 = new Chart(ctx4, {
            type: 'line',
            data: {
                labels: ["Leave: "+hwleavereq,"Replacement: "+hwreplacereq],
                datasets: [{
                    label: ' Status',
                    data: [hwleavereq, hwreplacereq],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',


                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx5 = document.getElementById("myChart5");
        var irclient = document.getElementById("irclient").innerHTML;
        var irhw = document.getElementById("irhw").innerHTML;
        var myChart5 = new Chart(ctx5, {
            type: 'line',
            data: {
                labels: ["Client: "+irclient,"Household Worker: "+irhw],
                datasets: [{
                    label: ' Status',
                    data: [irclient, irhw],
                    backgroundColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',
                    ],
                    borderColor: [
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(54, 162, 235, 0.60)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
        var ctx6 = document.getElementById("myChart6");
        //- var transpending = document.getElementById("transpending").innerHTML;
        var transapproved = document.getElementById("transapproved").innerHTML;
        var transrejected = document.getElementById("transrejected").innerHTML;
        var transongoing = document.getElementById("transongoing").innerHTML;
        var transfinished = document.getElementById("transfinished").innerHTML;
        var transterminated = document.getElementById("transterminated").innerHTML;
        var myChart6 = new Chart(ctx6, {
            type: 'line',
            data: {
                labels: ["Approved: "+transapproved, "Rejected: "+transrejected, "On-going: "+transongoing, "Finished: "+transfinished, "Terminated: "+transterminated],
                datasets: [{
                    label: ' Status',
                    data: [transapproved, transrejected, transongoing, transfinished, transterminated],
                    backgroundColor: [
                        
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(243, 156, 18, 0.65)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(52, 73, 94, 0.60)',
                        
                    ],
                    borderColor: [
                        
                        'rgba(38, 185, 154, 0.60)',
                        'rgba(255, 99, 132, 0.60)',
                        'rgba(243, 156, 18, 0.65)',
                        'rgba(54, 162, 235, 0.60)',
                        'rgba(52, 73, 94, 0.60)',


                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            });

    script(type='text/javascript').
        $(document).ready(function(){
            $(document).on(	'click', '#generateButtonReport', function(){
                function toDataURL(url, callback) {
                        var xhr = new XMLHttpRequest();
                        xhr.onload = function() {
                            var reader = new FileReader();
                            reader.onloadend = function() {
                            callback(reader.result);
                            }
                            reader.readAsDataURL(xhr.response);
                        };
                        xhr.open('GET', url);
                        xhr.responseType = 'blob';
                        xhr.send();
                }
                toDataURL('/admin/gentelella/production/images/mega.png', function(imageko) {

                // date
                var datefrom = document.getElementById('from').innerHTML;
                var dateto = document.getElementById('to').innerHTML;

                var HwRegiC = document.getElementById('RegiC').innerHTML;
                var HwDepC = document.getElementById('DepC').innerHTML;
                var HwBanC = document.getElementById('BanC').innerHTML;
                
                var regCl = document.getElementById("Regcl").innerHTML;
                var banCl = document.getElementById("Bancl").innerHTML;

                var hwleavereq = document.getElementById("hwleavereq").innerHTML;
                var hwreplacereq = document.getElementById("hwreplacereq").innerHTML;
                
                var clientaddreq = document.getElementById("clientaddreq").innerHTML;
                var clientreplacereq = document.getElementById("clientreplacereq").innerHTML;
                var clientrelieverreq = document.getElementById("clientrelieverreq").innerHTML;

                var irclient = document.getElementById("irclient").innerHTML;
                var irhw = document.getElementById("irhw").innerHTML;

                var transapproved = document.getElementById("transapproved").innerHTML;
                var transrejected = document.getElementById("transrejected").innerHTML;
                var transongoing = document.getElementById("transongoing").innerHTML;
                var transfinished = document.getElementById("transfinished").innerHTML;
                var transterminated = document.getElementById("transterminated").innerHTML;

                //- var servName = document.getElementByClassName('servName').innerHTML;
                var docDefinition = {
                        //- watermark: {text: 'Mega Pacific Employment Services', color: 'blue', opacity: 0.3, bold: true, italics: false},
                        pageSize: 'A5',
                        pageOrientation: 'landscape',
                        info: {
                            title: invoiceNo,
                            author: 'CHMS Team',
                            subject: 'Invoice',
                        },
                        content: [
                            {
                                image: imageko,
                                width: 200,
                                height: 60,
                                margin: [0, -15, 0 , 0],
                                alignment: 'center'
                            },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Reports" , fontSize: 20, bold:true
                                        },
                                    ],
                                },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Date From:" , fontSize: 15
                                        },
                                        {
                                            text: "To:" , fontSize: 15
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: from, fontSize: 13, bold:true
                                        },
                                        {
                                            text: to , fontSize: 13, bold:true
                                        },
                                    ],
                                },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Household Worker" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Registered" , fontSize: 10
                                        },
                                        {
                                            text: "Deployed" , fontSize: 10
                                        },
                                        {
                                            text: "Banned" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: HwRegiC , fontSize: 10
                                        },
                                        {
                                            text: HwdepC , fontSize: 10
                                        },
                                        {
                                            text: HwBanC , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Client" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Registered" , fontSize: 10
                                        },
                                        {
                                            text: "Banned" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: regC1 , fontSize: 10
                                        },
                                        {
                                            text: banC1  , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Household Worker Requests" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Leave" , fontSize: 10
                                        },
                                        {
                                            text: "replacement" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: hwleavereq , fontSize: 10
                                        },
                                        {
                                            text: hwreplacereq , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Client Requests" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Add" , fontSize: 10
                                        },
                                        {
                                            text: "Replacement" , fontSize: 10
                                        },
                                        {
                                            text: "Repliever" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: clientaddreq , fontSize: 10
                                        },
                                        {
                                            text: clientreplacereq , fontSize: 10
                                        },
                                        {
                                            text: clientrelieverreq , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Incident Report" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Client" , fontSize: 10
                                        },
                                        {
                                            text: "Household Worker" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: irclient , fontSize: 10
                                        },
                                        {
                                            text: irhw , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Transactions" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Approved" , fontSize: 10
                                        },
                                        {
                                            text: "Rejected" , fontSize: 10
                                        },
                                        {
                                            text: "Finished" , fontSize: 10
                                        },
                                        {
                                            text: "On-going" , fontSize: 10
                                        },
                                        {
                                            text: "Terminated" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: transapproved , fontSize: 10
                                        },
                                        {
                                            text: transrejected , fontSize: 10
                                        },
                                        {
                                            text: transfinished , fontSize: 10
                                        },
                                        {
                                            text: transongoing, fontSize: 10
                                        },
                                        {
                                            text: transterminated , fontSize: 10
                                        },
                                    ],
                                },
                        ],
                            pageBreakBefore: function(currentNode, followingNodesOnPage, nodesOnNextPage, previousNodesOnPage) {
                                return currentNode.headlineLevel === 1 && followingNodesOnPage.length === 0;
                                },
                    };
                    pdfMake.createPdf(docDefinition).open();
                    });
                }); 
        });
    script(type='text/javascript').
        $(document).ready(function(){
            $(document).on(	'click', '#printReport', function(){
                function toDataURL(url, callback) {
                        var xhr = new XMLHttpRequest();
                        xhr.onload = function() {
                            var reader = new FileReader();
                            reader.onloadend = function() {
                            callback(reader.result);
                            }
                            reader.readAsDataURL(xhr.response);
                        };
                        xhr.open('GET', url);
                        xhr.responseType = 'blob';
                        xhr.send();
                }
                toDataURL('/admin/gentelella/production/images/mega.png', function(imageko) {
                var invoiceNo = "Invoice:"+" "+ document.getElementById('invNo').innerHTML;
                // Agency
                var date = document.getElementById('dateReq').innerHTML;
                var agency = document.getElementById('agency').innerHTML;
                var agentAdd= document.getElementById('agenAdd').innerHTML;
                var agentTel = document.getElementById('agenTel').innerHTML;
                var agentEmail = document.getElementById('agenEmail').innerHTML;
                //CLient
                var clientName = document.getElementById('clientName').innerHTML;
                var clientAdd = document.getElementById('cAdd').innerHTML;
                var clientPhone = document.getElementById('cPhone').innerHTML;
                var clientEmail = document.getElementById('cEmail').innerHTML;
                //service
                var servName = document.getElementById('servName').innerHTML;
                //- console.log(servName);
                //- var len = $('#servName').length;
                //- console.log(len);
                //-     for (var i = 0; i < len; i++) {
                //-         $("#servName").innerHTML = "text";
                //-     };
                //------------------------
                var servQty = document.getElementById('servQty').innerHTML;
                var servRate = document.getElementById('servRate').innerHTML;
                var servSub = document.getElementById('servSub').innerHTML;
                //total
                var subTotal = document.getElementById('subsum').innerHTML;
                var otherFee = document.getElementById('otherfee').innerHTML;
                var otherPrice = document.getElementById('price').innerHTML;
                var total = document.getElementById('tots').innerHTML;
                
                //- var servName = document.getElementByClassName('servName').innerHTML;
                var docDefinition = {
                        //- pageOrientation: 'landscape',
                        //- watermark: {text: 'Mega Pacific Employment Services', color: 'blue', opacity: 0.3, bold: true, italics: false},
                        pageSize: 'A5',
                        pageOrientation: 'landscape',
                        info: {
                            title: invoiceNo,
                            author: 'CHMS Team',
                            subject: 'Invoice',
                        },
                        content: [
                            {
                                image: imageko,
                                width: 200,
                                height: 60,
                                margin: [0, -15, 0 , 0],
                                alignment: 'center'
                            },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Reports" , fontSize: 20, bold:true
                                        },
                                    ],
                                },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Date From:" , fontSize: 15
                                        },
                                        {
                                            text: "To:" , fontSize: 15
                                        },
                                    ],
                                },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: from, fontSize: 13, bold:true
                                        },
                                        {
                                            text: to , fontSize: 13, bold:true
                                        },
                                    ],
                                },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Household Worker" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Registered" , fontSize: 10
                                        },
                                        {
                                            text: "Deployed" , fontSize: 10
                                        },
                                        {
                                            text: "Banned" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: HwRegiC , fontSize: 10
                                        },
                                        {
                                            text: HwdepC , fontSize: 10
                                        },
                                        {
                                            text: HwBanC , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Client" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Registered" , fontSize: 10
                                        },
                                        {
                                            text: "Banned" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text:  , fontSize: 10
                                        },
                                        {
                                            text:  , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Household Worker Requests" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Leave" , fontSize: 10
                                        },
                                        {
                                            text: "replacement" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text:  , fontSize: 10
                                        },
                                        {
                                            text:  , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Client Requests" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Add" , fontSize: 10
                                        },
                                        {
                                            text: "Replacement" , fontSize: 10
                                        },
                                        {
                                            text: "Repliever" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text:  , fontSize: 10
                                        },
                                        {
                                            text:  , fontSize: 10
                                        },
                                        {
                                            text:  , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Incident Report" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Client" , fontSize: 10
                                        },
                                        {
                                            text: "Household Worker" , fontSize: 10
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text:  , fontSize: 10
                                        },
                                        {
                                            text:  , fontSize: 10
                                        },
                                    ],
                                },
                            { text: " " },
                            { text: " " },
                            { text: " " },
                                {   
                                    width: '*',
                                    alignment: 'left',
                                    columns:[
                                        {
                                            text: "Transactions" , fontSize: 12, bold:true
                                        },
                                    ],
                                },
                            { text: "---------------------------------------------------------------------------------------------------------------------------------------------------------", alignment: 'center', },
                                {   
                                    width: '*',
                                    alignment: 'center',
                                    columns:[
                                        {
                                            text: "Approved" , fontSize: 10
                                        },
                                        {
                                            text: "Rejected" , fontSize: 10
                                        },
                                        {
                                            text: "Finished" , fontSize: 10
                                        },
                                        {
                                            text: "On-going" , fontSize: 10
                                        },
                                        {
                                            text: "Terminated" , fontSize: 10
                                        },
                                    ],
                                },

                        ],
                            pageBreakBefore: function(currentNode, followingNodesOnPage, nodesOnNextPage, previousNodesOnPage) {
                                return currentNode.headlineLevel === 1 && followingNodesOnPage.length === 0;
                                },
                    };
                    pdfMake.createPdf(docDefinition).print();
                });   
            }); 
        });

