extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
            .title_left
                h5
                    | Transaction / Settlement / 
                    b Finished Transaction
                .clearfix
                .row
                    .col-md-12.col-sm-12.col-xs-12
                            .x_panel
                                br
                                table#datatable.table.table-striped.table-bordered
                                    thead
                                        tr
                                            th ID
                                            th NAME
                                            th TYPE OF REQUEST
                                            th DATE SETTLED
                                            th TRANSACTION WILL END
                                            th STATUS
                                            th ACTION
                                    tbody
                                        each list in listtab
                                            tr
                                                td #{list.intTRequestID}
                                                td #{list.strName}
                                                td #{list.strRequestType}
                                                td #{list.datDateSettled}
                                                td #{list.dateexpire}
                                                td #{list.strTStatus}
                                                td 
                                                    a(href='transaction_settled_'+list.intTRequestID)
                                                        button.btn.btn-info(type='button')
                                                            i.fa.fa-eye
                                                            |   View