extends ../../../templates/navbaradmin.pug

block content
    section#services
        .right_col(role='main' style="background-color:transparent")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel(style='background-color:rgba(52,152,219,.3)')
                            .x_title
                                .pull-right
                                        a(href='transaction_client_request')
                                            button.btn.btn-primary.btn-lg(type='button') Back
                                center
                                    h3
                                        b Client Request
                            br
                            .x_panel.wow.fadeInRight(style='background-color:#3E5367')
                                .x_content
                                    each client in clienttab
                                        .col-md-3.col-sm-3.col-xs-12.profile_left
                                            br
                                            .profile_img
                                                #crop-avatar
                                                    // Current avatar
                                                    img.img-responsive.avatar-view(src='../images/'+client.strPicture, alt='Avatar', title='Change the avatar', style='width:170px; height:170px')
                                            h3(style='color:white; text-transform:capitalize;') #{client.strName}
                                            ul.list-unstyled.user_data(style='color:white')
                                                li.m-top-xs
                                                    i.fa.fa-phone-square.user-profile-icon
                                                    | &nbsp#{client.strContact}
                                                li
                                                    i.fa.fa-envelope.user-profile-icon
                                                    | &nbsp#{client.strEmail}
                                            a.btn.btn-success(href='/admin/profile_client_'+client.intID)
                                                i.fa.fa-edit.m-right-xs
                                                | &nbspView Profile
                                            br
                                        .col-md-9.col-sm-9.col-xs-12
                                            br
                                            .x_panel
                                                div(align='center')
                                                    .x_panel.alert-success(style='background:')
                                                        h2
                                                            b Requested Service(s)
                                                    .x_title
                                                table.table.table-striped.table-bordered
                                                    thead
                                                        tr
                                                            //- th Number
                                                            th(style="text-align:center")  Service
                                                            th(style="text-align:center")  Quantity
                                                            //- th Approved
                                                            //- th Reject
                                                            th(style="text-align:center")  Action
                                                    tbody
                                                        each request in requesttab
                                                            tr(style="text-align:center") 
                                                                //- td #{request.intIRequest_No}
                                                                td #{request.strName}
                                                                td #{request.intIQuantity}
                                                                //- td 
                                                                //- td 
                                                                td
                                                                    button.btn.btn-info(type='button', data-toggle="modal" data-target="#view_item"
                                                                                    , data-requestno=request.intIRequest_No, data-servicename=request.strName, data-quantity=request.intIQuantity, data-gender=request.strIRequestGender, data-educ=request.strIRequestEduc,
                                                                                     data-exp=request.intIRequestExp, data-sal= request.deciRequestSalary, data-age1=request.intIRequestAge1, data-age2=request.intIRequestAge2)
                                                                        i.fa.fa-eye
                                                                        |   View    
                                                                    each list in listtab
                                                                        if list.strRequestStatus == 'On process'
                                                                            a(href='transaction_result_/-/'+list.intRequestID+'/-/'+request.intIRequest_No)
                                                                                button.btn.btn-primary(type='button')
                                                                                    i.fa.fa-list
                                                                                    |   View lists of result
                                                                        else   
                                                each list in listtab
                                                    if list.strRequestStatus == 'Pending'
                                                        div(align='center')
                                                            .x_panel(style='background:#f1f1f1')
                                                                h2
                                                                    b Deployment Details
                                                        table.table.table-striped.table-bordered
                                                            thead
                                                                tr
                                                                    th(style="text-align:center") Date of Deployment
                                                                    th(style="text-align:center") Time of Deployment
                                                                    th(style="text-align:center") Type of Deployment
                                                                    th 
                                                                    th
                                                            tbody
                                                                each contractdetails in contractdetailstab
                                                                    tr(align='center')
                                                                        //- td #{contractdetails.}
                                                                        td #{contractdetails.datDateofDeployment}
                                                                        td #{contractdetails.timTimeofDeployment}
                                                                        if contractdetails.intTypeofDeployment =='2'
                                                                            td Drop-off
                                                                        else if contractdetails.intTypeofDeployment =='3'
                                                                            td Pick-up

                                                                        td 
                                                                            button.btn.btn-info(type='button' data-toggle='modal', data-target='#viewcon', data-thecontract=''+contractdetails.strContract)
                                                                                i.fa.fa-list
                                                                                |   View Contract
                                                                            if list.strRequestType == "Add"
                                                                                a(href="/admin/invoice_"+contractdetails.intTRequestID)
                                                                                    button.btn.btn-primary(type='button')
                                                                                        i.fa.fa-list
                                                                                        |   View Invoice
                                                                            else if list.strRequestType == "Replacement"
                                                                                a(href="/admin/replacementInvoice_"+contractdetails.intTRequestID)
                                                                                    button.btn.btn-primary(type='button')
                                                                                        i.fa.fa-list
                                                                                        |   View Invoice
                                                    else if list.strRequestStatus == 'On process'
                                                        each contract in contracttab
                                                            if contract.contract == 0
                                                                

                                                            else if contract.contract != 0
                                                                div(align='center')
                                                                    .x_panel(style='background:#f1f1f1')
                                                                        h2
                                                                            b Contract
                                                                table.table.table-striped.table-bordered
                                                                    thead
                                                                        tr
                                                                            th Status
                                                                            th Action
                                                                    tbody
                                                                        each contractdetails in contractdetailstab
                                                                            tr
                                                                                td #{contractdetails.strContractStatus}
                                                                                td
                                                                                    button.btn.btn-info(type='button', data-toggle='modal', data-target='#viewcon', data-thecontract=''+contractdetails.strContract)
                                                                                        i.fa.fa-list
                                                                                        |   View Contract
                                                                                    if contractdetails.strContractStatus == 'Rejected'
                                                                                        button.btn.btn-success(type='button', data-toggle='modal', data-target='#re-sendcon', data-id=contractdetails.intTRequestID)
                                                                                            i.fa.fa-envelope
                                                                                            |   Re-Send Contract
                                                                                        button.btn.btn-primary(type='button')
                                                                                            i.fa.fa-eye
                                                                                            |   View Reason
                                                                                    else if contractdetails.strContractStatus == 'Client Confirmation'
                                                                                        button.btn.btn-danger(type='button', data-toggle='modal', data-target='#cancel_re-sendcon', data-id=contractdetails.intTRequestID)
                                                                                            i.fa.fa-times
                                                                                            |   Cancel
                                                                                    else if contractdetails.strContractStatus == 'Accepted'
                                                                                    else
                                                                
                    .col-md-12.col-sm-12.col-xs-12
                                br
                                each list in listtab
                                    if list.strRequestStatus == 'On process'
                                        .x_panel(style='background-color:rgba(38,185,154,0.3)')
                                            .x_title
                                                .x_panel(style='background-color:#394D5F; border-color:#394D5F')
                                                    h2(style="color:white") 
                                                        b   List for Household Worker's approval
                                            .x_panel
                                                br
                                                .row
                                                    each selected in selectedtab
                                                        if selected.strRClientStatus ==''                         
                                                            .col-md-4.col-sm-4.col-xs-12.profile_details
                                                                .well.profile_view
                                                                    .col-sm-12
                                                                        h4.brief
                                                                            i #{selected.strName}: #{selected.intRHWID}
                                                                        .left.col-xs-7
                                                                            | Name: 
                                                                            b #{selected.strFName} #{selected.strLName} 
                                                                            p 
                                                                                | Age: 
                                                                                strong  #{selected.age}
                                                                            ul.list-unstyled
                                                                                li
                                                                                    | Gender: 
                                                                                    b #{selected.strGender}
                                                                                li
                                                                                    | Status: 
                                                                                    b #{selected.strRHWStatus}
                                                                        .right.col-xs-5.text-center
                                                                            img.img-circle.img-responsive(src='../images/'+selected.strPicture, alt='', style='width:100px; height:100px')
                                                                    .col-xs-12.bottom.text-center
                                                                        //- .col-xs-12.col-sm-4.emphasis
                                                                            .x_panel
                                                                                input#check-all.flat(type='checkbox')
                                                                        
                                                                        .col-xs-12.col-sm-8.emphasis
                                                                                //- a(href='/admin/hw_profile_'+selected.intRRequestID+selected.intRHWID)
                                                                                a(href='/admin/profile_hw_'+selected.intHWID)
                                                                                    button.btn.btn-primary(type='button')
                                                                                        i.fa.fa-user  
                                                                                        |  View
                                                                        form#sendReq(method="POST" action="tr_add_actions_"+selected.intRRequestID)
                                                                            .col-xs-12.col-sm-8.emphasis
                                                                                //- input#hwid(type='text' name='hwid' value=''+selected.intRHWID , style="display:none;" )
                                                                                input.reqno(type='text' name='reqno' value=''+selected.intRRequest_No, style="display:none;" )
                                                                                if selected.strRHWStatus == '' && selected.strRClientStatus ==''
                                                                                    button.btn.btn-success#sendRequest(type='submit' name='hwid' value=selected.intRHWID)
                                                                                        i.fa.fa-paper-plane 
                                                                                        |  Send Request
                                                                                    button.btn.btn-danger#removeList(type='submit' name='hwid' value=selected.intRHWID)
                                                                                        i.fa.fa-trash
                                                                                        |  Remove From List
                                                                                else if selected.strRHWStatus == 'Waiting' && selected.strRClientStatus ==''
                                                                                    button.btn.btn-warning#cancelRequest(type='submit' name='hwid' value=selected.intRHWID)
                                                                                        i.fa.fa-times  
                                                                                        |  Cancel Request
                                                                                else if selected.strRHWStatus == 'Approved' && selected.strRClientStatus ==''
                                                                                    button.btn.btn-success#sendClient(type='submit' name='hwid' value=selected.intRHWID)
                                                                                        i.fa.fa-envelope 
                                                                                        |  Send to Client
                                                                                else if selected.strRHWStatus == 'Rejected' && selected.strRClientStatus ==''
                                                                                    button.btn.btn-danger#removeList(type='submit' name='hwid' value=selected.intRHWID)
                                                                                        i.fa.fa-fa-trash
                                                                                        |  Remove
                                        
                                        .x_panel(style='background-color:rgba(38,185,154,0.3)')
                                            .x_title
                                                .x_panel(style='background-color:#394D5F; border-color:#394D5F')
                                                    h2(style="color:white")  
                                                        b   List for Client's pproval
                                            .x_panel
                                                br
                                                .row    
                                                    each selected in selectedtab
                                                        if selected.strRClientStatus !=''
                                                            .col-md-4.col-sm-4.col-xs-12.profile_details
                                                                .well.profile_view
                                                                    .col-sm-12
                                                                        h4.brief
                                                                            i #{selected.strName}: #{selected.intRHWID}
                                                                        .left.col-xs-7
                                                                            h2 Name: #{selected.strFName} #{selected.strLName} 
                                                                            p 
                                                                                | Age: 
                                                                                strong #{selected.age}
                                                                            ul.list-unstyled
                                                                                li
                                                                                    | Gender: 
                                                                                    b #{selected.strGender}
                                                                                li
                                                                                    | Status: 
                                                                                    b #{selected.strRClientStatus}
                                                                        .right.col-xs-5.text-center
                                                                            img.img-circle.img-responsive(src='../images/'+selected.strPicture, alt='', style='width:100px; height:100px')
                                                                    .col-xs-12.bottom.text-center
                                                                        //- .col-xs-12.col-sm-4.emphasis
                                                                            .x_panel
                                                                                input#check-all.flat(type='checkbox')
                                                                        .col-xs-12.col-sm-8.emphasis
                                                                            //- a(href='/admin/hw_profile_'+selected.intRRequestID+selected.intRHWID)
                                                                            a(href='/admin/profile_hw_'+selected.intHWID)
                                                                                button.btn.btn-primary(type='button')
                                                                                    i.fa.fa-user  
                                                                                    |  View Profile
                                                                        .col-xs-12.col-sm-8.emphasis
                                                                            if selected.strRHWStatus == 'Approved' && ((selected.strRClientStatus =='Waiting') || (selected.strRClientStatus =='Approved'))
                                                                                //- button.btn.btn-primary(type='button')
                                                                                //-     i.fa.fa-user  
                                                                                //-     |  View Profile
                                                                            else if selected.strRHWStatus == 'Approved' && selected.strRClientStatus =='Rejected'
                                                                                button.btn.btn-danger(type='button')
                                                                                    i.fa.fa-times 
                                                                                    |  Remove
                                    else
                                        .x_panel(style='background-color:rgba(38,185,154,0.3)')
                                            .x_title
                                                .x_panel(style='background-color:#394D5F; border-color:#394D5F')
                                                    h2(style="color:white") 
                                                        b   Client's Approved Services
                                            .x_panel
                                                br
                                                .row
                                                    each selected in selectedtab
                                                        if selected.strRClientStatus =='Approved'
                                                            .col-md-4.col-sm-4.col-xs-12.profile_details
                                                                .well.profile_view
                                                                    .col-sm-12
                                                                        h4.brief
                                                                            i #{selected.strName}: #{selected.intRHWID}
                                                                        .left.col-xs-7
                                                                            h2 Name: #{selected.strFName} #{selected.strLName} 
                                                                            p 
                                                                                | Age:
                                                                                strong #{selected.age}  
                                                                            ul.list-unstyled
                                                                                li
                                                                                    | Gender: 
                                                                                    b #{selected.strGender}
                                                                                li
                                                                                    | Status: #{selected.strRClientStatus}
                                                                                    b 
                                                                        .right.col-xs-5.text-center
                                                                            img.img-circle.img-responsive(src='../images/'+selected.strPicture, alt='', style='width:100px; height:100px')
                                                                    .col-xs-12.bottom.text-center
                                                                        //- .col-xs-12.col-sm-4.emphasis
                                                                            .x_panel
                                                                                input#check-all.flat(type='checkbox')
                                                                        .col-xs-12.col-sm-8.emphasis
                                                                            //- a(href='/admin/hw_profile_'+selected.intRRequestID+selected.intRHWID)
                                                                            a(href='/admin/profile_hw_'+selected.intHWID)
                                                                                button.btn.btn-primary(type='button')
                                                                                    i.fa.fa-user  
                                                                                    |  View Profile
                                    
            //- modals
            #view_item.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content.modal-md
                        .modal-header(style="background-color:#EDEDED")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                            h4
                                b Type of Service: 
                                i#title
                        .modal-body
                            .row
                                .col-md-6
                                    b No. of Person Needed:
                                    i#c
                                .col-md-6
                                    b Gender:
                                    i#d
                            hr
                            .row
                                .col-md-6
                                    b Educational Attainment:
                                    i#e
                                .col-md-6
                                    b Work Experience:
                                    i#f
                            hr
                            .row
                                .col-md-6
                                    b Desired Salary: Php
                                    i#sal
                            hr


            #viewcon.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content.modal-lg
                        .modal-header(style="background-color:#EDEDED")
                        .modal-body
                            each contractdetails in contractdetailstab
                                object(id='thecon' width='860', height='500', data='/pdfs/'+contractdetails.strContract, type="application/pdf")
                                //- input#thecon2(type="text", name="")
            
            #re-sendcon.modal.fade.bs-add-modal-xs(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog.modal-xs
                    .modal-content
                        .modal-header(style="background-color:#EDEDED;")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                            h4#myModalLabel.modal-title Re-send Contract
                        .modal-body
                            form#demo-form2.form-horizontal.form-label-left(method="POST" enctype="multipart/form-data" action="re-send_contract")
                                input(type="text", id='id' name='transid' style='display:none;')
                                .form-group
                                    br
                                    br
                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                        | Upload Contract
                                        span.required *
                                    .col-md-6.col-sm-6.col-xs-12
                                        input.form-control.col-md-7.col-xs-12(type='file', id='mainfile' accept='application/pdf' required='required', name='filename' value='')
                                        input.form-control.col-md-7.col-xs-12(type='text', id='nameoffile' name='nameoffile' style='display:none;')
                                br
                                .ln_solid
                                .form-group.pull-right
                                    button.btn.btn-success(type='submit' value='upload'  onClick='getname();') Send
                                    button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
    
            #cancel_re-sendcon.modal.fade.bs-add-modal-xs(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog.modal-xs
                    .modal-content
                        .modal-header(style="background-color:#EDEDED;")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                            h4#myModalLabel.modal-title Cancel Re-sent Contract
                        .modal-body
                            form#demo-form2.form-horizontal.form-label-left(method="POST" action="cancel_re-send_contract")
                                input(type="text", id='id' name='transid' style='display:none;')
                                h1 Are you sure you want to cancel the re-sent contract?
                                br
                                .ln_solid
                                .form-group.pull-right
                                    button.btn.btn-success(type='submit') Yes
                                    button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
    script.
        function getname(){
            var x = document.getElementById("mainfile").value;
            var filename = x.replace(/^.*\\/, "");
            document.getElementById("nameoffile").value =filename;
        }
                    
    script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
    script.
            $('button#sendRequest').click(function(e){
                e.preventDefault();
                var idNow1 = $(this).val();
                var reqNo = $(this).siblings('.reqno').val();
                console.log(reqNo);
                console.log(idNow1);
                $.ajax({
                    url: $('form#sendReq').attr('action'),
                    method: 'post',
                    data: {
                        hwid: idNow1,
                        reqno: reqNo,
                        btn1: "sendtohw"
                    },
                    success: function(response){
                        console.log(response);
                        if(response == 'success'){
                            swal({
                                type: 'success',
                                title: 'Request Sent!',
                                text: 'Wait for the confirmation of the household worker',
                                showConfirmButton: false,
                                //- showConfirmButton: true,
                                //- closeOnConfirm: true,
                                },setTimeout(function() {
                                    location.reload();
                                }, 3000)
                            );
                        }
                    }
                })
            });
            $('button#removeList').click(function(e){
                e.preventDefault();
                var idNow1 = $(this).val();
                var reqNo = $(this).siblings('.reqno').val();
                console.log(reqNo);
                console.log(idNow1);
                $.ajax({
                    url: $('form#sendReq').attr('action'),
                    method: 'post',
                    data: {
                        hwid: idNow1,
                        reqno: reqNo,
                        btn1: "removefromlist"
                    },
                    success: function(response){
                        console.log(response);
                        if(response == 'removed'){
                            swal({
                                type: 'info',
                                title: 'Removed!',
                                text: 'Household worker removed form the list',
                                showConfirmButton: false,
                                //- closeOnConfirm: true,
                                },setTimeout(function() {
                                    location.reload();
                                }, 1000)
                            );
                        }
                    }
                }) 
            });
            $('button#cancelRequest').click(function(e){
                e.preventDefault();
                var idNow1 = $(this).val();
                var reqNo = $(this).siblings('.reqno').val();
                console.log(reqNo);
                console.log(idNow1);
                $.ajax({
                    url: $('form#sendReq').attr('action'),
                    method: 'post',
                    data: {
                        hwid: idNow1,
                        reqno: reqNo,
                        btn1: "cancelsendtohw"
                    },
                    success: function(response){
                        console.log(response);
                        if(response == 'cancel'){
                            swal({
                                type: 'warning',
                                title: 'Request Cancelled!',
                                text: 'Your request has been cancelled.',
                                showConfirmButton: false,
                                //- closeOnConfirm: true,
                                },setTimeout(function() {
                                    location.reload();
                                }, 2000)
                            );
                        }
                    }
                })
            });
            $('button#sendClient').click(function(e){
                e.preventDefault();
                var idNow1 = $(this).val();
                var reqNo = $(this).siblings('.reqno').val();
                console.log(reqNo);
                console.log(idNow1);
                $.ajax({
                    url: $('form#sendReq').attr('action'),
                    method: 'post',
                    data: {
                        hwid: idNow1,
                        reqno: reqNo,
                        btn1: "sendtoclient"
                    },
                    success: function(response){
                        console.log(response);
                        if(response == 'sentclient'){
                            swal({
                                type: 'success',
                                title: 'Sent!',
                                text: 'Household worker information sent to the client',
                                showConfirmButton: false,
                                },setTimeout(function() {
                                    location.reload();
                                }, 2000)
                            );
                        }
                    }
                })
            });
    //- script.
    //-     $('button#sendClient').click(function(){
    //-         swal({
    //-             type: 'success',
    //-             title: 'Sent',
    //-             text: 'Household worker information sent to the client',
    //-             showConfirmButton: false,
    //-             timer: 5000
    //-             },
    //-             $(function(){
    //-                 location.reload();
    //-                 }, 6000)
    //-             )
    //-         });

    //-         $('button#sendRequest').click(function(){
    //-             swal({
    //-                 type: 'success',
    //-                 title: 'Request Sent',
    //-                 text: 'Wait for the confirmation of the household worker',
    //-                 showConfirmButton: true,
    //-                 closeOnConfirm: true,
    //-                 },
    //-                 $(function(){
    //-                     location.reload();
    //-                     })
    //-             );
    //-         });
    //-         $('button#cancelRequest').click(function(){
    //-             swal({
    //-                 type: 'warning',
    //-                 title: 'Request Canceled',
    //-                 showConfirmButton: true,
    //-                 closeOnConfirm: true,
    //-                 },
    //-                 $(function(){
    //-                     location.reload();
    //-                     })
    //-             );
    //-         });
    //-         $('button#removeList').click(function(){
    //-             swal({
    //-                 type: 'info',
    //-                 title: 'Removed',
    //-                 text: 'Household worker removed form the list',
    //-                 showConfirmButton: false,
    //-                 timer: 5000
    //-                 },
    //-                 $(function(){
    //-                     location.reload();
    //-                     }, 6000)
    //-                 )
    //-         });