extends ../../../templates/navbarhw.pug
block content
    section#services
        .right_col.wow.fadeInDown(role='main' style="background-color:transparent;")
            .page-title
                .title_left
                    each user in usertab
                        h1
                            b Welcome, #{user.strFName}.          
            .clearfix        
                .row
                    .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_title
                            h2 Home  
                            .clearfix
                            .x_content
                            .col-md-12.col-sm-12.col-xs-12
                                br
                                .x_panel
                                    div(role='tabpanel', data-example-id='togglable-tabs')
                                        ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                            li.active(role='presentation')
                                                a#home-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') My Request
                                            li(role='presentation')
                                                a#incoming-tab(href='#tab_content2', role='tab', data-toggle='tab', aria-expanded='false') Incoming Request
                                            li(role='presentation')
                                                a#history-tab(href='#tab_content3', role='tab', data-toggle='tab', aria-expanded='false') History	
                                        #myTabContent.tab-content
                                            #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
                                                // My Request
                                            #tab_content2.tab-pane.fade(role='tabpanel', aria-labelledby='incoming-tab')
                                                // Incoming Request
                                                each ir in irtab
                                                    if ir.NoIR == 0
                                                        h3 You have no incoming requests yet.
                                                    else
                                                        each offer in offertab
                                                            if offer.strRequestStatus == 'On process'
                                                                .row
                                                                    .col-md-12
                                                                        br
                                                                        .x_content
                                                                            .row
                                                                                .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                                    .well.profile_view(style='width:100%')
                                                                                        if offer.strRHWStatus == 'Waiting' && offer.strRClientStatus ==''
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You are qualified from a job offer from #{offer.strFName} #{offer.strLName}
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                -var fullname = offer.strLName + " " + offer.strFName
                                                                                                -var address = offer.strCAHouseNo + " " + offer.strCAStreet + " " + offer.strCAProvince + ", " + offer.strCity
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No,
                                                                                                        data-name=fullname, data-add = address, data-needed= offer.datRequestNeedDate, data-sal=offer.deciRequestSalary, data-serv=offer.strName, data-image=`../images/${offer.strPicture}`,)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus ==''
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You accepted this job offer from #{offer.strFName} #{offer.strLName} . Waiting for the admin to send yout approval to the client
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                -var fullname = offer.strLName + " " + offer.strFName
                                                                                                -var address = offer.strCAHouseNo + " " + offer.strCAStreet + " " + offer.strCAProvince + ", " + offer.strCity
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No,
                                                                                                        data-name=fullname, data-add = address, data-needed= offer.datRequestNeedDate, data-sal=offer.deciRequestSalary, data-serv=offer.strName)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Rejected' && offer.strRClientStatus ==''
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You rejected this job offer from #{offer.strFName} #{offer.strLName} .
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                -var fullname = offer.strLName + " " + offer.strFName
                                                                                                -var address = offer.strCAHouseNo + " " + offer.strCAStreet + " " + offer.strCAProvince + ", " + offer.strCity
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No,
                                                                                                        data-name=fullname, data-add = address, data-needed= offer.datRequestNeedDate, data-sal=offer.deciRequestSalary, data-serv=offer.strName)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus =='Waiting'
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You accepted this job offer from #{offer.strFName} #{offer.strLName} . Waiting for the approval of the client
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjo', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus =='Approved'
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You accepted this job offer from #{offer.strFName} #{offer.strLName} . The client added you to the list. Wait for the contract that will be sent
                                                                                                    h2  by the client 
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob_contract', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus =='Rejected'
                                                            else if offer.strRequestStatus == 'Pending'
                                                                .row
                                                                    .col-md-12
                                                                        br
                                                                        .x_content
                                                                            .row
                                                                                .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                                    .well.profile_view(style='width:100%')
                                                                                        .col-xs-12
                                                                                            center
                                                                                                h2
                                                                                                    br
                                                                                                    | Type of Request:
                                                                                                    if offer.strRequestType == 'Add'
                                                                                                        b &nbsp&nbspAdd Household Worker
                                                                                                    else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                        b &nbsp&nbspReplacement of Household Worker
                                                                                                    else if offer.strRequestType == 'Reliever'
                                                                                                        b &nbsp&nbspReliever
                                                                                                    br
                                                                                            .col-xs-12.text-center
                                                                                                p
                                                                                                h2 This request is 'Pending' for agency's approval. Check the details of your deployment by clicking the button below.
                                                                                                p
                                                                                                br
                                                                                                br
                                                                                        .col-xs-12.bottom.text-center   
                                                                                            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob_contract', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No)
                                                                                                | View Details







                                            #tab_content3.tab-pane.fade(role='tabpanel', aria-labelledby='history-tab')
                                                each offer in offertab
                                                    if offer.strRequestStatus == 'Finished' || offer.strRequestStatus == 'Cancelled' || offer.strRequestStatus == 'Rejected'
                                                        .row
                                                            .col-md-12
                                                                br
                                                                .x_content
                                                                    .row
                                                                        .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                            .well.profile_view(style='width:100%')
                                                                                if offer.strRHWStatus == 'Waiting' && offer.strRClientStatus ==''
                                                                                    .col-xs-12
                                                                                        center
                                                                                            h2
                                                                                                br
                                                                                                | Type of Request:
                                                                                                if offer.strRequestType == 'Add'
                                                                                                    b &nbsp&nbspAdd Household Worker
                                                                                                else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                    b &nbsp&nbspReplacement of Household Worker
                                                                                                else if offer.strRequestType == 'Reliever'
                                                                                                    b &nbsp&nbspReliever
                                                                                                br
                                                                                        .col-xs-12.text-center
                                                                                            p
                                                                                            if offer.strRequestStatus == 'Finished'
                                                                                                h2 You are officially deployed!
                                                                                            else if offer.strRequestStatus == 'Cancelled'
                                                                                                h2 The client cancelled this request. You can now choose again from the job offers that will be sent to you.
                                                                                            else if offer.strRequestStatus == 'Rejected'
                                                                                                h2 The agency rejected this request. You can now choose again from the job offers that will be sent to you.
                                                                                            p
                                                                                            br             
        #viewjob.modal.fade.bs-add(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog(style="width:630px;")
                form#demo-form2.form-horizontal.form-label-left(method="POST" action="/home_householdworker/job_offer")
                    .modal-content
                        .modal-header(style="background-color:#2A3F54; color:white")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true' style="color:white") ×
                            h4#myModalLabel.modal-title Job Details
                        .modal-body
                            input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transID' style="display:none;")
                            input.form-control.col-md-7.col-xs-12(type='text', id='_id2', required='required', name='reqno' style="display:none;") 
                            
                            .row
                                .col-md-4
                                    .profile_img
                                        img#imagepre(src="" style=' height: 220px; width:100%;')
                                        h4(style="text-transform: capitalize;")
                                            b 
                                                p.text-center#name
                                        p.text-center  (Client's Name)
                                .col-md-8(style="margin-top:50px;")
                                    table.table.table-striped
                                        tbody

                                            tr
                                                th(scope='row')
                                                td
                                                    b Client's Address
                                                td 
                                                    p#add
                                                td
                                                td
                                            tr
                                                th(scope='row')
                                                td
                                                    b Type of Service
                                                td 
                                                    p#serv
                                                td
                                                td
                                            tr
                                                th(scope='row')
                                                td
                                                    b Date Needed:
                                                td 
                                                    p#date
                                                td
                                                td
                                            tr
                                                th(scope='row')
                                                td
                                                    b Salary(Negotiable): Php
                                                td 
                                                    p(style="font-size:15px")#sal
                                                td
                                                td
                        .modal-footer
                            button.btn.btn-success(type='submit' name='btn1' value='accept')
                                i.fa.fa-thumbs-up
                                |   Accept
                            button#reject.btn.btn-danger(type='submit' name='btn1' value='reject')
                                i.fa.fa-trash
                                |   Reject
        #viewjob_contract.modal.fade.bs-add-modal-lg(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Contract Details
                    .modal-body
                        each count in counttab
                            if count.numero==0
                            else
                                each cont in conttab
                                    form#demo-form2.form-horizontal.form-label-left(method="POST" action="/home_householdworker/contract_decision")
                                        input(type='text', name='transid', value=''+cont.intConTransID, style="display:none;")
                                        .form-group
                                            #content
                                                center
                                                    img(src='../admin/gentelella/build/images/mega.png', width='350', height='150', alt='')
                                                br
                                                center
                                                    p 73-F Shaw Blvd. Barangay Daang Bakal, Mandaluyong City 1501
                                                br
                                                br
                                                h2
                                                    p KNOW ALL MEN BY THESE PRESENTS:
                                                p(style='text-indent: 3.0em;')
                                                    | This contract of Services entered into on this 
                                                    input#ContractDate(type='text', placeholder='DAY')
                                                    | day of
                                                    input#ContractMonth(type='text', placeholder='MONTH')
                                                    | , At the City of Mandaluyong, by and between:
                                                p
                                                    | MEGA PACIFIC SERVICES, a local manpower service provider registered under and by virtue of the Republic of the Philippines, with principal place of business at No. 73F Shaw Blvd. Brgy. Daang Bakal, mandaluyong City represented by its owner and proprietor MS. BENILDA D. LAZARO, hereinafter referred to as the “AGENCY”,
                                                p
                                                    input#ContractEmployeeName(type='text', placeholder='EMPLOYEE NAME')
                                                    | , Filipino, single/ married, of legal age, and with residence address at 
                                                    input#ContractEmployeeAdd(type='text', placeholder='EMPLOYER ADDRESS')
                                                    | herein after referred to as the “EMPLOYEE”;
                                                p
                                                center -AND-
                                                p
                                                p
                                                    input#ContractEmployerName(type='text', placeholder='EMPLOYER NAME')
                                                    | , Filipino, single/ married, of legal age, and with residence address at 
                                                    input#ContractEmployerAdd(type='text', placeholder='EMPLOYER ADDRESS')
                                                    |  herein after referred to as the “EMPLOYER”.
                                                p
                                                center WITNESSETH:
                                                p
                                                p(style='text-indent: 3.0em;')
                                                    b WHEREAS
                                                    | , the EMPLOYER is in need of manpower services necessary for his business/household;
                                                p(style='text-indent: 3.0em;')
                                                    b WHEREAS
                                                    | , the EMPLOYEE, thru the AGENCY, offers nampower services needed by the EMPLOYER and the EMPLOYEE is also in need of an EMPLOYER from where he can have gainful employment;
                                                p(style='text-indent: 3.0em;')
                                                    b WHEREAS
                                                    | , the EMPLOYER has interviewed the EMPLOYEE thoroughly and that the EMPLOYER personally chose the EMPLOYEE. Likewise, the EMPLOYEE hereby accepts salary and position offered by the EMPLOYER on his own free will and decision;
                                                p(style='text-indent: 3.0em;')
                                                    b WHEREAS
                                                    | , the EMPLOYER hereby accepts the offer of the EMPLOYEE, thru the AGENCY, under the following terms and conditions:
                                                br
                                                p
                                                    b
                                                h4
                                                    b DUTIES OF EMPLOYEE AND EMPLOYER,
                                                p
                                                p
                                                    b
                                                h4
                                                    b SALARY AND LIVING CONDITIONS
                                                p
                                                p
                                                    | 1. The EMPLOYER shall pay the EMPLOYEE a monthly salary of PESOS: 
                                                    span.label.label-danger P #{cont.intConSalary}.00

                                                    //- input#EmployeeSalary(type='text', placeholder='EMPLOYER SALARY')

                                                    //- | (Php: ___________) effective 
                                                    //- input#SalaryDate(type='text', placeholder='SALARY DURATION')
                                                    | ;
                                                p
                                                    | 2. The EMPLOYER shall provide adequate food, shelter with decent living conditions to the EMPLOYEE and shall allow EMPLOYEE a leave with pay for two (2) days every month.
                                                p
                                                    | 3. The EMPLOYER shall not transfer the EMPLOYEE or make the EMPLOYEE suffer to work with another person or establishment without any prior written consent from the AGENCY;
                                                p 4. The EMPLOYER shall observe the provision of Kasambahay Bill.
                                                p
                                                    | 5. The EMPLOYEE hereby accepts the position and salary offered by the EMPLOYER in his own free will and decision. The EMPLOYEE undertakes to finish the period of SIX (6) MONTHS from the time of signing of this agreement. Otherwise, the EMPLOYEE shall be liable for any and all charges incurred by the AGENCY.
                                                p
                                                    | 6. The EMPLOYEE is physically fit when hired or accepted by the EMPLOYEE, even in the absence of the medical examination result. The EMPLOYER shall be responsible for medical exam/check-up and hospitalization, in case of sickness during his employment with the EMPLOYER.
                                                p
                                                    | 7. The EMPLOYER must take extra care and must exercise due diligence in caring for their valuables such as cash, jewelleries, and cellphones to avoid temptation to the EMPLOYE;
                                                p
                                                    | 8. The EMPLOYER must be honest and trustworthy and should perform his duties satisfactorily. Any violation like stealing cash, jewelleries, or other properties, the EMPLOYEE shall be personally liable and shall be blotter and blacklisted by the EMPLOYER to the nearest police or NBI station.
                                                p
                                                    b
                                                h4
                                                    b FEES AND CHARGES
                                                p
                                                p
                                                    | 9. The EMPLOYER shall pay the AGENCY a NON-REFUNDABLE service fee of PESOS: 
                                                    input#ServiceFee(type='text', placeholder='AGENCY FEE')
                                                    |  (Php. _____________). The said fee is also NON-REDUCTIBLE from salary of the EMPLOYEE.
                                                p
                                                    | 10. The EMPLOYER shall also pay the TRANSPORTATION FEE of the EMPLOYEE, including the replacement employee, in the amount of PESOS:
                                                    input#TranspoFee(type='text', placeholder='TRANSPORTATION FEE')
                                                    |  (Php.__________) from the office of the AGENCY to the office or residence of the EMPLOYER provided it is within Metro Manila;
                                                p
                                                    b
                                                h4
                                                    b AGENCY’S RESPONSIBILITIES
                                                p
                                                p
                                                    | 11. The AGENCY conducted a thorough investigation on every applicant it will deploy. However, the AGENCY shall not be liable for any MISCONDUCT/MISDEMEANOR of the EMPLOYEE and the latter shall be personally liable for any misconduct or misdemeanor. The AGENCY shall not be held LIABLE or ACCOUNTABLE to any loss or damage which the EMPLOYEE may incur during his six (6) month contract;
                                                p
                                                    | 12. The AGENCY shall be responsible for providing a replacement, in case the employer is not satisfied with the services of the EMPLOYEE, or in the case the EMPLOYEE absconds and does not return to work, provided that an EMPLOYER shall be entitled to only three (3) replacements.
                                                p
                                                    | 13. The AGENCY shall not be held liable for any cash advance/loan which may be granted by the EMPLOYER to the EMPLOYEE.
                                                p
                                                    | 14. The AGENCY shall NOT be held liable for any misbehavior, fault, negligence, omission, or damage including but not limited to dishonesty, theft, simple mistake, maltreatment, or any action or omission attributable to the person or character of the EMPLOYEE or the EMPLOYER;
                                                p
                                                    b
                                                h4
                                                    b TERMINATION OF CONTRACT AND REPLACEMENT
                                                p
                                                p
                                                    | 15. This contract shall commence from the date of signing of the first contract and will expire six (6) months thereafter or after three (3) other replacements, whichever comes first.
                                                p
                                                    | 16. Should the EMPLOYER or the EMPLOYEE decide to pre-terminate this contract, he shall give prior notice of at least ten (10) days to both parties involved. In the event of such termination, the AGENCY shall provide a suitable REPLACEMENT for the employee, provided that a RERPLACEMENT FEE OF PESOS ONLY (Php. 1000.00) shall be paid by the EMPLOYER to the AGENCY. If the EMPLOYEE has an unpaid salary, the EMPLOYER shall give the salary to the AGENCY from where the REPLACEMENT FEE, thus making the REPLACEMENT FEE chargeable to the EMPLOYEE.
                                                p
                                                    | 17. REPLACEMENT FEE shall also be charged to the EMPLOYER or EMPLOYEE, as the case maybe, for any EMPLOYEE who does not return to work or who absconds (runaway).
                                                p
                                                    | 18. All claims and complaints relative to the contract shall be settled amicably by the parties. However, in the event of any action/s arising from the aforementioned, venue shall be in Mandaluyong city exclusively.
                                                p
                                                    | 19. In the event that the EMPLOYER insist a refund of the service fee from the agency, this contract will be null and void and the employer shall sign a release, waiver and quitclaim provided by the agency upon the receipt of the refund.
                                                br
                                                p
                                                    b IN WITNESS WHEREOF
                                                    | , the parties hereunto signed this CONTRACT OF SERVICE on the date and place above-written.
                                                br
                                                p
                                                center ____________________________     ____________________________
                                                p
                                                p
                                                center EMPLOYEE                              EMPLOYER
                                                p
                                                center
                                                    | ___________________________
                                                    p
                                                        b BENILDA D. LAZARO
                                                    p
                                                        b MEGAPACIFIC EMPLOYMENT SERVICES
                                                    p
                                                        b AGENCY
                                                p
                                                br
                                                br
                                                p
                                                center Signed in the presence of:
                                                p
                                                p
                                                center
                                                    input#Presence1(type='text')
                                                    input#Presence2(type='text')
                                                p
                                                br
                                                p
                                                center
                                                b
                                                    h4 ACKNOWLEDGEMENT
                                                p
                                                br
                                                p(style='text-indent: 3.0em;') Republic of the Philippines )
                                                p(style='text-indent: 3.0em;') City of Mandaluyong ) s.s.
                                                p
                                                    | BEFORE ME, a Notary Public for and in the City of Mandaluyong on this 
                                                    input#NotaryDay(type='text', placeholder='NOTARY DAY')
                                                    |  day of 
                                                    input#NotaryMonth(type='text', placeholder='NOTARY MONTH')
                                                    | , personally appeared the following:
                                                p
                                                    input#CTC1(type='text')
                                                    | CTC No.
                                                    input#No1(type='text')
                                                    | Issued on
                                                    input#Issued1(type='text')
                                                    | at 
                                                    input#At1(type='text')
                                                p
                                                    input#CTC2(type='text')
                                                    | CTC No.
                                                    input#No2(type='text')
                                                    | Issued on
                                                    input#Issued2(type='text')
                                                    | at 
                                                    input#At2(type='text')
                                                p
                                                    input#CTC3(type='text')
                                                    | CTC No.
                                                    input#No3(type='text')
                                                    | Issued on
                                                    input#Issued3(type='text')
                                                    | at 
                                                    input#At3(type='text')
                                                p
                                                    input#CTC4(type='text')
                                                    | CTC No.
                                                    input#No4(type='text')
                                                    | Issued on
                                                    input#Issued4(type='text')
                                                    | at 
                                                    input#At4(type='text')
                                                br
                                                p
                                                    | Known to me and to me known to be the same persons who executed the foregoing document and acknowledged to me that the same is their free and voluntary act and deed.
                                                br
                                                p
                                                    | IN WITNESS WHERE OF, the parties hereunto set my hand on the date place above-written.
                                                br
                                                p
                                                    | Doc. No.
                                                    input#DocNo(type='text')
                                                br
                                                p
                                                    | Page No.
                                                    input#PageNo(type='text')
                                                br
                                                p
                                                    | Book No.
                                                    input#BookNo(type='text')
                                                br
                                                p
                                                    | Series of 
                                                    input#Series(type='text')
                                            #editor
                                        //- .form-group
                                        //-     center
                                        //-         h1 SALARY: #{cont.intConSalary}
                                        .ln_solid
                                        .form-group.pull-right
                                            button.btn.btn-success(type='submit' name='btn1' value='accept')
                                                i.fa.fa-thumbs-up
                                                |   Accept
                                            button#reject.btn.btn-danger(type='submit' name='btn1' value='reject')
                                                i.fa.fa-trash
                                                |   Reject                                           