extends ../../../templates/navbarhw.pug
block content
    section#services
        .right_col.wow.fadeInDown(role='main' style="background-color:transparent;")
            .page-title
                .title_left
                    each user in usertab
                        h1
                            b Welcome, #{user.strFName}.          
            .clearfix        
                .row
                    .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_title
                            h2 Home  
                            .clearfix
                            .x_content
                            .col-md-12.col-sm-12.col-xs-12
                                br
                                .x_panel
                                    div(role='tabpanel', data-example-id='togglable-tabs')
                                        ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                            li.active(role='presentation')
                                                a#home-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') My Request
                                            li(role='presentation')
                                                a#incoming-tab(href='#tab_content2', role='tab', data-toggle='tab', aria-expanded='false') Incoming Request
                                            li(role='presentation')
                                                a#history-tab(href='#tab_content3', role='tab', data-toggle='tab', aria-expanded='false') History	
                                        #myTabContent.tab-content
                                            #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
                                                // My Request
                                            #tab_content2.tab-pane.fade(role='tabpanel', aria-labelledby='incoming-tab')
                                                // Incoming Request
                                                each ir in irtab
                                                    if ir.NoIR == 0
                                                        h3 You have no incoming requests yet.
                                                    else
                                                        each offer in offertab
                                                            if offer.strRequestStatus == 'On process'
                                                                .row
                                                                    .col-md-12
                                                                        br
                                                                        .x_content
                                                                            .row
                                                                                .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                                    .well.profile_view(style='width:100%')
                                                                                        if offer.strRHWStatus == 'Waiting' && offer.strRClientStatus ==''
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You are qualified from a job offer from #{offer.strFName} #{offer.strLName}
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                -var fullname = offer.strLName + " " + offer.strFName
                                                                                                -var address = offer.strCAHouseNo + " " + offer.strCAStreet + " " + offer.strCAProvince + ", " + offer.strCity
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No,
                                                                                                        data-name=fullname, data-add = address, data-needed= offer.datRequestNeedDate, data-sal=offer.deciRequestSalary, data-serv=offer.strName, data-image=`../images/${offer.strPicture}`,)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus ==''
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You accepted this job offer from #{offer.strFName} #{offer.strLName} . Waiting for the admin to send yout approval to the client
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                -var fullname = offer.strLName + " " + offer.strFName
                                                                                                -var address = offer.strCAHouseNo + " " + offer.strCAStreet + " " + offer.strCAProvince + ", " + offer.strCity
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No,
                                                                                                        data-name=fullname, data-add = address, data-needed= offer.datRequestNeedDate, data-sal=offer.deciRequestSalary, data-serv=offer.strName, data-image=`../images/${offer.strPicture}`)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Rejected' && offer.strRClientStatus ==''
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You rejected this job offer from #{offer.strFName} #{offer.strLName} .
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                -var fullname = offer.strLName + " " + offer.strFName
                                                                                                -var address = offer.strCAHouseNo + " " + offer.strCAStreet + " " + offer.strCAProvince + ", " + offer.strCity
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No,
                                                                                                        data-name=fullname, data-add = address, data-needed= offer.datRequestNeedDate, data-sal=offer.deciRequestSalary, data-serv=offer.strName, data-image=`../images/${offer.strPicture}`)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus =='Waiting'
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You accepted this job offer from #{offer.strFName} #{offer.strLName} . Waiting for the approval of the client
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjo', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus =='Approved'
                                                                                            .col-xs-12
                                                                                                center
                                                                                                    h2
                                                                                                        br
                                                                                                        | Type of Request:
                                                                                                        if offer.strRequestType == 'Add'
                                                                                                            b &nbsp&nbspAdd Household Worker
                                                                                                        else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                            b &nbsp&nbspReplacement of Household Worker
                                                                                                        else if offer.strRequestType == 'Reliever'
                                                                                                            b &nbsp&nbspReliever
                                                                                                        br
                                                                                                .col-xs-12.text-center
                                                                                                    p
                                                                                                    h2 You accepted this job offer from #{offer.strFName} #{offer.strLName} . The client added you to the list. Wait for the contract that will be sent
                                                                                                    h2  by the client 
                                                                                                    p
                                                                                                    br
                                                                                            .col-xs-12.bottom.text-center
                                                                                                
                                                                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob_contract', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No)
                                                                                                    | View Details
                                                                                        else if offer.strRHWStatus == 'Approved' && offer.strRClientStatus =='Rejected'
                                                            else if offer.strRequestStatus == 'Pending'
                                                                .row
                                                                    .col-md-12
                                                                        br
                                                                        .x_content
                                                                            .row
                                                                                .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                                    .well.profile_view(style='width:100%')
                                                                                        .col-xs-12
                                                                                            center
                                                                                                h2
                                                                                                    br
                                                                                                    | Type of Request:
                                                                                                    if offer.strRequestType == 'Add'
                                                                                                        b &nbsp&nbspAdd Household Worker
                                                                                                    else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                        b &nbsp&nbspReplacement of Household Worker
                                                                                                    else if offer.strRequestType == 'Reliever'
                                                                                                        b &nbsp&nbspReliever
                                                                                                    br
                                                                                            .col-xs-12.text-center
                                                                                                p
                                                                                                h2 This request is 'Pending' for agency's approval. Check the details of your deployment by clicking the button below.
                                                                                                p
                                                                                                br
                                                                                                br
                                                                                        .col-xs-12.bottom.text-center   
                                                                                            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewjob_contract', data-id=offer.intRRequestID, data-id2=offer.intRRequest_No)
                                                                                                | View Details
                                                            else if offer.strRequestStatus == 'Cancelled'






                                            #tab_content3.tab-pane.fade(role='tabpanel', aria-labelledby='history-tab')
                                                each offer in offertab
                                                    if offer.strRequestStatus == 'Finished' || offer.strRequestStatus == 'Cancelled' || offer.strRequestStatus == 'Rejected'
                                                        .row
                                                            .col-md-12
                                                                br
                                                                .x_content
                                                                    .row
                                                                        .col-md-12.col-sm-4.col-xs-12.profile_details
                                                                            .well.profile_view(style='width:100%')
                                                                                if ( offer.strRHWStatus == 'Approved' && (offer.strRClientStatus =='Approved' || offer.strRClientStatus ==''))
                                                                                    .col-xs-12
                                                                                        center
                                                                                            h2
                                                                                                br
                                                                                                | Type of Request:
                                                                                                if offer.strRequestType == 'Add'
                                                                                                    b &nbsp&nbspAdd Household Worker
                                                                                                else if offer.strRequestType == 'Replacement' || offer.strRequestType == 'Replace Client'
                                                                                                    b &nbsp&nbspReplacement of Household Worker
                                                                                                else if offer.strRequestType == 'Reliever'
                                                                                                    b &nbsp&nbspReliever
                                                                                                br
                                                                                        .col-xs-12.text-center
                                                                                            p
                                                                                            if offer.strRequestStatus == 'Finished'
                                                                                                h2 You are officially deployed!
                                                                                            else if offer.strRequestStatus == 'Cancelled'
                                                                                                h2 The client cancelled this request. You can now choose again from the job offers that will be sent to you.
                                                                                            else if offer.strRequestStatus == 'Rejected'
                                                                                                h2 The agency rejected this request. You can now choose again from the job offers that will be sent to you.
                                                                                            p
                                                                                            br             
        #viewjob.modal.fade.bs-add(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog(style="width:630px;")
                form#viewJob.form-horizontal.form-label-left(method="POST" action="/home_householdworker/job_offer")
                    .modal-content
                        .modal-header(style="background-color:#2A3F54; color:white")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true' style="color:white") ×
                            h4#myModalLabel.modal-title Job Details
                        .modal-body
                            input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transID' style="display:none;")
                            input.form-control.col-md-7.col-xs-12(type='text', id='_id2', required='required', name='reqno' style="display:none;") 
                            
                            .row
                                .col-md-4
                                    .profile_img
                                        br
                                        img#imagepre(src="" style=' height: 200px; width:100%;')
                                        h4(style="text-transform: capitalize;")
                                            b 
                                                p.text-center#name
                                        p.text-center  (Client's Name)
                                .col-md-8(style="margin-top:50px;")
                                    table.table.table-striped
                                        tbody

                                            tr
                                                th(scope='row')
                                                td
                                                    b Client's Address
                                                td 
                                                    p#add
                                                td
                                                td
                                            tr
                                                th(scope='row')
                                                td
                                                    b Type of Service
                                                td 
                                                    p#serv
                                                td
                                                td
                                            tr
                                                th(scope='row')
                                                td
                                                    b Date Needed:
                                                td 
                                                    p#date
                                                td
                                                td
                                            tr
                                                th(scope='row')
                                                td
                                                    b Salary(Negotiable): Php
                                                td 
                                                    p(style="font-size:15px")#sal
                                                td
                                                td
                        .modal-footer
                            button.btn.btn-success#acceptJob(type='submit' name='btn1' value='accept')
                                i.fa.fa-thumbs-up
                                |   Accept
                            button.btn.btn-danger#rejectJob(type='submit' name='btn1' value='reject')
                                i.fa.fa-trash
                                |   Reject
        #viewjob_contract.modal.fade.bs-add-modal-lg(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Contract Details
                    .modal-body
                        each count in counttab
                            if count.numero==0
                            else
                                each cont in conttab
                                    form#demo-form2.form-horizontal.form-label-left(method="POST" action="/home_householdworker/contract_decision")
                                        input(type='text', name='transid', value=''+cont.intConTransID, style="display:none;")
                                        object(width='870', height='500', data='/pdfs/'+cont.strContract, type="application/pdf")
                                        .form-group
                                            center
                                                h1 Your Monthly SALARY: 
                                                    |
                                                    if (cont.intConsalry % 1 != 0)
                                                        span.label.label-info &#8369; #{cont.intConSalary}.00
                                                    else
                                                        span.label.label-info &#8369; #{cont.intConSalary}
                                        
                                        .ln_solid
                                        .form-group
                                            center
                                                if cont.strConStatus == 'Waiting'
                                                    button.btn.btn-success#acceptContract(type='submit' name='btn1' value='accept')
                                                        i.fa.fa-thumbs-up
                                                        |   Accept
                                                    button#rejectContract.btn.btn-danger(type='submit' name='btn1' value='reject')
                                                        i.fa.fa-trash
                                                        |   Reject
                                                else if cont.strConStatus == 'Approved'
                                                    h3 You already Accepted this Contract.
                                                    br
                                                    button#rejectContract.btn.btn-danger(type='submit' name='btn1' value='reject')
                                                        i.fa.fa-trash
                                                        |   Reject
                                                                                     
        script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
        script.
            $(document).ready(function(){
                $('button#acceptJob').click(function(e){
                    e.preventDefault();
                    var idNow = $('button#acceptJob').val();
                    $.ajax({
                        url: $('form#viewJob').attr('action'),
                        method: 'post',
                        data: {
                            transID: $('input#_id').val(),
                            reqno: $('input#_id2').val(),
                            btn1: idNow },
                            success: function(response){
                                console.log(response);
                                if(response == 'accepted'){
                                    $('#viewjob').modal('hide');
                                    swal({
                                        type: 'success',
                                        title: 'Job Request Accepted',
                                        text: 'Wait for the client contract for further information',
                                        closeOnConfirm: true,
                                    },
                                    function(isConfirm){
                                        if(isConfirm){
                                            location.reload();
                                        }
                                    });
                            }
                        }
                    });
                });
                //-     swal({
                //-         type: 'success',
                //-         title: 'Job Request Accepted',
                //-         text: 'Wait for the client contract for further information',
                //-         showConfirmButton: true,
                //-         closeOnConfirm: true,
                //-         },
                //-         $(function(){
                //-             location.reload();
                //-         }),
                //-     $('#viewjob').modal('hide')
                //-     );
                //- });
                $('button#rejectJob').click(function(){
                    swal({
                        type: 'warning',
                        title: 'Job Request Rejected',
                        showConfirmButton: false,
                        closeOnConfirm: false,
                        },
                        $(function(){
                            location.reload();
                        }),
                    $('#viewjob').modal('hide')
                    );
                });
                $('button#acceptContract').click(function(){
                    swal({
                        type: 'success',
                        title: 'Contract Accepted',
                        //- text: 'Wait for the client contract for further information',
                        showConfirmButton: true,
                        closeOnConfirm: true,
                        },
                        $(function(){
                            location.reload();
                        }),
                    $('#viewjob_contract').modal('hide')
                    );
                });
                //- $('button#rejectContract').click(function(){
                //-     swal({
                //-         type: 'warning',
                //-         title: 'Contract Rejected',
                //-         //- text: 'Wait for the client contract for further information',
                //-         showConfirmButton: true,
                //-         closeOnConfirm: true,
                //-         },
                //-         $(function(){
                //-             location.reload();
                //-         }),
                //-     $('#viewjob_contract').modal('hide')
                //-     );
                //- });
            });