extends ../../../templates/navbarclient.pug

block content
    .right_col(role='main')
        .page-title
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_panel
                            .x_title
                                h1  Report Household Worker 
                                .clearfix
                            h3 Reported Household Workers
                            table#datatable2-responsive.table.table-striped.table-bordered
                                thead
                                    tr
                                        th NAME
                                        th SERVICE
                                        th STATUS
                                        th ACTION
                                tbody
                                    each reported in reportedtab
                                        tr
                                            td #{reported.intRecipentID}
                                            td
                                            td #{reported.strReportStatus}
                                            td
                                                button.btn.btn-primary.btn-md(type='button') View
                                                if strReportStatus == ''
                                                    button.btn.btn-danger.btn-md(type='button') Cancel
                                                else if strReportStatus == 'Acknowledged'
                                                    button.btn.btn-info.btn-md(type='button') View Action Taken
                                                    button.btn.btn-danger.btn-md(type='button') Hide
                            br  
                            br

                            h3 Current Household Workers
                            table#datatable-responsive.table.table-striped.table-bordered
                                thead
                                    tr
                                        th NAME
                                        th SERVICE
                                        th STATUS
                                        th ACTION
                                tbody
                                    each currenthw in currenthwtab
                                        tr
                                            //- td #{currenthw.}
                                            td #{currenthw.strFName} #{currenthw.strLName}
                                            td #{currenthw.strName}
                                            td #{currenthw.strCurStatus}
                                            td
                                                button.btn.btn-primary.btn-md(type='button') View Profile
                                                if currenthw.strCurStatus == 'Current'
                                                    button.btn.btn-danger.btn-md(type='button' data-toggle='modal', data-target='#report',  data-hwid=currenthw.intConHWID, data-hwfname=currenthw.strFName, data-hwlname=currenthw.strLName) Report
                                                //- else if currenthw.strCurStatus == 'To be replaced'
                                                //-     a(href='/request_replacement/replace_list_'+currenthw.intConTransID+currenthw.intConHWID)
                                                //-         button.btn.btn-info.btn-md(type='button') View Details
                                                    button.btn.btn-danger.btn-md(type='button') Cancel
                                                    
    
    //- ---- modals
    #report.modal.fade.bs-example-modal-xs(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-xs
            form.form-horizontal(method='POST' action='/request_irclient/ir_client')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title Report Household Worker
                            p#hwname 
                    .modal-body
                        input.form-control(id='thedate' type='date', name='daterep' style='display:none;')
                        input.form-control(id='_id' type='text', name='recipentid' style='display:none;')
                        .row
                            .form-group
                                label.control-label.col-md-5 Choose Type of Incident
                                .col-md-3
                                    select.form-control(name='ir')
                                        each ir in irtab
                                            option(value=''+ir.intID) #{ir.strName}
                        .row
                            .col-md-10
                                .form-group
                                    |Reason:
                                    textarea.form-control.AddMessage(rows='10' name='reason')
                    .modal-footer
                        button.btn.btn-success.btn-md(type='submit',  onCLick='time();') Submit

    //- scripts
    script.
        function time(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            var x= document.getElementById("thedate");
            
            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = yyyy + '-' + mm + '-' + dd ;
            //- document.write(today);
           document.getElementById("thedate").value=today;
        }
        