extends ../../../templates/navbarhw.pug
block content
    section#services
        .right_col.wow.fadeInDown(role='main' style="background-color:transparent;")
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
       
                            .x_panel
                                .x_title
                                    h1  
                                        b   Report Clien
                                    .clearfix
                                br
                                .x_panel(style='background-color:#f1f1f1')
                                    h3 To be reported:
                                    table#datatable2-responsive.table.jambo_table.table-bordered
                                        thead
                                            tr
                                                th NAME
                                                th INCIDENT REPORT
                                                th STATUS
                                                th ACTION
                                        tbody
                                            each reported in reportedtab
                                                tr
                                                    td #{reported.RFName} #{reported.RLName}
                                                    td #{reported.strName}
                                                    td #{reported.strReportStatus}
                                                    td
                                                        button.btn.btn-primary.btn-md(type='button') View
                                                        if reported.strReportStatus == ''
                                                            button.btn.btn-danger.btn-md(type='button') Cancel
                                                        else if reported.strReportStatus == 'Acknowledged'
                                                            button.btn.btn-info.btn-md(type='button') View Action Taken
                                                            button.btn.btn-danger.btn-md(type='button') Hide
                            br  
                            br
                            .x_panel(style='background-color:rgba(38,185,154,0.3)')
                                h3 Current Client
                                br
                                table#datatable-responsive.table.jambo_table.table-bordered
                                    thead
                                        tr
                                            th NAME
                                            th STATUS
                                            th ACTION
                                    tbody
                                        each cc in cctab
                                            tr
                                                //- td #{currenthw.}
                                                td #{cc.strFName} #{cc.strLName}
                                                td #{cc.strCurStatus}
                                                td
                                                    button.btn.btn-info(type='button')
                                                        |View Profile
                                                    //- if currenthw.strCurStatus == 'Current'
                                                    button.btn.btn-danger.btn-md(type='button' data-toggle='modal', data-target='#report',  data-hwid=cc.intTClientID, data-hwfname=cc.strFName, data-hwlname=cc.strLName) Report
                                                    //- else if currenthw.strCurStatus == 'To be replaced'
                                                    //-     a(href='/request_replacement/replace_list_'+currenthw.intConTransID+currenthw.intConHWID)
                                                    //-         button.btn.btn-info.btn-md(type='button') View Details
                                                    //-     button.btn.btn-danger.btn-md(type='button') Cancel
                                                        
    
    //- ---- modals
    #report.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            form.form-horizontal(method='POST' action='/request_irhw/ir_hw')
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title(align='center')(style='color:white') Report Client
                            p(style="text-align:center; font-weight:bold; font-size:15px")#hwname 
                    .modal-body
                        input.form-control(id='thedate' type='date', name='daterep' style='display:none;')
                        input.form-control(id='_id' type='text', name='recipentid' style='display:none;')
                        .row
                            .col-md-12
                                .form-group
                                    b Choose Type of Incident
                                    select.form-control(name='ir')
                                        each ir in irtab
                                            option(value=''+ir.intID) #{ir.strName}
                        .row
                            .col-md-12
                                .form-group
                                    b   Reason:
                                    textarea.form-control.AddMessage(rows='10' name='reason')
                    .modal-footer
                        button.btn.btn-success.btn-md(type='submit',  onCLick='time();') Submit

    //- scripts
    script.
        function time(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            var x= document.getElementById("thedate");
            
            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = yyyy + '-' + mm + '-' + dd ;
            //- document.write(today);
           document.getElementById("thedate").value=today;
        }
        