extends ../../../templates/navbarclient.pug
block content
    section#services
        .right_col(role='main' style="background-color:transparent;")
            div
                .clearfix
                .row
                    .col-md-12
                        .x_panel
                            .x_title
                                .pull-right
                                    each list in listtab
                                        each oldhwservice in oldhwservicetab
                                            a(href='/request_reliever/reliever_list_/-/'+list.intRequestID+'/-/'+oldhwservice.intHWID)
                                                button.btn.btn-primary.btn-lg(type='button') Back
                                h1 
                                    b   Contract
                            each cont in conttab
                                //- if cont.strContractStatus == 'Accepted'
                                //- object(width='1000', height='250', data='/pdfs/'+cont.strContract, type="application/pdf")
                                //- else
                                .clearfix
                                    .x_panel(style='background-color:#f1f1f1')
                                        br
                                        table.table.jambo_table.table-bordered
                                            thead
                                                tr
                                                    th(style="text-align:center") MAIN CONTRACT
                                                    th(style="text-align:center") STATUS
                                                    th(style="text-align:center") ACTION
                                                
                                            tbody
                                                each cont in conttab
                                                    tr(style="text-align:center")
                                                        td
                                                            center
                                                                    if cont.strContractStatus == ''
                                                                        button.btn.btn-primary(type='button' onclick='opencontract();')
                                                                            i.fa.fa-list
                                                                            |   View Contract
                                                                    else if cont.strContractStatus == 'Accepted' || cont.strContractStatus == 'Rejected'
                                                                        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#viewcon')
                                                                            i.fa.fa-list
                                                                            |   View Contract
                                                        td #{cont.strContractStatus}
                                                        td
                                                            form.form-horizontal.form-label-center(method='POST' action='deccontract')
                                                                each agency in agencytab
                                                                    input(id='agencyadd' type="text", name="agencyadd" value=''+agency.strAddress style='display:none;')
                                                                    input(id='agencyoic' type="text", name="agencyoic" value=''+agency.strOIC style='display:none;')
                                                                each user in usertab
                                                                    input(id='clientname' type="text", name="clientname" value=''+user.strFName+' '+user.strLName style='display:none;')
                                                                each agencyfee in agencyfeetab
                                                                    input(id='agencyfee' type="text", name="agencyfee" value=''+agencyfee.fltFee style='display:none;')
                                                                each transpofee in transpofeetab
                                                                    input(id='transpofee' type="text", name="transpofee" value=''+transpofee.fltFee style='display:none;')
                                                                each replacement in replacementtab
                                                                    input(id='replacement' type="text", name="replacement" value=''+replacement.intFreeReplacement style='display:none;')
                                                                each replacementfee in replacementfeetab
                                                                    input(id='replacementfee' type="text", name="replacementfee" value=''+replacementfee.fltFee style='display:none;')
                                                                each clientadd in clientaddtab
                                                                    input(id='clientadd' type="text", name="clientadd" value=''+clientadd.strCAHouseNo+' '+clientadd.strCAStreet+' '+clientadd.strCAProvince+' '+clientadd.strCity style='display:none;')
                                                                each list in listtab
                                                                    input(type='text', required='required', name='transid', value=''+list.intRequestID, style="display:none;")
                                                                    center
                                                                        if cont.strContractStatus == ''
                                                                            button.btn.btn-success#acceptContract(type='submit' name='btn1' value='accept') Accept
                                                                            button.btn.btn-danger#rejectContract(type='button' data-toggle='modal' data-target='#rejectcontract', data-id=list.intRequestID) Reject
                                                                            //- a(href="/request_add/pdfsmp")
                                                                            //-     button.btn.btn-danger.btn-lg(type='button') testpdf
                                                                        else if cont.strContractStatus == 'Accepted'
                                                                        else if cont.strContractStatus == 'Rejected'
                                                                            button.btn.btn-warning(type='button' data-toggle='modal' data-target='#revertrejectcontract', data-id=list.intRequestID) Revert
                                                                            button.btn.btn-success(type='submit' name='btn1' value='accept') Accept
                                                                        else if cont.strContractStatus == 'Client Confirmation'
                                                                            button.btn.btn-success(type='submit' name='btn1' value='accept') Accept
                                                                            button.btn.btn-danger(type='button' data-toggle='modal' data-target='#rejectcontract', data-id=list.intRequestID) Reject
                                
                            br
                            .x_panel
                                each cont in conttab
                                    if cont.strContractStatus == '' 
                                    else if cont.strContractStatus == 'Accepted'
                                        h3 Household Worker Approval:
                                        .clearfix
                                            table.table.jambo_table.table-bordered
                                                thead
                                                    tr
                                                        th(style="text-align:center") NAME
                                                        th(style="text-align:center") SERVICE
                                                        th(style="text-align:center") SALARY
                                                        th(style="text-align:center") STATUS
                                                        th(style="text-align:center") ACTION
                                                tbody
                                                    each hw in hwtab
                                                        tr
                                                            td #{hw.strFName} #{hw.strLName}
                                                            td #{hw.strName}
                                                            td #{hw.intConSalary}
                                                            td #{hw.strConStatus}
                                                            td
                                                                form(method='POST' action='/request_reliever/send_contract_hw')
                                                                    input(type='text', name='hwid', value=''+hw.intConHWID, style="display:none;")
                                                                    input(type='text', name='transid', value=''+hw.intConTransID, style="display:none;")
                                                                    each oldhwservice in oldhwservicetab
                                                                        input.form-control.col-md-7.col-xs-12(type='text', id='oldid', name='oldhwid' value=''+oldhwservice.intHWID style='display: none;' required='required')
                                                                    if hw.strConStatus == ''
                                                                        button.btn.btn-warning.btn-md(type='button' data-toggle='modal', data-target='#edit_salary' data-id=hw.intConTransID, data-hwid=hw.intConHWID, data-salary=hw.intConSalary) Edit Salary
                                                                        button.btn.btn-success.btn-md#sendHW(type='submit' name='btn1' value='sendtohw') Send Contract
                                                                    else if hw.strConStatus == 'Waiting'
                                                                    else if hw.strConStatus == 'Approved'
                                                                    else if hw.strConStatus == 'Rejected'
                                                                        button.btn.btn-warning.btn-md(type='button' data-toggle='modal', data-target='#edit_salary' data-id=hw.intConTransID, data-hwid=hw.intConHWID, data-salary=hw.intConSalary) Edit Salary
                                                                        button.btn.btn-success.btn-md(type='button') Send Contract
                                                                        button.btn.btn-primary.btn-md(type='button') Remove from Selection
                                br
                                each noacontract in noacontracttab
                                    each tnocontract in tnocontracttab
                                        if noacontract.noa == tnocontract.tno
                                            .pull-right
                                                each list in listtab
                                                    form(method='POST', action = '/request_reliever/send_to_admin')
                                                        each oldhwservice in oldhwservicetab
                                                            input.form-control.col-md-7.col-xs-12(type='text', id='oldid', name='oldhwid' required='required' value=''+oldhwservice.intHWID style='display: none;')
                                                        input(type='text', name='transid', value=''+list.intRequestID, style="display:none;")
                                                        button.btn.btn-success.btn-lg#sendtoAdmin(type='submit' name='btn1' value='send') Send Request To Admin  
                                            
                                        else


        #viewcon.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content.modal-lg
                        .modal-header(style="background-color:#EDEDED")
                        .modal-body
                            each cont in conttab
                                object(id='thecon' width='860', height='500', data='/pdfs/'+cont.strContract, type="application/pdf")
        #rejectcontract.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-md
                .modal-content
                    .modal-header(style="background-color:#2A3F54; color:white")
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title 
                            b   Reject Contract
                    .modal-body
                        form.form-horizontal(method='POST' action='deccontract')
                            .form-group
                                label.control-label.col-md-4.col-sm-3.col-xs-12 Reasons:
                                .col-md-4.col-sm-9.col-xs-12
                                    textarea.form-control(rows='5' cols='600' wrap='hard' name='conremark')
                            .form-group.pull-right
                                input(type='text', id='transid' required='required', name='transid' style="display:none;")
                                button.btn.btn-success(type='submit' name='btn1' value='reject' ) Send
        #edit_salary.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-sm
                .modal-content
                    form.form-horizontal#editSalary(method='POST' action='/request_reliever/edit_salary')
                        .modal-content
                            .modal-header(style="background-color:#2A3F54; color:white")
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') ×
                                h2#myModalLabel.modal-title(style="text-align:center; font-weight:bold") Update Salary
                            .modal-body
                                br
                                .form-group
                                    label.control-label.col-md-4.col-sm-3.col-xs-12
                                        | Salary: &#8369;
                                        span.required
                                    .col-md-5.col-sm-6.col-xs-12
                                        input.form-control.col-md-7.col-xs-12(type='text', id='id', name='transid' required='required' style="display:none;")
                                        input.form-control.col-md-7.col-xs-12(type='text', id='hwid', name='hwid' required='required' style="display:none;")
                                        input.form-control.col-md-7.col-xs-12(type='number', id='salary', name='salary' required='required', min=1)
                                        each oldhwservice in oldhwservicetab
                                            input.form-control.col-md-7.col-xs-12(type='text', id='oldid', name='oldhwid' required='required' value=''+oldhwservice.intHWID style='display: none;')
                            .modal-footer
                                button.btn.btn-success.btn-md#editSalary(type='submit') Change