extends ../../../templates/navbarclient.pug
block content
    section#services
        .right_col(role='main' style="background-color:transparent;")
   
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        
                        .x_panel
                                .pull-right
                                    a(href='/home')
                                        button.btn.btn-primary.btn-lg(type='button') Back
                                .x_title
                                    //- each list in listtab
                                    h1(style="font-size:") 
                                        b   Reliever List:
                                    .clearfix
                                br
                                .x_panel(style='background-color:#f1f1f1')
                                    h3 Household Worker to be relieved:
                                    table.table.jambo_table.table-bordered
                                        thead
                                            tr
                                                th(style="text-align:center") NAME
                                                th(style="text-align:center") SERVICE
                                                th(style="text-align:center") STATUS
                                                th(style="text-align:center") ACTION
                                        tbody
                                            each cr in crtab
                                                tr(style="text-align:center")
                                                    td #{cr.strFName} #{cr.strLName}
                                                    td #{cr.strName}
                                                    td #{cr.strCurStatus}
                                                    td
                                                        button.btn.btn-primary.btn-md(type='button') View Profile
                                br         
                                br
                                .x_panel.wow.fadeInRight
                                    h2 Service :
                                    table.table.jambo_table.table-bordered
                                        thead
                                            tr

                                                th(style="text-align:center") Service
                                                th(style="text-align:center") Results
                                                th(style="text-align:center") Action
                                        tbody
                                        each item in itemtab
                                            each list in listtab  
                                                tr(style="text-align:center")
                                                    td #{item.strName}

                                                    td 
                                                    td
                                                        button.btn.btn-info.btn-xs(type='button' data-toggle="modal" data-target="#view_item"
                                                                                , data-requestno=item.intIRequest_No, data-servicename=item.strName, data-quantity=item.intIQuantity, data-gender=item.strIRequestGender, data-educ=item.strIRequestEduc, data-exp=item.intIRequestExp
                                                                                , data-sal= item.deciRequestSalary, data-age=item.intIRequestAge1 , data-ages=item.intIRequestAge2) View
                                                            if list.strRequestStatus == 'Draft'
                                                            else if list.strRequestStatus == 'On process'
                                                                each oldhwservice in oldhwservicetab
                                                                    a(href='/request_reliever/result_/-/'+item.intIRequestID+'/-/'+item.intIRequest_No+'/-/'+oldhwservice.intHWID)
                                                                        button.btn.btn-primary.btn-xs(type='button') View Result
                                    each list in listtab
                                        if list.strRequestStatus == 'Pending' || list.strRequestStatus == 'Approved' || list.strRequestStatus == 'Rejected' || list.strRequestStatus == 'Finished'
                                            each transdetails in transdetailstab
                                                h2 Deployment Details:
                                                table.table.jambo_table.bulk_action
                                                    thead
                                                        tr
                                                            th Date of Deployment
                                                            th Time of Deployment
                                                            th Type of Deployment
                                                            th Invoice
                                                    tbody
                                                        tr
                                                            td #{transdetails.datDateofDeployment}
                                                            td #{transdetails.timTimeofDeployment}
                                                            if transdetails.intTypeofDeployment == '2'
                                                                td Drop-off
                                                            else if transdetails.intTypeofDeployment == '3'
                                                                td Pick-up
                                                            td
                                                                each cr in crtab
                                                                    a(href="/request_reliever/invoice_/-/"+transdetails.intTRequestID+'/-/'+cr.intConHWID)
                                                                        button.btn.btn-primary.btn-xs(type='button') View
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel(style='background-color:rgba(38,185,154,0.3)') 
                            .x_title
                                    .x_panel(style='background-color:#394D5F; border-color:#394D5F')
                                        h2(style="font-weight:bold; color:white") List of service/s you approved:
                            .x_panel
                                .clearfix
                                    br
                                    each hw in hwtab
                                        .col-md-4.col-sm-4.col-xs-12.profile_details
                                            form#demo-form2.form-horizontal.form-label-left(method="POST" action="/request_add/decision_"+hw.intRRequest_No)
                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='hwid', value=''+hw.intRHWID, style="display:none;")
                                                input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transid', value=''+hw.intRRequestID, style="display:none;")                              
                                                .well.profile_view
                                                    .col-sm-12
                                                        h4.brief
                                                            i #{hw.strName}
                                                        .left.col-xs-7
                                                            h2 #{hw.strFName} #{hw.strLName}
                                                            p
                                                                | Age:
                                                                strong  #{hw.age} 
                                                            ul.list-unstyled
                                                                li
                                                                    | Gender: 
                                                                    b #{hw.strGender}
                                                                li
                                                                    | Working Experience: 
                                                                    b 
                                                                li
                                                                    | Education: 
                                                                    b 
                                                        .right.col-xs-5.text-center
                                                            img.img-circle.img-responsive(src='../images/'+hw.strPicture, alt='', style='width:100px; height:100px')
                                                    .col-xs-12.bottom.text-center
                                                            a(href='/request_add/hw_profile_'+hw.intRRequestID+hw.intRHWID)
                                                                button.btn.btn-primary(type='button')
                                                                    i.fa.fa-user  
                                                                    |  View Profile
                            .form-group.pull-right
                                .col-md-12.col-sm-9.col-xs-12.pull-right
                                        
                                    //- a(href='/home')
                                        button.btn.btn-primary.btn-lg(type='button') Back
                                    each noofapprove in noofapprovetab
                                        each list in listtab
                                            if noofapprove.NOOFapprove > 0 && list.strRequestStatus=='On process'
                                                button.btn.btn-success.btn-lg(type='button' data-toggle="modal" data-target="#deployment") Proceed to Deployment
                                            else


            //- // Set attributes Modal
            #setattritbutes.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog(role='document')
                    each list in listtab
                        each oldhwservice in oldhwservicetab
                            form(method='POST', action='/request_reliever/set_attributes_'+list.intRequestID+oldhwservice.intHWID).form-horizontal
                                .modal-content
                                    .modal-header(style="background-color:#2A3F54; color:white")
                                        button.close(type='button', data-dismiss='modal')
                                            span(aria-hidden='true') ×
                                        h3#myModalLabel.modal-title 
                                            p(style="text-align:center; font-weight:bold") Set Attributes
                                    .modal-body
                                        .row
                                            .col-md-6
                                                .form-group
                                                    b Service:
                                                    select#skil(name='service').form-control
                                                        each oldhwservice in oldhwservicetab
                                                            option(value=''+ oldhwservice.intServiceID) #{oldhwservice.strName}
                                        .row
                                            .col-md-3
                                                .form-group
                                                    b No. of Person Needed
                                                    span.required
                                                    input.form-control(type='number' name='quantity' min='1', max='10' value='1' required readonly)
                                            br
                                            .col-md-4
                                                .form-group
                                                    b Gender:
                                                    span.required
                                                    select(name='gender').form-control
                                                        option(value='Any') Any
                                                        option(value='Male') Male
                                                        option(value='Female') Female
                                            .form-group 
                                                b &nbsp&nbsp&nbspAge (From - To):
                                                .row
                                                    .col-md-2
                                                        .form-group
                                                            input.form-control(type='number' name='age1' min='18', max='100' value='18' required)
                                                    .col-md-2
                                                        .form-group
                                                            input.form-control(type='number' name='age2' min='18', max='100' value='18' required)  
                                            
                                        .row
                                            .col-md-6
                                                .form-group
                                                    b Highest Educational Attainment:
                                                    span.required
                                                    select.form-control(name='educ')
                                                        option(value='Elementary') Elementary
                                                        option(value='High School') High School
                                                        option(value='College') College
                                                        option(value='Vocational') Vocational
                                            .col-md-4
                                                .form-group
                                                    b Work Experience (at least):
                                                    span.required
                                                    input#first-name.form-control.col-md-7.col-xs-12(type='number' name='workexp' value='0')
                                        .row
                                            .col-md-4
                                                .form-group
                                                    b Willing to work for a monthly salary of (minimum):&nbspP
                                                    span.required
                                                    input#first-name.form-control.col-md-7.col-xs-12(type='number' name='salary' value='0')     
                                            .col-md-8
                                                .x_panel
                                                    .x_title
                                                        h5
                                                            b Recommended Salary
                                                        .clearfix
                                                    .x_content
                                                        .row
                                                            .col-md-4
                                                                p(style="font-weight:bold") Housemaids
                                                            .col-md-8
                                                                |Php 6000 (Negotiable)
                                                        .row
                                                            .col-md-4
                                                                p(style="font-weight:bold") Yaya
                                                            .col-md-8
                                                                |Php 6000 (Negotiable)
                                                        .row
                                                            .col-md-4
                                                                p(style="font-weight:bold") Cook
                                                            .col-md-8
                                                                |Php 8000 (Negotiable)
                                                        .row
                                                            .col-md-4
                                                                p(style="font-weight:bold") Driver
                                                            .col-md-8
                                                                |Php 13k (Stay-in)
                                    .modal-footer
                                        button.btn.btn-primary.btn-md(type='button'  data-dismiss='modal') Cancel
                                        button.btn.btn-success.btn-md(type='submit') Submit



            #view_item.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header(style="background-color:#2A3F54; color:white")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                            h4.modal-title#a
                        .modal-body
                            .row
                                br
                                .col-md-3
                                    .form-group
                                        | No. of Person Needed
                                        span.required
                                        input.form-control#c(type='number' readonly)
                                br
                                .col-md-4
                                    .form-group
                                        | Gender:
                                        span.required
                                        input.form-control#d(type='text' readonly)
                                .form-group &nbsp&nbsp&nbspAge (From - To):
                                    .row
                                        .col-md-2
                                            .form-group
                                                input.form-control#age1(type='number' readonly)
                                        .col-md-2
                                            .form-group
                                                input.form-control#age2(type='number' readonly)  
                                
                            .row
                                .col-md-4
                                    .form-group
                                        | Highest Educational Attainment:
                                        span.required
                                        input.form-control#e(type='text' readonly)
                                
                                .col-md-4
                                    .form-group
                                        br
                                        | Work Experience (at least):
                                        span.required
                                        input#f.form-control.col-md-7.col-xs-12(type='number' name='workexp' readonly)
                            
                                .col-md-4
                                    .form-group
                                        | Willing to work for a monthly salary of (minimum): PHP
                                        span.required
                                        input.form-control.col-md-7.col-xs-12#sal(type='number' name='salary' readonly)     
                        br
                        .modal-footer
                            button.btn.btn-primary.btn-md(type='button'  data-dismiss='modal') Close
                
        //- Deployment Modal
        #deployment.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-sm(style="width:400px;")
                .modal-content
                    form.form-horizontal.form-label-center(method="POST" action='/request_add/contract')
                        .modal-header(style="background-color:#2A3F54; color:white")
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                            h4
                                b Deployment Details
                        .modal-body
                            each list in listtab
                                each nooftrans in nooftranstab
                                    if nooftrans.nooftrans == 0

                                        input(id = 'idtrans' type='text', required='required', name='transid', value=''+list.intRequestID, style="display:none;")  
                                        input(id='thedate' type='date', name='reqdate' style='display:none;')
                                        input(id='invo' type='text', name='invnum' style='display:none;')
                                        br
                                        .row
                                            .col-md-2
                                                .form-group
                                            .col-md-8
                                                .form-group
                                                    label Type of Deployment
                                                    select.form-control(name='dep')
                                                        each fee in feetab
                                                            option(value=''+fee.intID) #{fee.strName} &nbsp&nbsp  + P #{fee.fltFee}
                                        .row
                                            .col-md-2
                                                .form-group
                                            .col-md-8
                                                .form-group
                                                    label Preferred Date For Deployment
                                                    .input-group.date
                                                        input.form-control.has-feedback-left.deploy(type='date', name='datedep' required )
                                                        span.input-group-addon
                                                            span.fa.fa-calendar
                                        .row
                                            .col-md-2
                                                .form-group
                                            .col-md-8
                                                .form-group
                                                    label Preferred Time For Deployment
                                                    .input-group.date
                                                        input.form-control.has-feedback-left.time(type='time' name='timedep' required)
                                                        span.input-group-addon
                                                            span.glyphicon.glyphicon-time
                                    else
                                        each prevtransdetails in prevtransdetailstab
                                            input(id = 'idtrans' type='text', required='required', name='transid', value=''+list.intRequestID, style="display:none;")  
                                            input(id='thedate' type='date', name='reqdate' style='display:none;')
                                            input(id='invo' type='text', name='invnum' style='display:none;')
                                            br
                                            .row
                                                .col-md-2
                                                    .form-group
                                                .col-md-8
                                                    .form-group
                                                        label Type of Deployment
                                                        select.form-control(name='dep')
                                                            option(value=''+prevtransdetails.intTypeofDeployment selected) #{prevtransdetails.strName} &nbsp&nbsp + P #{prevtransdetails.fltFee}
                                                            each fee in feetab
                                                                option(value=''+fee.intID) #{fee.strName} &nbsp&nbsp  + P #{fee.fltFee}
                                            .row
                                                .col-md-2
                                                    .form-group
                                                .col-md-8
                                                    .form-group
                                                        label Preferred Date For Deployment
                                                        .input-group.date
                                                            input.form-control.has-feedback-left.deploy1(type='date', aria-describedby='inputSuccess2Status4'  name='datedep' value=''+prevtransdetails.datDateofDeployment required)
                                                            span.input-group-addon
                                                                span.fa.fa-calendar
                                            .row
                                                .col-md-2
                                                    .form-group
                                                .col-md-8
                                                    .form-group
                                                        label Preferred Time For Deployment
                                                        .input-group.date
                                                            input.form-control.has-feedback-left.time(type='time' name='timedep' value=''+prevtransdetails.timTimeofDeployment required)
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                        .modal-footer
                            button.btn.btn-primary(type='button', data-dismiss='modal') Close
                            button.btn.btn-success.btn-md(type='submit',  onCLick='time();') Next
                script.
                    $(document).ready(function(){
                        //================================
                        //minimum for date deployement
                        //===============================
                            var now = moment().format("YYYY-MM-DD");
                            var minimum = moment(now).add(3, 'days').format("YYYY-MM-DD");
                            console.log(minimum);

                            $(".deploy").attr("min", minimum);
                            $(".deploy1").attr("min", minimum);
                            $(".deploy").attr("value", minimum);
                            $(".time").attr("min", "08:00");

                        //================================
                        //max for date deployement
                        //===============================
                            var maximum = moment(now).add(7, 'days').format("YYYY-MM-DD");

                            $(".deploy").attr("max", maximum);
                            $(".deploy1").attr("max", maximum);
                            $(".time").attr("max", "17:00");
                            
                        $("#submit").click(function(e){
                            e.preventDefault();
                            var idNow = $(this).val();
                            var etolink = '/request_add/submit_request_'+ idNow;
                            console.log(etolink);
                            $.ajax({
                                url: etolink,
                                method: 'get',
                                data: '',
                                success: function(data, status){
                                    console.log(status);
                                    if(status == 'success'){
                                        swal({
                                            type: 'success',
                                            title: 'Submitted!',
                                            text: 'List successfully submitted to admin.',
                                            showConfirmButton: true,
                                            timer: 5000
                                        },
                                        function(isConfirm){
                                            if(isConfirm){
                                                location.reload();
                                            }
                                        });
                                    }
                                }
                                
                            })
                        });
                    });
                script.
                    function time(){
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; //January is 0!
                        var yyyy = today.getFullYear();
                        var hh = today.getHours();
                        var min = today.getMinutes();
                        var sec = today.getSeconds();
                        var x= document.getElementById("thedate");
                        var y=document.getElementById("idtrans").value
                        var inv;
                        
                        if(dd<10) {
                            dd = '0'+dd
                        } 

                        if(mm<10) {
                            mm = '0'+mm
                        } 

                        today = yyyy + '-' + mm + '-' + dd ;
                        //- document.write(today);
                    document.getElementById("thedate").value=today;
                    inv = yyyy+y;
                    document.getElementById("invo").value=inv;
                    }
