doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='/admin/gentelella/production/images/mega.ico')
    title CHMS | Admin
    // Bootstrap
    link(href='/admin/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/admin/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/admin/gentelella/vendors/nprogress/nprogress.css', rel='stylesheet')
    // iCheck
    link(href='/admin/gentelella/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/admin/gentelella/build/css/custom.min.css', rel='stylesheet')
    // For dynamic date and time
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='/admin/gentelalla/production/js/date_time.js')
    // bootstrap-daterangepicker
    link(href='/admin/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
    // bootstrap-datetimepicker
    link(href='/admin/gentelella/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css', rel='stylesheet')
    // Switchery
    link(href='/admin/gentelella/vendors/switchery/dist/switchery.min.css', rel='stylesheet')
    // jQuery custom content scroller
    link(href="/admin/gentelella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet")
    //preloader
    link(href='/assets4/css/style1.css', rel='stylesheet')
    // iCheck
    link(href='/admin/gentelella/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
    // Animate CSS
    link(href="/assets/fame/css/animate.css" rel="stylesheet")
    // sweet alert
    link(href="/custom/alerts/css/popup.css" rel="stylesheet")
    //- link(rel="stylesheet", href="/asset_sweetalert/src/sweetalert2.css")
    //- script(src="/asset_sweetalert/src/sweetalert2.all.min.js")
        //- pdfmake
    script(type='text/javascript', src='/pdfmake/build/pdfmake.min.js')
    script(type='text/javascript', src='/pdfmake/build/vfs_fonts.js')


  //- #preloader
  body.nav-md
    each user in usertab
      .container.body
        .main_container
          .col-md-3.left_col.menu_fixed
            .left_col.scroll-view
              .navbar.nav_title(style='border: 0;')
                | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                //- img(src='../admin/gentelella/production/images/mega.png', width='150', height='65')
                a.site_title(href='')
                  //- img(src='../admin/gentelella/production/images/mega.png',width='150', height='65')              
              // menu profile quick info
              .profile.clearfix
                .profile_pic
                  img.img-circle.profile_img(src='/images/'+user.strPicture, alt='...')
                .profile_info
                  span Welcome,
                    h2 #{user.strFName}
              // /menu profile quick info
              br
              // sidebar menu
              #sidebar-menu.main_menu_side.hidden-print.main_menu
                .menu_section
                  h3 Main Menu
                  ul.nav.side-menu
                    li
                      a(href='/admin')
                        i.fa.fa-tachometer
                        |  Dashboard
                    li
                      a
                        i.fa.fa-wrench
                        |  Maintenance 
                        span.fa.fa-chevron-down
                      ul.nav.child_menu
                        li
                          a(href='/admin/maintenance_requirements') Requirements
                        li
                          a(href='/admin/maintenance_type_of_services') Services
                        //- li 
                        //-   a
                        //-     | Contracts
                        //-     span.fa.fa-chevron-down
                        //-   ul.nav.child_menu
                        //-     li.sub_menu
                        //-       a(href='/admin/maintenance_contractofservices') Contract of Services
                        //-     li.sub_menu
                        //-       a Replacement Contract
                        //-     li.sub_menu
                        //-       a Household Worker Contract

                        li
                          a(href='/admin/maintenance_householdworker_skills') Household Worker Skills
                        li
                          a(href='/admin/maintenance_reason_of_replacement') Reason of Replacement
                        li
                          a(href='/admin/maintenance_incident_report') Incident report                     
                        li
                          a(href='/admin/maintenance_type_of_leave') Leave              
                        li
                          a(href='/admin/maintenance_city') City
                    li
                      a
                        i.fa.fa-exchange
                        |  Transactions
                        span.fa.fa-chevron-down
                      ul.nav.child_menu
                        li 
                            a
                              | Clients
                              span.fa.fa-chevron-down
                            ul.nav.child_menu
                              li.sub_menu
                                a(href='/admin/transactions/clients/registered') Registered
                              li.sub_menu
                                a(href='/admin/transactions/clients/pending') Pending
                              li.sub_menu
                                a(href='/admin/transactions/clients/rejected') Rejected
                              li.sub_menu
                                a(href='/admin/transactions/clients/banned') Banned
                        li 
                            a
                              | Household Workers
                              span.fa.fa-chevron-down
                            ul.nav.child_menu
                              li.sub_menu
                                a(href='/admin/transactions/household_workers/registered') Registered
                              li.sub_menu
                                a(href='/admin/transactions/household_workers/pending') Pending
                              li.sub_menu
                                a(href='/admin/transactions/household_workers/rejected') Rejected
                              li.sub_menu
                                a(href='/admin/transactions/household_workers/deployed') Deployed
                              li.sub_menu
                                a(href='/admin/transactions/household_workers/suspended') Suspended
                              li.sub_menu
                                a(href='/admin/transactions/household_workers/banned') Banned
                              
                              
                        li 
                          a
                            | Registration
                            span.fa.fa-chevron-down
                          ul.nav.child_menu
                            li.sub_menu 
                              a(href='/admin/registration_client') Client
                              //-  /admin/client_list
                            li.sub_menu 
                              a(href='/admin/registration_household_worker') Household Worker
                              //- /admin/householdworker_list
                              
                        li 
                          a
                            | Request
                            span.fa.fa-chevron-down
                          ul.nav.child_menu
                            li.sub_menu
                              a(href='/admin/transaction_client_request') Client
                            li.sub_menu
                              a
                                | Household Worker
                                span.fa.fa-chevron-down
                              ul.nav.child_menu
                                li.sub_menu
                                  a(href='/admin/transaction_hhRequest_leave') Leave
                                li.sub_menu
                                  a(href='/admin/transaction_replacement_of_client') Replacement of Client
                            //- li.sub_menu
                            //-   a(href='/admin/transaction_rejected') Rejected
                            
                        li 
                          a
                            | Settlement
                            span.fa.fa-chevron-down
                          ul.nav.child_menu
                            li.sub_menu
                              a(href='/admin/transaction_settle') Settle Request
                            li.sub_menu
                              a(href='/admin/transaction_settled') Settled Transaction
                        li 
                          a
                            | Incident Report
                            span.fa.fa-chevron-down
                          ul.nav.child_menu
                            li.sub_menu
                              a(href='/admin/transaction_ir_client') Client
                            li.sub_menu
                              a(href='/admin/transaction_ir_hw') Household Worker                                         
                    li
                      a
                        i.fa.fa-gear
                        |  Utilities 
                        span.fa.fa-chevron-down
                      ul.nav.child_menu
                        li
                          a(href='/admin/utilities_agency') Agency
                        li
                          a(href='/admin/utilities_staff') Staff
                        li
                          a(href='/admin/utilities_fees') Fees
                        li
                          //- a(href='/admin/utilities_freereplacement') Replacement
                    li
                      a
                        i.fa.fa-list-alt
                        |  Queries
                        span.fa.fa-chevron-down
                      ul.nav.child_menu
                        li
                          a(href='/admin/queries_client') Client
                        li
                          a(href='/admin/queries_hw') Household Worker
                        //- li
                        //-   a(href='/admin/queries_city') City
                    li
                      a(href='/admin/reports')
                        i.fa.fa-pie-chart
                        |  Reports 

          #preloader        
              // /sidebar menu
          // top navigation
          .top_nav
            .nav_menu
              nav
                .nav.toggle
                  a#menu_toggle
                    i.fa.fa-bars
                ul.nav.navbar-nav.navbar-right
                  li
                    a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                      img(src='images/img.jpg', alt='')
                      | #{user.strFName} #{user.strLName}
                      span
                        |&nbsp 
                        i.fa.fa-angle-down
                    ul.dropdown-menu.dropdown-usermenu.pull-right
                      //- li
                        a(href='javascript:;')  Profile
                      li
                        a(href='/login')
                          i.fa.fa-sign-out.pull-right
                          |  Log Out
                  li
                    a
                      span#date_time
                      | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
                    script(type='text/javascript').
                      window.onload = date_time('date_time');            
          block content
          // footer content
          
          // /footer content
          
          // jQuery
          script(src='/admin/gentelella/vendors/jquery/dist/jquery.min.js')
          // Bootstrap
          script(src='/admin/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
          // FastClick
          script(src="/admin/gentelella/vendors/fastclick/lib/fastclick.js")
          // NProgress
          script(src="/admin/gentelella/vendors/nprogress/nprogress.js")
          // Datatables
          script(src='/admin/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js')
          script(src='/admin/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
          script(src='/admin/gentelella/build/js/custom.min.js')
          // Switchery
          script(src='/admin/gentelella/vendors/switchery/dist/switchery.min.js')
          // Form wizard
          script(src='/admin/gentelella/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js')
          // starrr
          script(src='/admin/gentelella/vendors/starrr/dist/starrr.js')
          // iCheck
          script(src='/admin/gentelella/vendors/iCheck/icheck.min.js')      
          //for edit
          // bootstrap-daterangepicker
          script(src='/admin/gentelella/vendors/moment/min/moment.min.js')
          script(src='/admin/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js')
          // jQuery Tags Input
          script(src='/admin/gentelella/vendors/jquery.tagsinput/src/jquery.tagsinput.js')
          // jQuery custom content scroller
          script(src="/admin/gentelella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
          script(src='/custom/alerts/js/sweetalert.min.js')
          // Chart.js
          script(src='/admin/gentelella/vendors/Chart.js/dist/Chart.js')
          //preloader
          script(src='/assets4/js/custom1.js')
          script(src='/assets4/lib/wow/wow.min.js')
          script(src="/assets4/lib/morphext/morphext.min.js")
          script.
            $('#viewOR').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var ornum = button.data('ornum')
              var image = button.data('image')

              var modal = $(this)
              modal.find('.modal-body #ornum').text(ornum)
              $('#imagepre').attr('src', image)
            });
          script.
            $('#accept').click(function() {
                if ($('#submitbtn').is(':disabled')) {
                    $('#submitbtn').removeAttr('disabled');
                } else {
                    $('#submitbtn').attr('disabled', 'disabled');
                }
            }); 

          script.
            //maintenance requirement
            $('#edit_requirement').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var name = button.data('name')
              var type = button.data('type')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_name').val(name)
              modal.find('.modal-body #_type').val(type)
            });
            //maintenance Service
            $('.bs-edit-modal-xs').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var name = button.data('name')

              var modal = $(this)
              modal.find('.modal-body #id').val(id)
              modal.find('.modal-body #name').val(name)
            });
            $('#edit_city').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var name = button.data('name')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_name').val(name)
            });
            $('#edit_reas').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var name = button.data('name')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_name').val(name)
            });
            $('#edit_leave').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var name = button.data('name')
              var day = button.data('day')
              var leavefileday = button.data('leavefileday')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_name').val(name)
              modal.find('.modal-body #_day').val(day)
              modal.find('.modal-body #_leavefileday').val(leavefileday)
            });
            $('#editskill').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var name = button.data('skillname')
              var id = button.data('skillid')
              var servid = button.data('serviceid')
              var servname = button.data('servicename')

              var modal = $(this)
              modal.find('.modal-body #_skillid').val(id)
              modal.find('.modal-body #_skillname').val(name)
              modal.find('.modal-body #_serviceid').val(servid)
              modal.find('.modal-body #_servicename').val(servname)
              });

            $('#editir').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var name = button.data('name')
              var desc = button.data('desc')
              var level = button.data('level')

              var modal = $(this)
              modal.find('.modal-body #id').val(id)
              modal.find('.modal-body #name').val(name)
              modal.find('.modal-body #desc').val(desc)
              modal.find('.modal-body #level').val(level)
              });
            //- client list
            $('#req_unregistered').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var full = button.data('name')

              var modal = $(this)
              modal.find('.modal-body #pangalan').val(full)
              modal.find('.modal-body #_id').val(id)
            });
            $('#req_rejected').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
            });

            //hwlist
            $('#req_unregistered_hw').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var email = button.data('email')
              var fname = button.data('fname')
              var lname = button.data('lname')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #email').val(email)
              modal.find('.modal-body #fname').val(fname)
              modal.find('.modal-body #lname').val(lname)
            });

            $('#req_rejected_hw').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var id = button.data('id')

                var modal = $(this)
                modal.find('.modal-body #_id').val(id)
            });

            $('#datatable2').DataTable();
            $('#datatable3').DataTable();
            $('#datatable4').DataTable();
            //- utilities
            $('#edit_fee').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var name = button.data('name')
              var fee = button.data('fee')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_name').val(name)
              modal.find('.modal-body #_fee').val(fee)
            });

            //- transaction view request modal
            $('#view_item').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var a = button.data('requestno')
              var b = button.data('servicename')
              var c = button.data('quantity')
              var d = button.data('gender')
              var e = button.data('educ')
              var f = button.data('exp')
              var age1 = button.data('age1')
              var age2 = button.data('age2')
              var sal  = button.data('sal')

              var modal = $(this)
                modal.find('.modal-header #a').text(' '+a)
                modal.find('.modal-header #title').text(b)

                modal.find('.modal-body #b').text(' '+b)
                modal.find('.modal-body #c').text(' '+c)
                modal.find('.modal-body #d').text(' '+d)
                modal.find('.modal-body #e').text(' '+e)
                modal.find('.modal-body #f').text(' '+f)
                modal.find('.modal-body #sal').text(' '+sal)
                modal.find('.modal-body #age1').text(' '+age1)
                modal.find('.modal-body #age2').text(' '+age2)
            });
            $('#re-sendcon').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #id').val(id)
              

            });
            $('#cancel_re-sendcon').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #id').val(id)
            });
            //- settle transcation
            $('#settle').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-header #a').text(id)

            });

            $('#settle_replacementclient').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-header #a').text(id)
              
            });

            $('#settle_replaceclient').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-header #a').text(id)
              
            });
            $('#settle_reliever').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-header #a').text(id)
              
            });
            //other skills
            $('select.SelectTemplate').change(function() {
                    var currentVal = $('textarea').val();
                    $('textarea.AddMessage').val(currentVal + $(this).val()); 
            });
            //profile picture
            function PreviewImage1() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage1").files[0]);
                oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview1").src = oFREvent.target.result;
                };
              };
            function PreviewImage3() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage3").files[0]);
                oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview3").src = oFREvent.target.result;
                };
              };
            function PreviewImage4() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage4").files[0]);
                oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview4").src = oFREvent.target.result;
                };
              };
            function PreviewImage5() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage5").files[0]);
                oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview5").src = oFREvent.target.result;
                };
              };
            $('#editpic').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var image = button.data('image')

              var modal = $(this)
              modal.find('.modal-body #id').val(id)
              $('#uploadPreview1').attr('src', image);
            });
            //- -------------------------------------------------incident report client
            $('#view_report').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var doreport = button.data('doreport')
              var reportname= button.data('reportname')
              var desc= button.data('desc')
              var reason= button.data('reason')
              var recfname= button.data('recfname')
              var reclname= button.data('reclname')
              var rec= button.data('rec')
              var gin= button.data('action')
              var nyare= button.data('stat')
              var image= button.data('image')

              var modal = $(this)

              modal.find('.modal-body #id').val(id)
              modal.find('.modal-body #action').val(gin)
              modal.find('.modal-body #repStat').val(nyare)
              modal.find('.modal-body #doreport').val(doreport)
              modal.find('.modal-body #reportname').val(reportname)
              modal.find('.modal-body #desc').val(desc)
              modal.find('.modal-body #reason').val(reason)
              modal.find('.modal-body #recfname').val(recfname +' '+ reclname)
              modal.find('.modal-body #rec').val(rec)
              $('#imagepre').attr('src', image)
            });
            
            $('#dec').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var text = button.data('desc')

              var modal = $(this)
              modal.find('.modal-body #desc').text(text)
              
            });
            //-----------------------------------------------------CLIENT UPDATE PIC
            //profile picture
            function PreviewImage2() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage2").files[0]);
                oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview2").src = oFREvent.target.result;
                };
              };
            

            $('#editpic1').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var image = button.data('image')

              var modal = $(this)
              modal.find('.modal-body #id').val(id)
              $('#uploadPreview2').attr('src', image);
              
            });
            //------------------------------------------------------------- ban modal
            $('#ban').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              
              var modal = $(this)
              modal.find('.modal-body #id').val(id)
            });
            $('#reinstate').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var thestatus = button.data('thestatus')
              
              var modal = $(this)
              modal.find('.modal-body #id').val(id)
              modal.find('.modal-body #thestatus').val(thestatus)
            });

            //view leave request
            $('#viewLReport').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var start = button.data('start')
              var end = button.data('end')
              var add = button.data('add')
              var reason = button.data('reason')

              var modal = $(this)
              modal.find('.modal-body #start').text(start)
              modal.find('.modal-body #end').text(end)
              modal.find('.modal-body #add').text(add)
              modal.find('.modal-body #reason').text(reason)
            });
            $('#rejectLReq').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')

              var modal = $(this)
              modal.find('.modal-body #id').val(id)

            });

            //- settlement contract
            $('#settle_viewcon').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var con = button.data('con')
              var thecon = '/pdfs/'+con
              var conname = button.data('conname');
              var hwid = button.data('hwid');
              var transid = button.data('transid');

              var modal = $(this)
              modal.find('.modal-body #hwid').val(hwid)
              modal.find('.modal-body #transid').val(transid)
              modal.find('.modal-body #thecon').attr('data',''+thecon)
            });
            $('#settle_viewcon_empty').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var con = button.data('con')
              var thecon = '/pdfs/'+con
              var conname = button.data('conname');
              var hwid = button.data('hwid');
              var transid = button.data('transid');

              var modal = $(this)
              modal.find('.modal-body #hwid').val(hwid)
              modal.find('.modal-body #transid').val(transid)
              modal.find('.modal-body #thecon').attr('data',''+thecon)
            });
            $('#terminate_contract').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var hwid = button.data('hwid');
              var transid = button.data('transid');

              var modal = $(this)
              modal.find('.modal-body #hwid').val(hwid)
              modal.find('.modal-body #transid').val(transid)
            });
          
