doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='/admin/gentelella/production/images/mega.ico')
    title CHMS | Household Worker
    // Bootstrap
    link(href='/admin/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/admin/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/admin/gentelella/vendors/nprogress/nprogress.css', rel='stylesheet')
    // iCheck
    link(href='/admin/gentelella/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/admin/gentelella/build/css/custom1.min.css', rel='stylesheet')
    // For dynamic date and time
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='/admin/gentelella/production/js/date_time.js')
    // Switchery
    link(href='/admin/gentelella/vendors/switchery/dist/switchery.min.css', rel='stylesheet')
    //preloader
    link(href='/assets4/css/style1.css', rel='stylesheet')
    // bootstrap-daterangepicker
    link(href='/admin/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
    // bootstrap-datetimepicker
    link(href='/admin/gentelella/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css', rel='stylesheet')
    // Animate CSS
    link(href="/assets/fame/css/animate.css" rel="stylesheet")
    //swal
    link(href="/custom/alerts/css/popup.css" rel="stylesheet")
    //- script(src="/asset_sweetalert/src/sweetalert2.all.min.js")

  #preloader
  body.nav-md.footer_fixed(style='background-color:transpaarent' onpageshow='total();')
    each user in usertab
      .container.body
        .main_container
          .col-md-3.left_col
            .left_col.scroll-view
              .navbar.nav_title1(style='border: 0;')
                | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                img(src='/admin/gentelella/production/images/mega.png')(style='width:150px; height:52px')
              // menu profile quick info
              section#services
                .profile.clearfix
                  div(style='padding-left:10%; width:108%')
                    img.img-circle.profile_img(src='/images/'+user.strPicture, alt='...' height="150px")
                  div(style='padding-right:8%')(align='center')
                    h2 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp #{user.strFName} #{user.strLName}
                // /menu profile quick info
                br
                // sidebar menu
                #sidebar-menu.main_menu
                  .menu_section
                    h3
                    ul.side-menu(style='')
                      li.x_panel(align='center', style='padding-right:20%')
                        a(href='hwRegi')
                          i.fa.fa-user
                          |  Profile
                      li.x_panel(align='center', style='padding-right:20%')
                        | &nbsp&nbsp
                        a(href='/login')
                          i.fa.fa-sign-out
                          |  Logout
                // /menu footer buttons
                .sidebar-footer(style="background-color:transparent")
              // /menu footer buttons
          // top navigation
          .top_nav
            .nav_menu1
              .nav.toggle
                a#menu_toggle
                  i
              ul.nav1.navbar-nav1.navbar-right
                //- li
                //-   a
                //-     span#date_time
                //-   script(type='text/javascript').
                //-     window.onload = date_time('date_time');
                li
                  a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    img(src='images/img.jpg', alt='')
                    b #{user.strFName}
                      span
                        |&nbsp 
                        i.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='/login')
                        i.fa.fa-sign-out.pull-right
                        |  Log Out
                li(role='presentation')
                  a.dropdown-toggle.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    b My Client
                    span.badge.bg-green
                li
                  a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    img(src='images/img.jpg', alt='')
                    b Request
                    span
                        |&nbsp 
                        i.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='/request_leave') For Leave
                    li
                      a(href='/request_replacement_hw') Replace Client
                    li
                      a(href='/request_irhw') Report Client
                li
                  a(href='/home_householdworker') 
                    b Home  
          // /top navigation
          // page content
          block content
          // /page content
        // jQuery
        script(src='../admin/gentelella/vendors/jquery/dist/jquery.min.js')
        // Bootstrap
        script(src='../admin/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
        // Datatables
        script(src='../admin/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js')
        script(src='../admin/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
        script(src='../admin/gentelella/build/js/custom.min.js')
        // Switchery
        script(src='../admin/gentelella/vendors/switchery/dist/switchery.min.js')
        //preloader
        script(src='/assets4/js/custom1.js')
        script(src='/assets4/lib/wow/wow.min.js')
        script(src="/assets4/lib/morphext/morphext.min.js")
        script(src='/custom/alerts/js/sweetalert.min.js')
        script.
         $('#viewjobRej').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var id2 = button.data('id2')
              var name = button.data('name')
              var add = button.data('add')
              var sal = button.data('sal')
              var date = button.data('needed')
              var serv = button.data('serv')
              var image = button.data('image')


              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_id2').val(id2)
              modal.find('.modal-body #name').text(name)
              modal.find('.modal-body #add').text(add)
              modal.find('.modal-body #sal').text(sal)
              modal.find('.modal-body #date').text(date)
              modal.find('.modal-body #serv').text(serv)
              $('#imagepreRej').attr('src', image); // image
            });
        script.
         $('#viewjobAccept').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var id2 = button.data('id2')
              var name = button.data('name')
              var add = button.data('add')
              var sal = button.data('sal')
              var date = button.data('needed')
              var serv = button.data('serv')
              var image = button.data('image')


              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_id2').val(id2)
              modal.find('.modal-body #name').text(name)
              modal.find('.modal-body #add').text(add)
              modal.find('.modal-body #sal').text(sal)
              modal.find('.modal-body #date').text(date)
              modal.find('.modal-body #serv').text(serv)
              $('#imagepreAccept').attr('src', image); // image
            });
        script.
         $('#viewjob').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var id2 = button.data('id2')
              var name = button.data('name')
              var add = button.data('add')
              var sal = button.data('sal')
              var date = button.data('needed')
              var serv = button.data('serv')
              var image = button.data('image')


              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_id2').val(id2)
              modal.find('.modal-body #name').text(name)
              modal.find('.modal-body #add').text(add)
              modal.find('.modal-body #sal').text(sal)
              modal.find('.modal-body #date').text(date)
              modal.find('.modal-body #serv').text(serv)
              $('#imagepre').attr('src', image); // image
            });
            //- ------------------------------- report client
          $('#report').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('hwid')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
          });
          $('#report_cancel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')

            var modal = $(this)
            modal.find('.modal-body #id').val(id)
          });
          $('#report_hide').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')

            var modal = $(this)
            modal.find('.modal-body #id2').val(id)
          });
          //- ------------------------------ replace client
          $('#replacementofclient').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id  = button.data('id')
            var hwid = button.data('hwid')
            var clfname = button.data('clfname')
            var cllname = button.data('cllname')

            var modal = $(this)
            modal.find('.modal-header #hwname').text(clfname+' '+cllname)
            modal.find('.modal-body #id').val(id)
            //- modal.find('.modal-body #transno').val(transno)
            modal.find('.modal-body #hwid').val(hwid)

            });
          
          function PreviewImage2() {
              var oFReader = new FileReader();
              oFReader.readAsDataURL(document.getElementById("uploadImage2").files[0]);
              oFReader.onload = function (oFREvent) {
              document.getElementById("uploadPreview2").src = oFREvent.target.result;
              };
            };
